.catalog
	.catalog__list
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat.png", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 90х70х180 см
				.catalog-text Площадь - <span class="sque">0,63</span> м2
				.catalog-text.catalog-text__list Оснащение номера
					.eee Пустой номер
					img(src="img/catalog/shop/icon/1.svg", alt="").eee1
				.catalog-text Цена за сутки: <span class="catalog-price">100</span>₽
				button.button.button-orange Забронировать
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat1.jpg", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 90х100х180 см
				.catalog-text Площадь - <span class="sque">0,90</span> м2
				.catalog-text.catalog-text__list Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="")
					img(src="img/catalog/shop/icon/3.svg", alt="")
				.catalog-text Цена за сутки: <span class="catalog-price">200</span>₽
				button.button.button-orange Забронировать
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat2.jpg", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 100х125х180 см
				.catalog-text Площадь - 1,13 м2
				.catalog-text.catalog-text__list Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="")
					img(src="img/catalog/shop/icon/3.svg", alt="")
					img(src="img/catalog/shop/icon/4.svg", alt="")
				.catalog-text Цена за сутки: <span class="catalog-price">250₽</span>
				button.button.button-orange Забронировать
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat3.jpg", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 125х125х180 см
				.catalog-text Площадь - 0,63 м2
				.catalog-text.catalog-text__list Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="")
					img(src="img/catalog/shop/icon/3.svg", alt="")
					img(src="img/catalog/shop/icon/4.svg", alt="")
				.catalog-text Цена за сутки: <span class="catalog-price">350₽</span>
				button.button.button-orange Забронировать
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat4.jpg", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 90х70х180 см
				.catalog-text Площадь - 0,63 м2
				.catalog-text.catalog-text__list Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="")
					img(src="img/catalog/shop/icon/3.svg", alt="")
					img(src="img/catalog/shop/icon/4.svg", alt="")
					img(src="img/catalog/shop/icon/5.svg", alt="")
				.catalog-text Цена за сутки: <span class="catalog-price">500₽</span>
				button.button.button-orange Забронировать
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat5.jpg", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 90х70х180 см
				.catalog-text Площадь - 0,63 м2
				.catalog-text.catalog-text__list Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="")
					img(src="img/catalog/shop/icon/3.svg", alt="")
					img(src="img/catalog/shop/icon/4.svg", alt="")
					img(src="img/catalog/shop/icon/5.svg", alt="")
				.catalog-text Цена за сутки: <span class="catalog-price">600₽</span>
				button.button.button-orange Забронировать