.catalog
	.catalog__list
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat.png", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 90х70х180 см
				.catalog-text Площадь - <span class="sque">0,63</span> м2
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/1.svg", alt="").none-room
					.info-text Пустой номер
				.catalog-text Цена за сутки: <span class="catalog-price">100</span>₽
				button.button.button-orange Забронировать
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat1.jpg", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 90х100х180 см
				.catalog-text Площадь - <span class="sque">0,90</span> м2
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="").lotok-room
					.info-text Лежак
					img(src="img/catalog/shop/icon/3.svg", alt="").ball-room
					.info-text Когтеточка
				.catalog-text Цена за сутки: <span class="catalog-price">200</span>₽
				button.button.button-orange Забронировать
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat2.jpg", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 100х125х180 см
				.catalog-text Площадь - 1,13 м2
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="").lotok-room
					img(src="img/catalog/shop/icon/3.svg", alt="").ball-room
					img(src="img/catalog/shop/icon/4.svg", alt="").ball-room
				.catalog-text Цена за сутки: <span class="catalog-price">250₽</span>
				button.button.button-orange Забронировать
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat3.jpg", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 125х125х180 см
				.catalog-text Площадь - 1,56 м2
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="").lotok-room
					img(src="img/catalog/shop/icon/3.svg", alt="").ball-room
					img(src="img/catalog/shop/icon/4.svg", alt="").ball-room
				.catalog-text Цена за сутки: <span class="catalog-price">350₽</span>
				button.button.button-orange Забронировать
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat4.jpg", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 90х70х180 см
				.catalog-text Площадь - 2,56 м2
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="").lotok-room
					.info-text Лежак
					img(src="img/catalog/shop/icon/3.svg", alt="").claw-point-room
					.info-text Когтеточка
					img(src="img/catalog/shop/icon/4.svg", alt="").ball-room
					.info-text Игровой комплекс
					img(src="img/catalog/shop/icon/5.svg", alt="").house-room
					.info-text Домик
				.catalog-text Цена за сутки: <span class="catalog-price">500₽</span>
				button.button.button-orange Забронировать
		.catalog__list-item
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat5.jpg", alt="")
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 90х70х180 см
				.catalog-text Площадь - 2,88 м2
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="").lotok-room
					.info-text Лежак
					img(src="img/catalog/shop/icon/3.svg", alt="").claw-point-room
					.info-text Когтеточка
					img(src="img/catalog/shop/icon/4.svg", alt="").ball-room
					.info-text Игровой комплекс
					img(src="img/catalog/shop/icon/5.svg", alt="").house-room
					.info-text Домик
				.catalog-text Цена за сутки: <span class="catalog-price">600₽</span>
				button.button.button-orange Забронировать