.catalog
	.catalog__list
		.catalog__list-item(data-square="0,63", data-none="none-room")
			.catalog-photo
				a(href="apartament.html") <img src="img/catalog/shop/room/cat/cat.png" alt="">
			.description-info
				.catalog-title Эконом
				.catalog-text Размеры (ШхГхВ) - 90х70х180 см
				.catalog-text Площадь - 0,63м<sup>2</sup>
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/1.svg", alt="").none-room
					.info-text Пустой номер
				.catalog-text Цена за сутки: <span class="catalog-price">100</span>₽
				button.button.button-orange Забронировать
		.catalog__list-item(data-square="0,90", data-lotok="lotok-room", data-ball="claw-point-room")
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat1.jpg", alt="")
			.description-info
				.catalog-title Эконом плюс
				.catalog-text Размеры (ШхГхВ) - 90х100х180 см
				.catalog-text Площадь - 0,90м<sup>2</sup>
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="").lotok-room
					.info-text Лежак
					img(src="img/catalog/shop/icon/3.svg", alt="").claw-room
					.info-text Когтеточка
				.catalog-text Цена за сутки: 200₽
				button.button.button-orange Забронировать
		.catalog__list-item(data-square="1,13", data-lotok="lotok-room", data-ball="ball-room", data-claw="claw-point-room")
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat2.jpg", alt="")
			.description-info
				.catalog-title Комфорт
				.catalog-text Размеры (ШхГхВ) - 100х125х180 см
				.catalog-text Площадь - 1,13м<sup>2</sup>
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="").lotok-room
					img(src="img/catalog/shop/icon/3.svg", alt="").claw-point-room
					img(src="img/catalog/shop/icon/4.svg", alt="").ball-room
				.catalog-text Цена за сутки: 250₽
				button.button.button-orange Забронировать
		.catalog__list-item(data-square="1,56", data-lotok="lotok-room", data-ball="ball-room", data-claw="claw-point-room")
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat3.jpg", alt="")
			.description-info
				.catalog-title Сьют
				.catalog-text Размеры (ШхГхВ) - 125х125х180 см
				.catalog-text Площадь - 1,56м<sup>2</sup>
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="").lotok-room
					img(src="img/catalog/shop/icon/3.svg", alt="").claw-point-room
					img(src="img/catalog/shop/icon/4.svg", alt="").ball-room
				.catalog-text Цена за сутки: 350₽
				button.button.button-orange Забронировать
		.catalog__list-item(data-square="2,56", data-lotok="lotok-room", data-ball="ball-room", data-claw="claw-point-room", data-house="house-room")
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat4.jpg", alt="")
			.description-info
				.catalog-title Люкс
				.catalog-text Размеры (ШхГхВ) - 90х70х180 см
				.catalog-text Площадь - 2,56м<sup>2</sup>
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="").lotok-room
					.info-text Лежак
					img(src="img/catalog/shop/icon/3.svg", alt="").claw-point-room
					.info-text Когтеточка
					img(src="img/catalog/shop/icon/4.svg", alt="").ball-room
					.info-text Игровой комплекс
					img(src="img/catalog/shop/icon/5.svg", alt="").house-room
					.info-text Домик
				.catalog-text Цена за сутки: 500₽
				button.button.button-orange Забронировать
		.catalog__list-item(data-square="2,88", data-lotok="lotok-room", data-ball="ball-room", data-claw="claw-point-room", data-house="house-room")
			.catalog-photo
				img(src="img/catalog/shop/room/cat/cat5.jpg", alt="")
			.description-info
				.catalog-title Супер-Люкс
				.catalog-text Размеры (ШхГхВ) - 90х70х180 см
				.catalog-text Площадь - 2,88м<sup>2</sup>
				.catalog-text Оснащение номера
					img(src="img/catalog/shop/icon/2.svg", alt="").lotok-room
					.info-text Лежак
					img(src="img/catalog/shop/icon/3.svg", alt="").claw-point-room
					.info-text Когтеточка
					img(src="img/catalog/shop/icon/4.svg", alt="").ball-room
					.info-text Игровой комплекс
					img(src="img/catalog/shop/icon/5.svg", alt="").house-room
					.info-text Домик
				.catalog-text Цена за сутки: 600₽
				button.button.button-orange Забронировать