aside.filter
	form.catalog-filter
		.catalog-filter--title Цена за сутки,₽
		.catalog-filter--price
			input(type="text" name="" placeholder="от 100" min="100")
			input(type="text" name="" placeholder="до 600" max="600")
		.catalog-filter--title Площадь 
		.catalog-filter--square
			ul
				li 
					label
						input(type="checkbox" data-name="0,63")
						i.far.fa-square
						span.checkbox-text 0,63 м2
				li
					label
						input(type="checkbox" data-name="0,90")
						i.far.fa-square
						span.checkbox-text 0,90 м2
				li
					label
						input(type="checkbox" data-name="1,13")
						i.far.fa-square
						span.checkbox-text 1,13 м2
				li
					label
						input(type="checkbox" data-name="1,56")
						i.far.fa-square
						span.checkbox-text 1,56 м2
				li
					label
						input(type="checkbox" data-name="2,56")
						i.far.fa-square
						span.checkbox-text 2,56 м2
				li
					label
						input(type="checkbox" data-name="2,88")
						i.far.fa-square
						span.checkbox-text 2,88 м2
		.catalog-filter--title Оснащение номера
		.equipment-fliter
			ul
				li 
					label
						input(type="checkbox" data-room="none-room")
						i.far.fa-square
						span.checkbox-text Пустой номер
				li
					label
						input(type="checkbox" data-room="lotok-room")
						i.far.fa-square
						span.checkbox-text Лежак
				li
					label
						input(type="checkbox" data-room="claw-point-room")
						i.far.fa-square
						span.checkbox-text Когтеточка
				li
					label
						input(type="checkbox" data-room="ball-room")
						i.far.fa-square
						span.checkbox-text Игровой-комплекс
				li
					label
						input(type="checkbox" data-room="house-room")
						i.far.fa-square
						span.checkbox-text Домик
		button.button__filter--sumbit(type="button" ) Применить
		button.button__filter--reset(type="reset" ) Сбросить фильтр
