section.shop
	.container
		.section__row-1
			.tittle-wrapper
				h2 Наши номера
				.shop-filter 
					ul.shop-filter__list
						li.shop-filter__up По площади
						//- li.shop-filter__down По площади
						//- li.shop-filter__up По цене
						//- li.shop-filter__down По цене
		.section__row-2
			.catalog-box
				include ../Catalog/filter.pug
				include ../Catalog/catalog.pug
		.section__row-3
			.banner-wrap
				.banner-wrap__list
					h2 Каждый 7-й день
					.banner-wrap--tittle бесплатно!
					.banner-wrap-text Акция действует при размещении в номерах “Люкс” и “Супер-Люкс” 
					button.button Забронировать