.alike
	.container
		.alike__row-1 
		.section-tittle
			.logo
				img(src="img/header/logo.png", alt="")
			h2 Почему большинство средств против грибка малоэффективны
		.alike__row-2
			.alike__list
				.alike__list-item
					.alike__list-img
					img(src="", alt="")
					.alike__list-tittle
					.alike__list-subtittle
					span
					p.alike__list-text
					