.info__box
	h1.info__box-tittle Комплексное<br> избавление<br> от грибка - <br>
	.info__box-subtitle <span class="underline_orange">изнутри</span> и <span class="underline_green">снаружи</span>
	ul.info__list
		li.info__list-item Комплекс Микоцин <strong>устраняет<br> зуд, неприятный запах</strong> <br> и возвращает эстетичный вид
		li.info__list-item  <strong class="underline_orange">Таблетки</strong>  Микоцин<br> <strong>уничтожают все виды грибка</strong>  на ногтях и коже
		li.info__list-item <strong class="underline_green"> Гель </strong>Микоцин<br> <strong>восстанавливает кожу</strong> <br>и создает на ней <strong>защитный барьер</strong>