.alike {
  background-image: url("../img/section/alike/background.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.section__row-1 {
  padding-top: 170px;
}

@media (max-width: 425px) {
  .section__row-1 {
    padding-top: 70px;
  }
}

.section__list {
  display: flex;
  text-align: center;
}

@media (max-width: 768px) {
  .section__list {
    flex-wrap: wrap;
  }
}

.section__list-item {
  max-width: 370px;
  margin-right: 30px;
  background-color: white;
  border-radius: 8px;
  border-top: 5px solid #a8ca3f;
  position: relative;
  padding-bottom: 3 0px;
}

@media (max-width: 768px) {
  .section__list-item {
    max-width: 360px;
    margin: 0 auto;
  }
}

.section__list-item:last-child {
  margin-right: 0px;
}

@media (max-width: 768px) {
  .section__list-item:last-child {
    margin: 0 auto;
    margin-top: 60px;
  }
}

.section__list-item>span {
  color: $color-no;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 60px;
  display: block;
}

@media (max-width: 768px) {
  .section__list-item>span {
    margin-bottom: 11px;
    margin-top: 25px;
  }
}

.section__list-tittle {
  font-size: 24px;
  font-weight: bold;
  padding-top: 65px;
}

.section__list-subtittle {
  font-size: 18px;
  font-weight: 500;
}

.section__list-tittle,
.section__list-subtittle {
  max-width: 260px;
  margin: 0 auto;
}

.section__list-subtittle::after {
  content: "";
  background-image: url("../img/section/alike/line.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 340px;
  height: 15px;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .section__list-subtittle::after {
    top: 33%;
  }

  @media (max-width: 768px) {
    .section__list-subtittle::after {
      top: 36%;
    }
  }
}

.section__list-subtittle>span {
  display: inline-block;
  font-size: 16px;
  color: $color-gray;
  font-style: italic;
}

.section__list-text {
  padding: 0 30px;
  line-height: 24px;
  font-size: 18px;
}

.section__list-img {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  background-color: #f5fbfd;
  border-radius: 50%;
  background-position: center;
}

.section__list-img>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.attention__box-info--alike {
  position: absolute;
  background-image: url("../img/section/alike/background.png");
  background-position: center;
  width: 168px;
  top: 0%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .attention__box-info--alike {
    background-image: none;
  }
}

.section__row-3 {
  margin-top: 60px;
  padding-bottom: 150px;
}

@media (max-width: 768px) {
  .section__row-3 {
    padding-bottom: 20px;
  }
}