.header {
  background-image: url("../img/header/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    background-position: right top;
    background-size: contain;
  }
}

.promo-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
}

@media (max-width: 768px) {
  .promo-info {
    flex-wrap: wrap;
  }
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 195px;
  margin-right: 150px;
}

@media (max-width: 768px) {
  .header__logo {
    margin: 10px auto;
  }
}

.logo-text {
  font-size: 22px;
  font-weight: bolder;
}

@media (max-width: 425px) {
  .logo-text {
    font-size: 25px;

  }
}

.promo__list {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media (max-width: 425px) {
  .promo__list {
    display: none;
  }
}

.promo__list-item {
  position: relative;
  margin-right: 85px;
  font-style: italic;
  font-size: 16px;
  color: $color-gray;
}

.promo__list-item:last-child {
  margin-right: 0;
}

.promo__list-item:first-child:before {
  position: absolute;
  background-image: url("../img/header/icon/1.png");
  background-repeat: no-repeat;
  content: "";
  width: 39px;
  height: 39px;
  top: 50%;
  left: -20%;
  transform: translate(-50%, -50%);
}

.promo__list-item:nth-child(2) {
  margin-right: 90px;
}

.promo__list-item:nth-child(2):before {
  position: absolute;
  background-image: url("../img/header/icon/2.png");
  background-repeat: no-repeat;
  content: "";
  width: 39px;
  height: 39px;
  top: 50%;
  left: -20%;
  transform: translate(-50%, -50%);
}

.promo__list-item:nth-child(3):before {
  position: absolute;
  background-image: url("../img/header/icon/3.png");
  background-repeat: no-repeat;
  content: "";
  width: 39px;
  height: 39px;
  top: 50%;
  left: -20%;
  transform: translate(-50%, -50%);
}

.header__row-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 55px;
}

.header__col-1 {
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex-wrap: wrap;
}

.promo-img {
  position: absolute;
  bottom: -23%;
  left: -87%;
}

@media (max-width: 1024px) {
  .promo-img {
    bottom: -40%;
    left: -62%;
  }
}

@media (max-width: 768px) {
  .promo-img {
    position: static;
    order: 3;
  }
}

@media (max-width: 425px) {
  .promo-img {
    order: 0;
  }
}

.header__price-orange,
.header__price-green {
  position: absolute;
  font-size: 34px;
  font-weight: 700;
  color: white;
  top: 59%;
  left: -38%;
  z-index: 1;
}



.header__price-green {
  top: 80%;
  left: -23%;
}

@media (max-width: 1024px) {
  .header__price-orange {
    top: 76%;
    left: -13%;
  }

  .header__price-green {
    top: 97%;
    left: 2%;
  }

  @media (max-width: 768px) {
    .header__price-orange {
      top: 60%;
      left: 52%;
    }

    .header__price-green {
      top: 73%;
      left: 66%;
    }
  }

  @media (max-width: 425px) {
    .header__price-orange {
      top: 0%;
      left: 48%;
      font-size: 20px;
    }

    .header__price-green {
      top: 5%;
      left: 64%;
      font-size: 20px;
    }
  }

  @media (max-width: 375px) {
    .header__price-orange {
      top: 0%;
      left: 48%;
      font-size: 19px;
    }

    .header__price-green {
      top: 65px;
      left: 64%;
      font-size: 19px;
    }
  }

  @media (max-width: 320px) {
    .header__price-orange {
      top: 0%;
      left: 48%;
      font-size: 17px;
    }

    .header__price-green {
      top: 53px;
      left: 181px;
      font-size: 17px;
    }
  }
}