.container
	.section__row-1
		.section__col-1
		.stages
			.stages__item.one
				.stages__item-circle.boock
				.stages__item-text Приём и детальное обсуждение заказа
			.stages__item.two
				.stages__item-circle.tablepc
				.stages__item-text Создание и согласование дизайн-макета
			.stages__item.three
				.stages__item-circle.writer
				.stages__item-text Печать и постпечатная обработка изделий любых размеров
			.stages__item.four
				.stages__item-circle.moving
				.stages__item-text Доставка готовой продукции
			.stages__item.five
				.line
		.section__col-2
			h2.paragraph-text 1. О нас
			h2.paragraph-title Полный спектр услуг — </br>от дизайна до печати
			p.about-text-item К вашим услугам мы предлагаем полный спектр работ, начиная от печати открыток, чертежей, баннеров, растяжек, создания буклетов и эксклюзивных календарей, и заканчивая постпечатной обработкой.
			p.about-text-item В копицентре не просто предоставляют услуги печати: мы ориентируемся на комплексное обслуживание. Все услуги, будь то оперативная цифровая печать открыток или разработка серии календарей, Вы можете получить в одном месте, воспользовавшись сопутствующими услугами копицентра. 
			p.about-text-item При этом работа выполняется в максимально сжатые сроки и не в ущерб качеству конечного результата, которое неизменно остается на высоте.
	.section__row-2
		.double-line