.container
	.section__row-1
		.section__col-1
			img(src="/img/section/item/scheme_step.png", alt="").stage_scheme
			img(src="/img/section/item/scheme_step_750px.png", alt="").stage_scheme_750px
		.section__col-2
			h2.paragraph-text 1. О нас
			h2.paragraph-title Полный спектр услуг — </br>от дизайна до печати
			p.about-text-item К вашим услугам мы предлагаем полный спектр работ, начиная от печати открыток, чертежей, баннеров, растяжек, создания буклетов и эксклюзивных календарей, и заканчивая постпечатной обработкой.
			p.about-text-item В копицентре не просто предоставляют услуги печати: мы ориентируемся на комплексное обслуживание. Все услуги, будь то оперативная цифровая печать открыток или разработка серии календарей, Вы можете получить в одном месте, воспользовавшись сопутствующими услугами копицентра. 
			p.about-text-item При этом работа выполняется в максимально сжатые сроки и не в ущерб качеству конечного результата, которое неизменно остается на высоте.
	.section__row-2
		.double-line