.faq(id="faq")
	.container
		.section__row-1
			h2.paragraph-text 4. Частые вопросы (FAQ)
		.section__row-2
			.section__col-1
				.faq__list
					.faq__list-item
						.faq__list-item-tittle Что такое макет?
						p.faq__list-item-text Макет — это будущее печатное изделие в электронном формате. Верстают (собирают) макет в специализированном программном обеспечении. 
					.faq__list-item
						.faq__list-item-tittle У меня есть готовый макет
						p.faq__list-item-text Вы можете привезти его к нам в офис на любом удобном для вас носителе (диск, флешка). В присутствии вас мы обработаем ваш макет и отправим его в производство.
					.faq__list-item
						.faq__list-item-tittle У меня нет макета
						p.faq__list-item-text В нашем штате работают професиональные дизайнеры, которые с ваших слов или в вашем присутствии сверстают макет, который после утверждения также будет отправлен в печать.
			.section__col-2
				.faq__list
					.faq__list-item
							.faq__list-item-tittle Сколько времени занимает печать?
							p.faq__list-item-text В том случае если изображение готово к печати, изготовление занимает около 3 часов. Также время изготовления зависит от нашей загруженности.
					.faq__list-item
							.faq__list-item-tittle Я не могу приехать к вам в офис
							p.faq__list-item-text Отправьте нам изображение по электронной почте, укажите свой телефон. Мы свяжемся с вами для уточнения деталей. Готовое изделие мы доставим вам курьером.
					.faq__list-item
							.faq__list-item-tittle Вызов курьера бесплатный?
							p.faq__list-item-text В зависимости от соимости заказа, курьер может доставить вам продукцию бесплатно (при соимости от 600 руб.) или от 150 руб. в пределах Ярославля и до 500 руб. в пределах Ярославской области.
		.section__row-3
			.calltoaction__form
				img(src="img/section/faq/question_logo.png", alt="").calltoaction__form-logo
				.section__calltoaction-text <span class="little-text">Есть вопросы?</span> <br> Оставьте заявку на консультацию
					form
						input.calltoaction__form-input(type="text" placeholder="Имя" aria-label="Ввод вашего имени для заказа консультации")
						input.calltoaction__form-input(type="tel" placeholder="Телефон" aria-label="Ввод вашего телефона для заказа консультации")
						button.send Отправить
		.section__row-4
			.double-line