.feedback(id="feedback")
	.container
		.section__row-1
			h2.paragraph-text 3. Отзывы
		.section__row-2
			.container
				.slider
					.slider__list-item
						.list__col-1
							img(src="img/section/photo/nattella.png", alt="").slider__list-item-photo
						.list__col-2
							p.slider__list-item-text Обратился в компанию АртАктив за визитками. Это мой первый опыт, поэтому немного нервничал, не знал, с чего начать. Остался доволен, потому что мне всё объяснили, показали и сделали по высшему разряду. Советую!
							span.slider__list-item-full-name Александров Максим, 24 года
							a(href="vk.com/mr.sharp").slider__list-item-social-link vk.com/mr.sharp
					.slider__list-item.slider__list-item--active
						.list__col-1
							img(src="img/section/photo/alexandr.png", alt="").slider__list-item-photo
						.list__col-2
							p.slider__list-item-text Обратился в компанию АртАктив за визитками. Это мой первый опыт, поэтому немного нервничал, не знал, с чего начать. Остался доволен, потому что мне всё объяснили, показали и сделали по высшему разряду. Советую!
							span.slider__list-item-full-name Александров Максим, 24 года
							a(href="vk.com/mr.sharp").slider__list-item-social-link vk.com/mr.sharp
					.slider__list-item
						.list__col-1
							img(src="img/section/photo/veronika.png", alt="").slider__list-item-photo
						.list__col-2
							p.slider__list-item-text Обратился в компанию АртАктив за визитками. Это мой первый опыт, поэтому немного нервничал, не знал, с чего начать. Остался доволен, потому что мне всё объяснили, показали и сделали по высшему разряду. Советую!
							span.slider__list-item-full-name Александров Максим, 24 года
							a(href="vk.com/mr.sharp").slider__list-item-social-link vk.com/mr.sharp
					.slider__list-item
						.list__col-1
							img(src="img/section/photo/nattella.png", alt="").slider__list-item-photo
						.list__col-2
							p.slider__list-item-text Обратился в компанию АртАктив за визитками. Это мой первый опыт, поэтому немного нервничал, не знал, с чего начать. Остался доволен, потому что мне всё объяснили, показали и сделали по высшему разряду. Советую!
							span.slider__list-item-full-name Александров Максим, 24 года
							a(href="vk.com/mr.sharp").slider__list-item-social-link vk.com/mr.sharp
