footer(id="contact")
	<iframe class="footer-maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d871.8343349170225!2d30.5606851636049!3d50.49366656951048!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x271966cb3f0d18b1!2sSkyMall!5e0!3m2!1sru!2sua!4v1575846987572!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	.section__row-1 
		.container
			.contacts
				h2.paragraph-text 5. Контакты
				.contacts__adress г. Ярославль, проспект Октября, 88
				.contacts__email art-aktiv.76@mail.ru
				a(href="tel:+79201488131").contacts__phone +7 (920) 148 81 31
	.section__row-2
		span.company-name ООО «АртАктив», 2017 ©
		a.nda(href="#") Политика конфиденциальноси
		span.designer Designed by Sergey Strogiy