.header
	.container
		.header__row-1
			.header__col-1
						img.logo(src="img/header/Artactive-logo.png", alt="")
			.header__col-2
					nav.header__nav-menu
						a(href="") О нас
						a(href="") Услуги
						a(href="") Отзывы
						a(href="") Faq
						a(href="") Контакты
			.header__col-3
					a.header-phone(href="tel:+7(920)1488131") +7 (920) 148 81 31
			.header__col-4
				include ../blocks/burger_menu.pug
				button.button(data-id="modal-callback") Заказать звонок
		.header__row-2
			.header__col-1
				img.header__brand-pic(src="img/header/alternative.png", alt="")
			.header__col-2
				.header__slogan
					.header__slogan-hero-text Размер</br> не имеет</br> значения!
					.header__slogan-text Оперативная полиграфия</br> и широкоформатная печать </br> любого размера 
				.header__calltoaction
					button.buy Заказать печать
					.header__calltoaction-text с доставкой по Ярославлю </br> и Ярославской области
		.header__row-3.animated.bounce
			a(href="#abou_us").scroll