.modal-callback
	.calltoaction__form.animated(data-id="callback-animated")
		.section__calltoaction-text <span class="little-text">Есть вопросы?</span> <br> Закажите звонок
			form
				input.calltoaction__form-input(type="text" placeholder="Имя")
				input.calltoaction__form-input(type="tel" placeholder="Телефон")
				button.buy Отправить
		.modal-callback__close
			img(src="../img/section/icon/close.png", alt="")