.modal
	.modal-background.animated
		nav.modal__nav-menu
			a(href="") О нас
			a(href="") Услуги
			a(href="") Отзывы
			a(href="") Faq
			a(href="") Контакты
		.modal-contact
			a.modal-contact.phone(href="tel:+7(920)1488131") +7 (920) 148 81 31
		.modal__calltoaction
			button.buy Заказать звонок
		.modal__close