.sercice-print-img.flower
	.container
		.section__row-1
			.section__col-1
			.section__col-2
				h2.paragraph-title Широкоформатная печать <br>для вашего интерьера
				p.about-text-item Печатаем широкоформатные фотографии на глянцевой и матовой фотобумаге разной плотности, на глянцевом и матовом холсте или на самоклеющейся пленке. также можем предложить обработку и редактирование ваших фотографий силами наших дизайнеров: композиции, фотоколлаж, ретушь, различные эффекты
				button.buy Оставить заявку
		.section__row-2
			img.sercice-print-img.sofa(src="/img/section/item/sofa.png", alt="картинка с диваном")
		.section__row-3
			.double-line