.services-list(id="services")
	.container
		.section__row-1
			.section__col-1
				h2.paragraph-text 2. Услуги
					h2.paragraph-title Широкоформатная печать<br> баннеров, растяжек, афиш
					ul.service-list
						li.service-list-item подготовка макетов к печати, дизайн рекламных баннеров
						li.service-list-item срочная печать за 3 часа
						li.service-list-item проварка карманов и сварка нескольких изображений
						li.service-list-item пробивка люверсов и вварка монтажных тросов
						li.service-list-item изготовление цветопробы
						li.service-list-item доставка баннеров
				.section__calltoaction
					.section__calltoaction-text <span class="little-text">Есть вопросы?</span> <br> Закажите консультацию
					button.buy Заказать
			.section__col-2
				.service__slider#slider-service-list
					.service__slider-list
						img.slider-img(src="img/section/item/service-promo.jpg", alt="Изображение рекламы")
						img.slider-img(src="img/section/item/service-promo2.jpg", alt="Реклама взрыв красок")
						img.slider-img(src="img/section/item/service-promo3.jpg", alt="Реклама советская женщина")
						img.slider-img(src="img/section/item/service-promo4.jpg", alt="Изображение рекламы с девушкой")
					.slider-button
						button( aria-label="Кнопка слайдера назад" ).prev-slide(data-btn="prve")
						button(aria-label="Кнопка слайдера вперед" ).next-slide(data-btn="next")
						span.slider-botton-text Растяжка на ул. Ленина
			.section__col-3
				.section__calltoaction--tablet
					.section__calltoaction-text-little Есть вопросы?
					.section__calltoaction-text Закажите консультацию
					button.buy Заказать