.container
	.section__row-1
		.section__col-1
			h2.paragraph-title Оперативная полиграфия — <br>от визитки до баннера
			p.about-text-item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br> <br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error. 
		.section__col-2
			img(src="/img/section/item/firstil.png", alt="").card-img
	.section__row-2
		.calltoaction__form
			.section__calltoaction-text <span class="little-text">Есть вопросы?</span> <br> Оставьте заявку на консультацию
				form
					input.calltoaction__form-input(type="text" placeholder="Имя")
					input.calltoaction__form-input(type="tel" placeholder="Телефон")
					button.buy Отправить
				.calltoaction__form-line
				.calltoaction__form-airplane