.faq_item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

@media (max-width: 700px) {
	.faq_item {
		flex-direction: column;
	}
}

.faq_item:last-child {
	margin-bottom: 0;
}

.faq_item_body--img {
	margin-right: 30px;
}

@media (max-width: 800px) {
	.faq_item_body--img {
		width: 50%;
	}

	@media (max-width: 700px) {
		.faq_item_body--img {
			margin-bottom: 20px;
			margin-right: 0;
		}
	}
}

.faq_item_title {
	font-family: $fair;
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: bold;
}

@media (max-width: 800px) {
	.faq_item_title {
		font-size: 24px;
		text-align: center;
	}

	@media (max-width: 700px) {
		.faq_item_title {
			text-align: center;
		}
	}
}

.faq_item_body--text {
	font-family: "Circe";
	max-width: 600px;
	font-size: 20px;
	line-height: 1.2;
}

@media (max-width: 800px) {
	.faq_item_body--text {
		font-size: 18px;
	}

	@media (max-width: 700px) {
		.faq_item_body--text {
			text-align: center;
		}
	}

	@media (max-width: 450px) {
		.faq_item_body--text {
			font-size: 16px;
		}
	}
}