.faq {
	margin-top: 100px;
}

.faq_list {
	position: relative;
	color: #192430;
}

.faq_item {
	// border-left: 8px solid #a2adb6;
	padding: 10px 0 10px 15px;
}

.faq_item_title {
	font-family: $fair;
	font-size: 28px;
	text-transform: uppercase;
	position: relative;
	text-align: center;
}

.faq_show_all .faq_item_title {
	font-weight: 900;
	padding-left: 23px;
	margin-top: 20px;
}

.faq_item_title_inner {
	display: inline-block;
	position: relative;
	padding: 0 60px 0 0;
	cursor: pointer;
}

.faq_item_title_inner:hover:before {
	transform: translateY(1px);
}

.faq_item_title_inner:before {
	position: absolute;
	content: '';
	right: 10px;
	top: 0;
	width: 40px;
	height: 100%;
	background-image: url("../img/section/faq/arrow.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	cursor: pointer;
	transition: 0.4s;
	transition-timing-function: ease-in-out;
}

// .faq_item_title_inner.open:before {
// 	transform: rotate(180deg);
// }

.faq_item_body {
	padding: 30px;
	box-sizing: border-box;
	display: none;
}

.faq_item_body--list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.faq_item_body--text {
	font-family: "Circe";
	max-width: 600px;
	font-size: 20px;
	line-height: 1.3;
}