.feedback-clients {
	position: relative;
}

.feedback-clients__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width:670px) {

	.feedback-clients__item {
		flex-direction: column;
	}
}

@media (max-width:670px) {

	.feedback-clients--photo {
		margin-bottom: 10px;
	}
}

.feedback-clients--info {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin-left: 40px;
}

@media (max-width:670px) {
	.feedback-clients--info {
		margin-left: 0px;
	}
}

.clients--name,
.clients--fblink {
	margin-bottom: 10px;
	font-size: 20px;
}

@media (max-width:670px) {

	.clients--name,
	.clients--fblink,
	.clients--text {
		font-size: 18px;
		text-align: center;
	}
}

.clients--text {
	margin-bottom: 10px;
	line-height: 1.2;
	font-size: 18px;
}

@media (max-width:570px) {
	.clients--text {
		font-size: 16px;
	}
}