.header {
  background-image: url("../img/header/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 937px;
}

@media (max-width: 752px) {
  .header {
    background-position-x: -400px;
  }

  @media (max-width: 430px) {
    .header {
      background-position-x: -444px;
    }

    @media (max-width: 400px) {
      .header {
        background-position-x: -520px;
      }
    }
  }
}

.header__row-1 {
  padding-top: 30px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menu__list-item {
  margin-left: 45px;
  transition: width 0.6s ease-in-out;
}

@media (max-width: 910px) {
  .menu__list-item {
    margin-left: 30px;
  }

  @media (max-width: 910px) {
    .menu__list-item {
      margin-left: 15px;
    }
  }
}

.menu__list-item::after {
  display: block;
  content: "";
  height: 2px;
  width: 0;
  background-color: $gold;
  transform: translateY(0.1rem);
  transition: width 0.6s ease-in-out;
}

.menu__list-item:hover:after,
.menu__list-item:focus:after {
  width: 100%;
}

.menu__list-item:first-child {
  margin-left: 0;
}

@media (max-width: 910px) {
  .menu__list-item:first-child {
    margin-left: 10px;
  }
}

.nav__link {
  font-family: "Circe";
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.header__phone {
  font-family: "Circe";
  color: white;
  font-weight: bold;
}

@media (max-width: 810px) {

  .header__phone,
  .menu {
    display: none;
  }
}

.burger__menu {
  display: none;
}

@media (max-width: 810px) {
  .burger__menu {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../img/header/1.png");
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.header__row-2 {
  margin-top: 55px;
  padding-left: 280px;
}

@media (max-width: 1558px) {
  .header__row-2 {
    padding-left: 200px;
  }

  @media (max-width: 1306px) {
    .header__row-2 {
      padding-left: 60px;
    }
  }

  @media (max-width: 1142px) {
    .header__row-2 {
      padding-left: 40px;
    }
  }

  @media (max-width: 940px) {
    .header__row-2 {
      padding-left: 20px;
    }
  }
}

.header__ifo {
  color: $gold;
  max-width: 555px;
}

.header__info-title {
  font-family: $fair;
  font-size: 68px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

@media (max-width: 1060px) {
  .header__info-title {
    font-size: 60px;
  }

  @media (max-width: 940px) {
    .header__info-title {
      font-size: 50px;
    }

    @media (max-width: 506px) {
      .header__info-title {
        font-size: 45px;
      }

      @media (max-width: 402px) {
        .header__info-title {
          font-size: 34px;
        }

        @media (max-width: 320px) {
          .header__info-title {
            font-size: 30px;
          }
        }
      }
    }
  }
}

.header__tinfo-text {
  font-family: "Circe";
  font-size: 26px;
  margin-bottom: 50px;
  margin-left: 20px;
  letter-spacing: 3px;
}

@media (max-width: 940px) {
  .header__tinfo-text {
    font-size: 22px;
  }
}

.button-header {
  margin-bottom: 90px;
  margin-left: 50px;
  display: inline-block;
}

@media (max-width:420px) {
  .button-header {
    margin-left: 5px;
  }
}

.header__info-delivery {
  font-family: "Circe";
  font-size: 16px;
  text-transform: uppercase;
  color: #fcd7c7;
  line-height: 1.7;
  max-width: 285px;
  display: flex;
  align-items: center;
}

.header__info-delivery::before {
  content: "";
  background-image: url("../img/header/icon/delivery.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 33px;
  display: block;
  margin-right: 30px;
}

.header__info-delivery {
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}