.slogan {
	background-image: url("../img/section/slogan/background.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

@media (max-width:1035px) {
	.slogan {
		background-position: top;
	}
}

.slogan-box__list {
	text-align: right;
	vertical-align: middle;
	padding-top: 40px;
	padding-bottom: 10px;
}

.slogan-box__list-item {
	color: white;
	margin-bottom: 50px;
}

.slogan-box__list-item :last-child {
	margin-bottom: 0px;
}

.slogan-box--title {
	font-family: $fair;
	font-size: 60px;
	margin-bottom: 12px;
}

@media (max-width:1035px) {
	.slogan-box--title {
		font-size: 55px;
	}
}

.slogan-box--text {
	font-family: "Circe";
	font-size: 24px;
}

@media (max-width:1035px) {
	.slogan-box--text {
		font-size: 20px;
	}
}