doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name="description" content="Отель для настоящик кошек.Размести свое мурчало в нашем классном отеле.")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
		link(rel='stylesheet', href='css/style.css')
		title Catalog
	body
		.wrapper
			include ../blocks/catalog/header.pug
			include ../blocks/catalog/shop.pug
			include ../blocks/footer.pug
		script(src="js/app.js?v3")
		script(src="js/test.js?v3")