footer {
	background-color: #ffffff;
}

.category__nav {
	display: flex;
	justify-content: space-between;
}

.category__nav-list {
	margin-top: 60px;
	display: inline-block;
	text-align: start;
	width: 255px;
}

.category-list-item-big {
	font-weight: 500;
	font-size: 16px;
	line-height: 140.62%;
	border-bottom: 1px solid red;
	padding-bottom: 30px;
}

.category-list-item {
	font-weight: normal;
	font-size: 12px;
	line-height: 28px;
	color: #828282;
}