footer {
	background-color: #ffffff;
}

.category__nav {
	display: flex;
	justify-content: space-between;
}

.category__nav-list {
	margin-top: 60px;
	display: inline-block;
	text-align: start;
	width: 255px;
}

.category-list-item-big {
	// width: 25%;
	font-weight: 500;
	font-size: 16px;
	line-height: 140.62%;
	padding-bottom: 30px;
	border-bottom: 1px solid #efefef;
}

.category-list-item {
	font-weight: normal;
	font-size: 12px;
	line-height: 28px;
	color: #828282;
}

ul>li:nth-child(2) {
	padding-top: 25px;
}

ul>li:last-child {
	padding-bottom: 60px;
}

// -----------------------------------------------------------------------
.footer__row-2 {
	border-top: 1px solid rgba(130, 130, 130, 0.4);
	padding: 37px 0;
}

.footer__row-2 .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 255px;
}

.social-icon__item {
	border: 2px solid #f13c6e;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Font Awesome 5 Brands";
	font-weight: 400;
	font-size: 25px;
	color: #f13c6e;
}

.youtube::before {
	content: "\f167";
}

.vk::before {
	content: "\f189";
}

.fb::before {
	content: "\f39e";
}

.inst::before {
	content: "\f16d";
}

.footer__row-3 {
	background-color: #efefef;
	padding: 25px 0;
}

.footer__row-3 .container {
	display: flex;
	justify-content: space-between;
}

.footer-small-text {
	font-size: 12px;
	line-height: 14px;
	color: #828282;
}