footer {
	background-color: #ffffff;
}

.category__nav {
	display: flex;
	justify-content: space-between;
}

.category__nav-list {
	margin-top: 60px;
	display: inline-block;
	text-align: start;
	width: 255px;
}

.category-list-item-big {
	width: 25%;
	font-weight: 500;
	font-size: 16px;
	line-height: 140.62%;
	padding-bottom: 30px;
}

.category-list-item-big::after {
	content: "";
	position: absolute;
	bottom: 253px;
	width: 13%;
	height: 2px;
	background: #EFEFEF;
}

.category-list-item {
	font-weight: normal;
	font-size: 12px;
	line-height: 28px;
	color: #828282;
}

ul>li:nth-child(2) {
	padding-top: 25px;
}

ul>li:last-child {
	padding-bottom: 60px;
}