.footer__row-1 {
	display: flex;
	justify-content: space-between;
	padding: 20px 0px 17px 0px;
}

@media (max-width: 425px) {
	.footer__row-1 {
		flex-direction: column;
		align-items: center;
	}
}


.footer__info>a {
	font-size: 15px;
	line-height: 24px;
	color: #272727;
	text-align: center;
	padding-left: 30px;
}

.footer__copyright {
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #272727;
}