header {
	background-image: url("../img/header/Background.svg");
	background-repeat: no-repeat;
	min-height: 793px;
	background-size: cover;
	background-position: top center;
}

.header__row-1 {
	padding-top: 30px;
	padding-bottom: 41px;
}

.header-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

@media (max-width: 768px) {
	.header-box {
		flex-wrap: wrap;
	}
}

.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__logo-text {
	padding-left: 12px;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
}

.menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 560px) {
	.menu__list {
		display: none;
	}
}

.menu__list-item {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	opacity: 0.5;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	padding-right: 50px;
}

.menu__list-item:hover {
	opacity: 1;
}

.menu__list-item:last-child {
	padding-right: 0px;
}

@media (max-width: 768px) {
	.header__login {
		width: 100%;
		text-align: right;
		padding-top: 10px;
	}
}

@media (max-width: 560px) {
	.header__login {
		display: none;
	}
}

.header__login-item {
	color: white;
	padding-right: 43px;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}

.white-login {
	color: #250F8A;
	background: #FFFFFF;
	border-radius: 20px;
	padding: 8px 43px;
	transition: 0.3s;
}

.white-login:hover {
	background-color: black;
	color: white;
	transition: 0.3s;
}

.burger {
	width: 50px;
	height: 50px;
	display: none;
	background-image: url("../img/header/burger_menu.svg");
	background-color: transparent;
}

@media (max-width: 560px) {
	.burger {
		display: flex;
		// fill: white;
	}
}