.modal__menu {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
}

.modal__menu-background {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 600px;
	right: 0;
	left: 0;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}

.modal__logo {
	padding-top: 30px;
}

.header__logo-text--moddal {
	color: black;
}

.modal__lsit {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 70px;
}

.modal__list-item {
	display: block;
	color: black;
	padding: 0;
	padding: 10px;
	font-size: 20px;
}

.header__login-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 30px;
}

.modal__login {
	color: black;
	padding: 0;
	font-size: 20px;
	padding-bottom: 20px;
}

.modal__login-back {
	background-color: black;
	color: white;
	font-size: 20px;
}

.socialmedia {
	width: 300px;
	margin-top: 60px;
}

.socialmedia__list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.socialmedia__list-item {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid black;
	position: relative;
}

.fb::after {
	font-family: "Font Awesome 5 Brands";
	font-weight: 900;
	font-size: 20px;
	content: "\f39e";
	color: blue;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.google::after {
	font-family: "Font Awesome 5 Brands";
	font-weight: 900;
	font-size: 20px;
	content: "\f0d5";
	color: red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.youtube::after {
	font-family: "Font Awesome 5 Brands";
	font-weight: 900;
	font-size: 20px;
	content: "\f167";
	color: red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tw::after {
	font-family: "Font Awesome 5 Brands";
	font-weight: 900;
	font-size: 20px;
	content: "\f099";
	color: #00acee;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.active {
	display: block;
}

.modal__close {
	border: 1px solid black;
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	bottom: -2%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.modal__close::before {
	content: "";
	background-image: url("../img/header/close.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	transition: 0.3s ease-in-out;
	width: 40px;
	height: 40px;
	display: block;
}

.modal__close:hover::before {
	transform: rotate(93deg);
	transition: 0.3s ease-in-out;
}