.services {
	background-image: url("../img/section/services/background-img.svg");
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	height: 100%;
}

h2 {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 45px;
	color: #202020;
}

.hero__text {
	text-align: center;
	margin-top: 55px;
	margin-bottom: 96px;
}

.services__list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.services__list-item {
	width: 280px;
	margin-right: 70px;
}

.services__list-item:last-child {
	margin-right: 0;
}

.services__list-item.title {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #202020;
	margin-bottom: 10px;
}

.services__list-item.text {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #272727;
	mix-blend-mode: normal;
	opacity: 0.7;
}

.services__row-2 {
	padding-bottom: 93px;
}