.swiper-container {
	width: 1130px;
	height: 500px;
}

.swiper-slide {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.swiper-pagination {
	color: red;
}

.slider__info {
	max-width: 506px;
}

.slider__info-tittle {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 60px;
	color: #FFF;
	margin-bottom: 10px;
}

.slider__info-text {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 55px;
	color: #FFF;
	margin-bottom: 60px;
}

.slider__info-button {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #250F8A;
	text-transform: uppercase;
	background: #FFCA00;
	border-radius: 25px;
	padding: 13px 39px;
}

.slider__info-button:hover {
	background-color: black;
	color: white;
}