.swiper-container {
  width: 1120px;
  height: 500px;
  margin: 0;
}

@media (max-width: 1024px) {
  .swiper-container {
    width: 950px;
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .swiper-container {
    width: 750px;
  }
}

@media (max-width: 425px) {
  .swiper-container {
    width: 365px;
    height: 393px;
  }
}

@media (max-width: 375px) {
  .swiper-container {
    width: 337px;
    height: 393px;
  }
}

@media (max-width: 320px) {
  .swiper-container {
    width: 280px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 425px) {
  .swiper-slide {
    justify-content: start;
    flex-direction: column;
  }
}

.swiper-container-vertical>.swiper-pagination-bullets {
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .swiper-container-vertical>.swiper-pagination-bullets {
    right: 0px;
  }
}

@media (max-width: 768px) {
  .swiper-container-vertical>.swiper-pagination-bullets {
    right: 20px;
  }
}

@media (max-width: 425px) {
  .swiper-container-vertical>.swiper-pagination-bullets {
    right: 0px;
  }
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  mix-blend-mode: normal;
  border-radius: 3.5px;
}

.swiper-pagination-bullet-active {
  background-image: url("../img/header/slider/icon/active.svg");
  width: 15px;
  height: 7px;
  background-repeat: no-repeat;
  background: rgba(255, 255, 255, 1);
  border-radius: 3.5px;
}

.slider__info {
  max-width: 506px;
}

@media (max-width: 768px) {
  .slider__info {
    max-width: 660px;
  }
}

@media (max-width: 425px) {
  .slider__info {
    max-width: 370px;
    margin-bottom: 15px;
  }
}

.slider__info-tittle {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .slider__info-tittle {
    font-size: 35px;
    line-height: 30px;
  }
}

@media (max-width: 425px) {
  .slider__info-tittle {
    font-size: 25px;
  }
}

.slider__info-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 55px;
  color: #fff;
  margin-bottom: 60px;
}

@media (max-width: 425px) {
  .slider__info-text {
    font-size: 14px;
    line-height: 20px;
  }
}

.slider__info-button {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #250f8a;
  text-transform: uppercase;
  background: #ffca00;
  border-radius: 25px;
  padding: 13px 39px;
  transition: 0.3s;
}

.slider__info-button:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.slider__img {
  margin-left: 68px;
}

@media (max-width: 768px) {
  .slider__img {
    margin-right: 68px;
    margin-left: 0px;
  }
}