.works {
	background-color: #F4F9FD;
	background-image: url("../img/section/works/bacground-el.svg");
	background-repeat: no-repeat;
	background-position: right;
	background-position-y: 720px;
}

@media (max-width: 1521px) {
	.works {
		background-image: none
	}
}

.works__row-1 {
	padding-top: 91px;
	padding-bottom: 55px;
}

.works__box-item {
	max-width: 1150px;
	height: 510px;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 760px) {
	.works__box-item {
		flex-direction: column-reverse;
	}

	@media (max-width: 425px) {
		.works__box-item {
			margin-top: 50px;
		}
	}
}

.works__box-item--revers {
	flex-direction: row-reverse;
}

@media (max-width: 760px) {
	.works__box-item--revers {
		flex-direction: column-reverse;
		margin-top: 90px;
	}

	@media (max-width: 355px) {
		.works__box-item--revers {
			margin-top: 170px;
		}
	}
}

.works__box-info {
	max-width: 455px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (max-width: 760px) {
	.works__box-info {
		margin: 0 auto;
	}
}

.works__box-img {
	width: 667px;
}

@media (max-width: 815px) {
	.works__box-img {
		width: 500px;
		margin: auto;
	}
}

@media (max-width: 760px) {
	.works__box-img {
		width: 350px;
	}

	@media (max-width: 425px) {
		.works__box-img {
			width: 280px;
		}
	}
}

.works__box-info--tittle {
	position: relative;
}

.works__box-info-img {
	position: absolute;
	top: -54px;
	left: -21px;
}

.works__box-info-img--revers {
	top: 5px;
	left: -21px;
}

.works__box-info--text {
	max-width: 420px;
	margin-top: 15px;
	font-size: 15px;
	line-height: 24px;
	color: #272727;
}

.works__box-info--text p {
	margin: 10px 0;
}

p {
	display: inline-block;
}