section.about_us#aboutme
	.container
		.section__row-1
			.about-me
				.about-me--photo
					img(src="img/section/about_me/myphoto.png", alt="")
				.about-me--info
					.about-me--title Приветствуем вас в пространстве “Орехов и вкусностей”.
					.about-me--text Меня зовут Игорь Шведун. И я основатель этого вкусного дела. Бизнесу по орехам и сухофруктам более 4лет, и я могу считать себя экспертом в этой области. Занимаюсь психологией, йогой и поддерживаю здоровый образ жизни.
					.about-me--code Наши принципы:
						ul 
							li Мы продаем сырые орехи, натуральные и необработанные сухофрукты и другие полезные и экологичные продукты. 
							li Все продкты проверенны лично.
							li Следим за качественным сервисом и ориентированны на ваши запросы и потребности.
							li Выстраиваем долгосрочные отношения с каждым из вас и ценим нашу репутацию.
							li Быстрота обслуживания, отправки новой почтой или доставки курьером, дают возможность экономить ваше драгоценное время.
							li Наши цены доступны и умеренны. При высоком качестве продукции.
		.section__row-2
			.social
				.social__list.social__list--center
					a(href="https://www.facebook.com/igor.shvedun").social__list-item.fb
					a(href="https://www.instagram.com/igorshvedun/").social__list-item.instagram
					a(href="tg://resolve?domain=@Zdes_Seychas").social__list-item.other
		.section__row-3
			.quote
				.quote-text Забота о своем здоровье становится важнейшим приоритетом в современном мире. И мы делаем все возможное, чтобы создавть островки экологичных продуктов и комфортных рыночных отношений.
		.section__row-4
			.signature
				img(src="img/section/about_me/signature.png", alt="")