section.faq
  .container
    .section__row-1
      h2 Не много полезной информации
      .faq_list
        .faq_item
          .faq_item_title
            .faq_item_title_inner Как хранить?
          .faq_item_body 
            ul
              li Орехи должны хранится в закрытой таре без доступа воздуха.
              li Храните их в темном прохладном месте.Тумбочка подойдет.
              li Кедр должен храниться в холодильнике.
              li Сухофрукты, кроме изюма, должны хранится в холодильнике.
              li Срок хранения орехов до 6 мес.Срок хранения сухофруктов 2-3 недели.
        .faq_item
          .faq_item_title
            .faq_item_title_inner Замачивать орехи и сухофрукты?
          .faq_item_body Орехи и сухофрукты расскрывают всю свою пользу после замачивания. Для звмачивания подходят: миндаль, кешью, фундук, грецкий, сырая фисташка. Сухофрукты можно замачивать все.Заливаем орехи и сухофрукты на ночь водой. На утро они готовы к употреблению. 
        .faq_item
          .faq_item_title
            .faq_item_title_inner Ореховое молоко
          .faq_item_body После замачивания орехов из них получается прекрасное и полезное растительное молоко. Берем горсть орехов добавляем пол чашки воды и взбиваем на блендере. Отжимаем через марлю или ситечко. Божественный напиток готов. )Приятного аппетита 