section.feedback#feedback
	.container
		.section__row-1
			h2 О нас говорят
			.feedback-clients
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/nata.png", alt="")
					.feedback-clients--info
						.clients--name Светлана
						a(href="https://www.facebook.com/savchuksvitlana", target="_blank", rel="noopener noreferrer").clients--fblink
						.clients--text Ігор, курагааааа.... ммммммм!) В О С Т О Р Г.Дякую Вам за таку якість🙏В мене наступне замовлення)))1 кг кураги, 0,5 кг Ізюм та 1 кг кешью!
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/nata.png", alt="")
					.feedback-clients--info
						.clients--name Татьяна
						a(href="https://www.facebook.com/tnovokshonova", target="_blank", rel="noopener noreferrer").clients--fblink
						.clients--text Добрый день! Спасибо большое за орехи и пр., отличное качество и вкус))) ах да, цена и размер тоже имеют значение! 
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/nata.png", alt="")
					.feedback-clients--info
						.clients--name Евгения
						a(href="https://www.facebook.com/eugenia.bereshchuk", target="_blank", rel="noopener noreferrer").clients--fblink
						.clients--text Добрый день! Всё получили, орехи отличные, изюм именно такой, как надо. Курагу такую ещё не пробовали - вкусная. Спасибо 🙂
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/nata.png", alt="")
					.feedback-clients--info
						.clients--name Виктория
						a(href="https://www.facebook.com/victoria.kodrin", target="_blank", rel="noopener noreferrer").clients--fblink
						.clients--text Привет Игорь! Все супер, отличное качество! Благодарю, а шафран-аромат))) сказка.Ждите нлв клиентов от меня)