section.feedback
	.container
		.section__row-1
			h2 О нас говорят
			.feedback-clients
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/nata.png", alt="")
					.feedback-clients--info
						.clients--name Kostya
						.clients--fblink  https://www.facebook.com/
						.clients--text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, facilis impedit. Corporis sequi ea veniam repudiandae iure placeat, expedita nam tempore. Temporibus excepturi nam expedita ducimus, quisquam mollitia nihil earum.
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/nata.png", alt="")
					.feedback-clients--info
						.clients--name Nata
						.clients--fblink https://www.facebook.com/
						.clients--text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, facilis impedit. Corporis sequi ea veniam repudiandae iure placeat, expedita nam tempore. Temporibus excepturi nam expedita ducimus, quisquam mollitia nihil earum.
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/nata.png", alt="")
					.feedback-clients--info
						.clients--name Ivan
						.clients--fblink https://www.facebook.com/
						.clients--text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, facilis impedit. Corporis sequi ea veniam repudiandae iure placeat, expedita nam tempore. Temporibus excepturi nam expedita ducimus, quisquam mollitia nihil earum.
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/nata.png", alt="")
					.feedback-clients--info
						.clients--name Lena
						.clients--fblink  https://www.facebook.com/
						.clients--text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, facilis impedit. Corporis sequi ea veniam repudiandae iure placeat, expedita nam tempore. Temporibus excepturi nam expedita ducimus, quisquam mollitia nihil earum.