form(action="", method="post").shop-form
	.shop-form__list
		.shop-form__item
			input(type="text" id="contact_name")
			label(for="contact_name") Ваше имя
		.shop-form__item
			input(type="tel" id="contact_phone")
			label(for="contact_phone") Ваш телефон
		button(type="submit").button.button__buy Заказать