.modal#modal
	.modal__close
	.header-inner.header-inner--modal
		.header__logo
			img(src="img/header/logo.png", alt="")
		nav.menu.menu--modal
			ul.menu__list.menu__list--modal
				li.menu__list-item.menu__list-item--modal
					a(href="").nav__link Наша продукция
				li.menu__list-item.menu__list-item--modal
					a(href="").nav__link  Как заказать
				li.menu__list-item.menu__list-item--modal
					a(href="").nav__link Отзывы
				li.menu__list-item.menu__list-item--modal
					a(href="").nav__link О нас
				li.menu__list-item.menu__list-item--modal
					a(href="").nav__link Контакты
		a(href="tel:+380935051864").header__phone.header__phone--modal +38 093 505 18 64
	.social.social--modal
		.social__list.social__list--center
			a(href="").social__list-item.fb.social__list-item--modal
			a(href="").social__list-item.instagram.social__list-item--modal
			a(href="").social__list-item.other.social__list-item--modal
