section.shop
	.section__row-1
		.shop__promo
			.shop__promo-item Выбирай продукцию
				img(src="img/section/shop/icon/checkbox.png", alt="").shop__promo-img
			.shop__promo-item Вес Фасофки
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Данные для заказа
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Заказать 
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
				img(src="img/section/shop/icon/bayke.png", alt="").shop__promo-img
			.shop__promo-item Орехи едут к вам!
	.section__row-2
		.product
			.product__list
				.product__list-item
					.product-tittle ФУНДУК СЫРОЙ / ГРУЗИЯ
					.product-photo
						img(src="img/section/shop/product/funduc.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-tittle ФУНДУК СЫРОЙ / ГРУЗИЯ
					.product-photo
						img(src="img/section/shop/product/funduc.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-tittle ФУНДУК СЫРОЙ / ГРУЗИЯ
					.product-photo
						img(src="img/section/shop/product/funduc.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн