section.shop
	.section__row-1
		.shop__promo
			.shop__promo-item Выбирай продукцию
				img(src="img/section/shop/icon/checkbox.png", alt="").shop__promo-img
			.shop__promo-item Вес Фасофки
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Данные для заказа
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Заказать 
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
				img(src="img/section/shop/icon/bayke.png", alt="").shop__promo-img
			.shop__promo-item Орехи едут к вам!
	.section__row-2
		.product
			.product__list
				.product__list-item
					.product-title ФУНДУК СЫРОЙ / ГРУЗИЯ
					.product-photo
						img(src="img/section/shop/product/funduc.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-title МИНДАЛЬ СЫРОЙ / США
					.product-photo
						img(src="img/section/shop/product/mindal.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-title КЕШЬЮ СЫРОЙ / ИНДИЯ/ ВЬЕТНАМ
					.product-photo
						img(src="img/section/shop/product/keshq.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-title БРАЗИЛЬСКИЙ СЫРОЙ / БРАЗИЛИЯ
					.product-photo
						img(src="img/section/shop/product/brazil.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-title ФИСТАШКА СЫРАЯ/ СОЛЕНАЯ / США
					.product-photo
						img(src="img/section/shop/product/fistash.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-title ГРЕЦКИЙ СЫРОЙ / УКРАИНА
					.product-photo
						img(src="img/section/shop/product/gree.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-title МАКАДАМИЯ  СЫРАЯ / АВСТРАЛИЯ
					.product-photo
						img(src="img/section/shop/product/makadamiya.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-title ПЕКАН СЫРОЙ / МЕКСИКА
					.product-photo
						img(src="img/section/shop/product/pekan.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-title КЕДР СЫРОЙ / СИБИРЬ
					.product-photo
						img(src="img/section/shop/product/kedr.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-title ИЗЮМ НАТУРАЛЬНЫЙ / УЗБЕКИСТАН
					.product-photo
						img(src="img/section/shop/product/izum.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-title КУРАГА НАТУРАЛЬНАЯ / ТУРЦИЯ
					.product-photo
						img(src="img/section/shop/product/kuraga.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-title ФИНИК НАТУРАЛЬНЫЙ / ИЗРАИЛЬ
					.product-photo
						img(src="img/section/shop/product/finik.png", alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
	.section__row-2
		.container
			.order
				.order__list
					.order__list-item
						include ../blocks/form.pug
					.order__list-item
						.order__list-text Поставьте галочки напротив выбранной продукции.
						.order__list-text Заполните форму и нажмите кнопку “Заказать”.
						.order__list-text Мы свяжемся с вами для уточнения деталей доставки.