section.shop#shop-block
	.section__row-1
		.shop__promo
			.shop__promo-item Выбирай продукцию
				img(src="img/section/shop/icon/checkbox.png", alt="").shop__promo-img
			.shop__promo-item Вес Фасофки
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Данные для заказа
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Заказать 
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
				img(src="img/section/shop/icon/bayke.png", alt="").shop__promo-img
			.shop__promo-item Орехи едут к вам!
	.section__row-2
		.product
			.product__list
				.product__list-item
					.product-description Страна Грузия
					.product-title ФУНДУК СЫРОЙ
					.product-photo
						img(src="img/section/shop/product/funduc.png", width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-description Страна США
					.product-title МИНДАЛЬ СЫРОЙ
					.product-photo
						img(src="img/section/shop/product/mindal.png", width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-description Страна Индия / Вьетнам
					.product-title КЕШЬЮ СЫРОЙ
					.product-photo
						img(src="img/section/shop/product/keshq.png", width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-description Страна Бразилия
					.product-title БРАЗИЛЬСКИЙ СЫРОЙ
					.product-photo
						img(src="img/section/shop/product/brazil.png", width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-description Страна США
					.product-title ФИСТАШКА СЫРАЯ
					.product-photo
						img(src="img/section/shop/product/fistash.png", width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-description Страна Украина
					.product-title ГРЕЦКИЙ СЫРОЙ
					.product-photo
						img(src="img/section/shop/product/gree.png", width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-description Страна Австралия
					.product-title МАКАДАМИЯ  СЫРАЯ
					.product-photo
						img(src="img/section/shop/product/makadamiya.png", width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-description Страна Мексика
					.product-title ПЕКАН СЫРОЙ
					.product-photo
						img(src="img/section/shop/product/pekan.png", width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-description Страна Россия
					.product-title КЕДР СЫРОЙ
					.product-photo
						img(src="img/section/shop/product/kedr.png", width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-description Страна Узбекистан
					.product-title ИЗЮМ НАТУРАЛЬНЫЙ
					.product-photo
						img(src="img/section/shop/product/izum.png",  width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-description Страна Турция
					.product-title КУРАГА НАТУРАЛЬНАЯ
					.product-photo
						img(src="img/section/shop/product/kuraga.png", width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
				.product__list-item
					.product-description Страна Израиль
					.product-title ФИНИК НАТУРАЛЬНЫЙ
					.product-photo
						img(src="img/section/shop/product/finik.png", width="415px" height="278px" alt="")
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 1кг / 295 грн
					label
						input(type="checkbox", name="").prodcut-price
						i.far.fa-square
						span.product-tara 500г / 148 грн
	.section__row-2
		.container
			.order
				.order__list
					.order__list-item
						include ../blocks/form.pug
					.order__list-item
						.order__list-text Поставьте галочки напротив выбранной продукции.
						.order__list-text Заполните форму и нажмите кнопку “Заказать”.
						.order__list-text Мы свяжемся с вами для уточнения деталей доставки.