section.slogan
	.container
		.section__row-1
			.slogan-box
				.slogan-box__list
					.slogan-box__slit-item
						.slogan-box--title
						.slogan-box--text
					.slogan-box__slit-item

					.slogan-box__slit-item
					.slogan-box__slit-item