.contact {
  background-color: #343434;
}

.box-arrow--contact::after {
  content: "contact us";
  margin-right: 10px;
}

.contact .section__row-3 {
  margin-top: 92px;
}

.contact-form {
  background-color: #181818;
  max-width: 750px;
  padding: 100px 56px 56px 56px;
  margin: 0 auto;
}

.contact-form__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form__item {
  position: relative;
}

input {
  background-color: transparent;
  border: 0px solid black;
  border-bottom: 1px solid #5c5c5c;
  outline-style: none;
  margin-bottom: 66px;
  color: white;
  width: 270px;
  transition: 0.3s linear;
}

@media (max-width: 700px) {
  input {
    width: 230px;
  }

  @media (max-width: 618px) {
    input {
      width: 200px;
    }
  }

  @media (max-width: 570px) {
    input {
      width: 180px;
    }
  }

  @media (max-width: 515px) {
    input {
      width: 160px;
    }
  }

  @media (max-width: 471px) {
    input {
      width: 140px;
    }
  }

  @media (max-width: 432px) {
    input {
      width: 125px;
    }
  }

  @media (max-width: 394px) {
    input {
      width: 220px;
    }
  }
}

input:focus {
  transition: 0.3s linear;
  border-bottom: 1px solid $gold-color;
}

label {
  position: absolute;
  font-size: 12px;
  left: 10px;
  top: -10px;
  color: white;
  transition: 0.2s linear;
}

input:focus~label {
  top: -20px;
  left: 5px;
  color: $gold-color;
  transition: 0.2s linear;
}

.contact-form__item--msg input {
  width: 100%;
}

@media (max-width: 394px) {
  .contact-form__item--msg input {
    width: 220px;
  }
}

.contact-form__item--msg {
  width: 100%;
  margin-bottom: 40px;
}

.contact-form__item--button {
  background-color: $gold-color;
  padding: 24px 35px 24px 36px;
  color: black;
  border: 0px solid black;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

@media (max-width: 630px) {
  .contact-form__item--button {
    font-size: 14px;
    padding: 24px 20px 24px 20px;
  }
}

.contact-form__item--button::after {
  content: "";
  display: inline-block;
  background-image: url("../img/icon/btn-arrow.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 11px;
  vertical-align: baseline;
  margin-left: 10px;
  transition: all 0.5s ease-in-out;
}

.contact-form__item--button:hover::after {
  transform: translateX(10px);
  transition: all 0.5s ease-in-out;
}

.contact .section__row-4 {
  padding-bottom: 115px;
}

@media (max-width: 630px) {
  .contact .section__row-4 {
    margin-top: 60px;
  }
}

.contact-end {
  display: flex;
  justify-content: space-around;
  color: #fff;
  max-width: 752px;
  margin: 0 auto;
}

@media (max-width: 630px) {
  .contact-end {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 630px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

.contact-office,
.contact-other {
  max-width: 140px;
}

@media (max-width: 630px) {

  .contact-office,
  .contact-other {
    max-width: 140px;
  }
}

.contact-office--title,
.contact-other--title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 35px;
}

.contact-office--text {
  line-height: 1.6;
  color: #bababa;
}

.contact-other--email {
  color: #bababa;
  margin-bottom: 30px;
  display: block;
}

.social__icon {
  display: flex;
  justify-content: space-between;
  max-width: 172px;
}

.social__list-item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  font-size: 12px;
  position: relative;
}

.social__list-item::after {
  font-weight: 900;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fb::after {
  font-family: "Font Awesome 5 Brands";
  content: "\f39e";
}

.tw::after {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
}

.pi::after {
  font-family: "Font Awesome 5 Brands";
  content: "\f231";
}

.inst::after {
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
}

.ball::after {
  font-family: "Font Awesome 5 Free";
  content: "\f434";
}