.feedback {
	background-color: $our_services-background;
}

.box-arrow--feedback::after {
	content: "Testimonials";
}

.brands__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section__row-4 {
	margin-top: 105px;
	padding-bottom: 175px;
}

.feedback-slider__item {
	max-width: 750px;
	color: white;
	background-color: #181818;
	padding: 0 70px 0 66px;
	margin: 0 auto;
}

.clients-photo {
	border: 1px solid white;
	background-color: white;
	width: 78px;
	height: 78px;
	margin: 0 auto;
	margin-bottom: 46px;
}

.clients-text {
	font-family: "Merriweather", serif;
	color: #909090;
	line-height: 1.9;
	font-size: 17px;
	text-align: center;
	margin-bottom: 55px;
}

.clients-name {
	font-weight: 700;
	color: $gold-color;
	text-align: center;
	margin-bottom: 17px;
	text-transform: uppercase;
}

.clients-name::before,
.clients-name::after {
	content: "";
	width: 168px;
	height: 1px;
	display: inline-block;
	background-color: #474747;
	vertical-align: middle;
	position: relative;
}

.clients-name:before {
	margin-left: -100%;
	left: -40px;
}

.clients-name:after {
	margin-right: -100%;
	right: -40px;
}

.clients-position {
	text-align: center;
	padding-bottom: 38px;
	font-size: 13px;
}