.header {
	background-image: url("../img/header/Background.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header__row-1 {
	padding-top: 240px;
}

@media (max-width: 780px) {
	.header__row-1 {
		padding-top: 110px;
	}
}

h1 {
	font-family: 'Merriweather', serif;
	font-size: 55px;
	color: white;
	border: 1px solid #616161;
	max-width: 748px;
	text-align: center;
	margin: 0 auto;
	padding: 57px 57px 66px 57px;
	line-height: 1.4;
}

@media (max-width: 430px) {
	h1 {
		font-size: 45px;
	}
}

span {
	color: $gold-color;
}

.header__row-2 {
	margin-bottom: 210px;
}

@media (max-width: 780px) {
	.header__row-2 {
		margin-bottom: 166px;
	}

	@media (max-width: 490px) {
		.header__row-2 {
			margin-bottom: 150px;
		}
	}
}

.scroll-arrow {
	text-align: center;
	cursor: pointer;
}

.menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__list-item {
	font-size: 13px;
	border-right: 1px solid #8a673e;
	color: white;
	text-transform: uppercase;
	margin: 30px 0 0 15px;
	padding-right: 15px;
	transition: width .3s ease-in-out;
}

.menu__list-item::after {
	display: block;
	content: "";
	height: 2px;
	width: 0;
	background-color: $gold-color;
	transform: translateY(.1rem);
	transition: width .3s ease-in-out;
}

.menu__list-item:hover:after,
.menu__list-item:focus:after {
	width: 100%;
}

.header__row-3 {
	margin-bottom: 100px;
}

.header-end {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.seemore {
	color: white;
	text-transform: uppercase;
}

.seemore::after {
	display: inline-block;
	content: "";
	background-image: url("../img/icon/right-arrow.png");
	background-repeat: no-repeat;
	width: 11px;
	height: 7px;
	vertical-align: middle;
	margin-left: 10px;
}

.header__row-4 {
	padding-bottom: 40px;
}