.our_services {
	background-color: $our_services-background;
}

.box-arrow {
	border-right: 1px solid $gold-color;
	max-width: 50%;
	height: 120px;
	position: relative;
}

.box-arrow::after {
	content: "our services";
	font-size: 14px;
	font-weight: 700;
	color: $gold-color;
	text-transform: uppercase;
	position: absolute;
	right: -53px;
	bottom: -35px;
}

.section__row-2 {
	margin-top: 80px;
}

h2 {
	font-family: "Merriweather", serif;
	color: white;
	font-size: 40px;
	max-width: 730px;
	text-align: center;
	margin: 0 auto;
	line-height: 1.7;
}

.section__row-3 {
	margin-top: 110px;
}

.seriveces-steps__wrapper {
	padding-bottom: 150px;
}

.seriveces-steps__list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media (max-width: 730px) {
	.seriveces-steps__list {
		flex-wrap: wrap;
	}
}

.seriveces-steps__list--item {
	max-width: 235px;
}

@media (max-width: 730px) {
	.seriveces-steps__list--item {
		max-width: 100%;
	}
}

@media (max-width: 630px) {
	.seriveces-steps__list--item {
		margin: 10px 50px;
	}
}

.seriveces-step--img {
	margin-bottom: 34px;
}

.seriveces-step--tittle,
.seriveces-step--text,
.seriveces-step--seemore {
	color: white;
	margin-bottom: 26px;
}

@media (max-width: 730px) {

	.seriveces-step--tittle,
	.seriveces-step--text,
	.seriveces-step--img {
		text-align: center;
	}
}

.seriveces-step--tittle {
	font-family: 'Merriweather', serif;
	font-size: 30px;
}

.seriveces-step--text {
	line-height: 1.5;
	color: #bbbbbb;
}

.seriveces-step--seemore {
	font-family: "Open Sans", sans-serif;
}

@media (max-width: 730px) {
	.seriveces-step--seemore {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.seriveces-step--seemore::after {
	content: "";
	height: 8px;
}