/* Слайдер */
.slick-slider {
	max-width: 800px;
}

@media (max-width: 1127px) {
	.slick-slider {
		max-width: 740px;
	}

	@media (max-width: 1118px) {
		.slick-slider {
			max-width: 700px;
		}
	}

	@media (max-width: 1059px) {
		.slick-slider {
			max-width: 660px;
		}
	}

	@media (max-width: 1039px) {
		.slick-slider {
			max-width: 620px;
		}
	}

	@media (max-width: 1008px) {
		.slick-slider {
			max-width: 580px;
		}
	}

	@media (max-width: 920px) {
		.slick-slider {
			max-width: 540px;
		}
	}

	@media (max-width: 880px) {
		.slick-slider {
			max-width: 500px;
		}
	}

	@media (max-width: 840px) {
		.slick-slider {
			max-width: 460px;
		}
	}

	@media (max-width: 800px) {
		.slick-slider {
			max-width: 400px;
		}
	}

	@media (max-width: 400px) {
		.slick-slider {
			max-width: 300px;
		}
	}
}

.slick-slider.feedback-slider {
	margin: 0 auto;
}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
}

/* Слайд */
.slick-slide {
	outline: none;
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 44px;
	max-width: 770px;
}

.slick-dots li {
	list-style: none;
	margin-left: 45px;
}

@media (max-width: 460px) {
	.slick-dots li {
		margin-left: 20px;
	}
}

/* Элемент точки */
.slick-dots li button {
	font-size: 0;
	width: 28px;
	height: 3px;
	background-color: grey;
}

/* Активная точка */
.slick-dots li.slick-active button {
	background-color: $gold-color;
}