.slider_prj {
	background-color: #181818;
}

.slider-box {
	display: flex;
	justify-content: center;
	flex: 0 0 33%;
	padding-top: 151px;
	padding-bottom: 100px;
}

.prj__line {
	width: 2px;
	height: 124px;
	background-color: $gold-color;
	margin-bottom: 25px;
}

@media (max-width: 799px) {
	.prj__line {
		height: 95px;
		margin-bottom: 10px;
	}
}

.prj__text {
	color: $gold-color;
	margin-right: 29px;
	margin-bottom: 30px;
}

.prj__tittle {
	font-family: 'Merriweather', serif;
	font-size: 55px;
	color: white;
	position: absolute;
	z-index: 100;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 765px) {
	.prj__tittle {
		font-size: 50px;
	}
}

.prj__slide-info {
	display: flex;
	flex-direction: column;
	text-align: start;
	margin-left: 25px;
	margin-top: 213px;
	justify-content: center;
}

@media (max-width: 1118px) {
	.prj__slide-info {
		margin-top: 158px;
	}
}

@media (max-width: 1050px) {
	.prj__slide-info {
		margin-top: 133px;
	}
}

@media (max-width: 1024px) {
	.prj__slide-info {
		margin-top: 110px;
	}
}

@media (max-width: 1000px) {
	.prj__slide-info {
		margin-top: 90px;
	}
}

@media (max-width: 917px) {
	.prj__slide-info {
		margin-top: 70px;
	}
}

@media (max-width: 873px) {
	.prj__slide-info {
		margin-top: 45px;
	}
}

@media (max-width: 827px) {
	.prj__slide-info {
		margin-top: 25px;
	}

	@media (max-width: 799px) {
		.prj__slide-info {
			margin-top: 0px;
		}
	}
}

.prj__slide-seemore {
	margin-bottom: 25px;
}