.filter__list {
  border: 1px solid #2196f3;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 232px;
  height: 252px;
  list-style-type: none;
  cursor: pointer;
  padding-left: 20px;
  display: block;
}

.filter__list-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.filter__list-item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 15px;
}
.filter__list-item:hover {
  background-color: #F1FCFF;
}