.ticket-list {
  flex-grow: 9;
  margin-left: 20px;
}

.ticket {
  border: 1px solid #2196f3;
  width: 502px;
  height: 184px;
  padding: 20px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu-price {
  color: #2196f3;
  flex-grow: 9;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}
.menu-logo {
  flex-grow: 2;
}
.list-item {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.item {
  flex-grow: 4;
}
.text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a0b0b9;
  margin: 0;
}
.time {
  color: #4a4a4a;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
