.feedback
	.container
		.feedback__row-1
			h2.feedback__tittle Don’t Just Take Our Words
		.feedback__row-2
			.feedback__list
				.feedback__list-item
					.feedback__list-item-info
						img.user__photo(src="img/section/feedback/user_photo/Arakat_Bank.svg", alt="фотография мужчины")
						.user__name Arakat Bank
							span.user__company International Bank Ltd.
					i.fas.fa-quote-left
					.feedback__list-item-text Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus.<br> Sed sollicitudin ipsum.
				.feedback__list-item
					.feedback__list-item-info
						img.user__photo(src="img/section/feedback/user_photo/Chrsitopher.svg", alt="фотография мужчины")
						.user__name Chrsitopher Company Ltd.
							span.user__company Design & Development
					i.fas.fa-quote-left
					.feedback__list-item-text Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus.<br> Sed sollicitudin ipsum.
				.feedback__list-item
					.feedback__list-item-info
						img.user__photo(src="img/section/feedback/user_photo/Jigsawlab.svg", alt="фотография мужчины")
						.user__name Jigsawlab Studio Inc.
							span.user__company Interactive
					i.fas.fa-quote-left
					.feedback__list-item-text Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus.<br> Sed sollicitudin ipsum.