footer
	.container
		.footer__row-1
			.footer__info
				a(href="") About Martaup 
				a(href="" ) Help
				a(href="") Privacy Policy
			.footer__copyright
				span © 2013-2018 All rights reserved.