header
	.container
		.header__row-1
			.header-box
				.header__logo
					img(src="img/header/logo.png", alt="")
					span.header__logo-text MartaUP
				nav
					.menu__list
						a(href="").menu__list-item Home
						a(href="").menu__list-item Work
						a(href="").menu__list-item About
						a(href="").menu__list-item Contact
				.header__login
					a.header__login-item(href="") Login
					a.header__login-item.white-login(href="") Sign Up
				include ../blocks/modal_menu.pug
				.burger
					img(src="img/header/burger_menu.svg", alt="")
		.header__row-2
			include ../blocks/slider.pug