.modal__menu
	.modal__menu-background.animated
		.header__logo.modal__logo
			img(src="img/header/logo.png", alt="")
			span.header__logo-text.header__logo-text--moddal MartaUP
		nav
			.menu__list.modal__lsit
				a(href="").menu__list-item.modal__list-item Home
				a(href="").menu__list-item.modal__list-item  Work
				a(href="").menu__list-item.modal__list-item  About
				a(href="").menu__list-item.modal__list-item  Contact
		.header__login.header__login-modal
			a.header__login-item.modal__login(href="") Login
			a.header__login-item.white-login.modal__login-back(href="") Sign Up
		.socialmedia
			.socialmedia__list
				a(href="https://www.facebook.com/").socialmedia__list-item.fb
				a(href="https://www.google.com.ua/?hl=ru").socialmedia__list-item.google
				a(href="https://www.youtube.com/").socialmedia__list-item.youtube
				a(href="https://twitter.com/?lang=ru").socialmedia__list-item.tw
		.modal__close