.services
	.container
		.services__row-1
			h2.hero__text We are specialised in
		.services__row-2
			.services__list
				.services__list-item
					img(src="img/section/services/icon/phone.svg", alt="").services__list-item.image
					.services__list-item.title UI/UX Design
					.services__list-item.text In hac habitasse platea dictumstmus adipiscing fermentum quam volutpat aliquam. Integer cilisis tristique.
				.services__list-item
					img(src="img/section/services/icon/pc.svg", alt="").services__list-item.image
					.services__list-item.title Web Development
					.services__list-item.text In hac habitasse platea dictumstmus adipiscing fermentum quam volutpat aliquam. Integer cilisis tristique.
				.services__list-item
					img(src="img/section/services/icon/phone2.svg", alt="").services__list-item.image
					.services__list-item.title App Development
					.services__list-item.text In hac habitasse platea dictumstmus adipiscing fermentum quam volutpat aliquam. Integer cilisis tristique.