.header__slider
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.slider__info
					.slider__info-tittle We Build Apps & Websites for Your Business
					.slider__info-text For startups, For businesses & For you
					button.slider__info-button Request a quote
				.slider__img
					img(src="img/header/slider/header-img.svg", alt="")
			//- .swiper-slide
			//- 	img(src="img/header/slider/header-img.svg", alt="")
			//- .swiper-slide
			//- 	img(src="img/header/slider/header-img.svg", alt="")
		// Add Pagination
		.swiper-pagination