.works
	.container
		.works__row-1
			.works__box
				.works__box-item
					.works__box-info
						h2.works__box-info--tittle Experienced Designers & Developers
							img.works__box-info-img(src="img/section/works/blur.svg", alt="")
						.works__box-info--text 
							p Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.
							p Vestibulum sed metus in lorem tristique ullamcorper id vitae erat.
					.works__box-img
						img(src="img/section/works/one_man.svg", alt="Мужчина за компьютером")
				.works__box-item.works__box-item--revers
					.works__box-info
						h2.works__box-info--tittle Information Architect & Visual Prototyping
							img.works__box-info-img.works__box-info-img--revers(src="img/section/works/blur_2.svg", alt="")
						.works__box-info--text 
							p Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.
							p Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. Nulla mollis sapien sollicitudin lacinia lacinia. Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa
					.works__box-img
						img(src="img/section/works/two_man.svg", alt="Два мужчины за конмпьютером")
				.works__box-item
					.works__box-info
						h2.works__box-info--tittle Idea Generation & Foundation
							img.works__box-info-img(src="img/section/works/blur.svg", alt="")
						.works__box-info--text 
							p Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa
					.works__box-img
						img(src="img/section/works/build_site.svg", alt="Строитель сайтов")