doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel="shortcut icon", href="/img/header/favicon.ico", type="image/x-icon")
		meta(name="description" content="Мы креативная компания, которая создает крутые банеры, визитки, флаера. У нас большая база подрядчиков, все заказы делаем в срок")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css')
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		link(rel='stylesheet', href='css/style.css')
		//- script(src="js/app.js" type="defer")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js")
		title Artactive UX\UI
	body
		.wrapper
			// ------------------------------------------------------------------------------------//
			.header
				.container
					.header__row-1
						.header__col-1
									img.logo(src="img/header/Artactive-logo.png", alt="")
						.header__col-2
								nav.header__nav-menu
									a(href="") О нас
									a(href="") Услуги
									a(href="") Отзывы
									a(href="") Faq
									a(href="") Контакты
						.header__col-3
								a.header-phone(href="tel:+7(920)1488131") +7 (920) 148 81 31
						.header__col-4
							include ../blocks/burger_menu.pug
							button.button(data-id="modal-callback") Заказать звонок
					.header__row-2
						.header__col-1
							img.header__brand-pic(src="img/header/alternative.png", alt="")
						.header__col-2
							.header__slogan
								.header__slogan-hero-text Размер</br> не имеет</br> значения!
								.header__slogan-text Оперативная полиграфия</br> и широкоформатная печать </br> любого размера 
							.header__calltoaction
								button.buy Заказать печать
								.header__calltoaction-text с доставкой по Ярославлю </br> и Ярославской области
					.header__row-3.animated.bounce
						a(href="#abou_us").scroll
			.section
				.about(id="abou_us")
						include ../blocks/about_us.pug
				.services-list
					include ../blocks/services-list.pug
				.service-print
					include ../blocks/services-print.pug
				.services-card
					include ../blocks/services-card.pug
				.feedback
					include ../blocks/feedback.pug
				.faq
					include ../blocks/faq.pug
				footer
					include ../blocks/footer.pug
				include ../blocks/modal.pug
				include ../blocks/modal-callback.pug
			include ../blocks/arrow-up.pug
		script(src="js/app.js?v-4")