doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel="shortcut icon", href="/img/header/favicon.ico", type="image/x-icon")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css')
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		link(rel='stylesheet', href='css/style.css')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js")
		title Artactive UX\UI
	body
		.wrapper
			// --------------------------------------------------------------------------------------------------------------------
			.header
				.container
					.header__row-1
						.header__col-1
									img.logo(src="/img/header/Artactive-logo.png", alt="")
						.header__col-2
								nav.header__nav-menu
									a(href="") О нас
									a(href="") Услуги
									a(href="") Отзывы
									a(href="") Faq
									a(href="") Контакты
						.header__col-3
								a.header-phone(href="tel:+7(920)1488131") +7 (920) 148 81 31
						.header__col-4
							button.button Заказать звонок
					.header__row-2
						.header__col-1
							img.header__brand-pic(src="/img/header/alternative.png", alt="")
						.header__col-2
							.header__slogan
								.header__slogan-hero-text Размер</br> не имеет</br> значения!
								.header__slogan-text Оперативная полиграфия</br> и широкоформатная печать </br> любого размера 
							.header__calltoaction
								button.buy Заказать печать
								.header__calltoaction-text с доставкой по Ярославлю </br> и Ярославской области
					.header__row-3.animated.bounce
						a(href="").scroll
			.section
				.container
					.section.about
						.section__row-1
							.section__col-1
							.stages
								.stages__item.one
									.stages__item-circle.boock
									.stages__item-text Приём и детальное обсуждение заказа
								.stages__item.two
									.stages__item-circle.tablepc
									.stages__item-text Создание и согласование дизайн-макета
								.stages__item.three
									.stages__item-circle.writer
									.stages__item-text Печать и постпечатная обработка изделий любых размеров
								.stages__item.four
									.stages__item-circle.moving
									.stages__item-text Доставка готовой продукции
								.stages__item.five
									.line
							.section__col-2
								h2.paragraph-text 1. О нас
								h2.paragraph-title Полный спектр услуг — </br>от дизайна до печати
								p.about-text-item К вашим услугам мы предлагаем полный спектр работ, начиная от печати открыток, чертежей, баннеров, растяжек, создания буклетов и эксклюзивных календарей, и заканчивая постпечатной обработкой.
								p.about-text-item В копицентре не просто предоставляют услуги печати: мы ориентируемся на комплексное обслуживание. Все услуги, будь то оперативная цифровая печать открыток или разработка серии календарей, Вы можете получить в одном месте, воспользовавшись сопутствующими услугами копицентра. 
								p.about-text-item При этом работа выполняется в максимально сжатые сроки и не в ущерб качеству конечного результата, которое неизменно остается на высоте.
						.section__row-2
							.double-line
				.section.services-list
					include ../blocks/services-list.pug
				.section.service-print
					include ../blocks/services-print.pug
				.section.services-card
					include ../blocks/services-card.pug