.section .feedback {
  background-image: url("../img/section/item/line.png");
  background-position: center;
}

.feedback .paragraph-text {
  margin-left: 15px;
}

.list__col-1 {
  margin-right: 15px;
}

.slider {
  position: relative;
}

.feedback .slider__list-item-photo {
  background-color: #fff;
  border-radius: 50%;
  width: 400px;
  border: 0px solid grey;
}

.feedback .slider__list-item-text {
  color: #5e606a;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.slider__list-item-full-name {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  display: block;
}

.slider__list-item-social-link {
  color: #3594dd;
  margin-top: 10px;
  display: block;
  max-width: 20%;
}