@media (max-width: 414px) {

	//  --------------Header---------------------
	.header__row-2 {
		display: flex;
		flex-direction: column;
	}

	.header__slogan-hero-text {
		margin-bottom: 10px;
	}

	.header .header__col-2 {
		margin: 0 20px;
	}

	.header .buy {
		padding: 16px 100px;
	}

	.header__calltoaction-text {
		display: none;
	}

	.header__row-3 {
		padding-bottom: 15px;
	}

	//  --------------AboutUs-END----------------

	//  --------------Services-list--------------


	//  --------------Services-list-END----------

	//  --------------Services-Print-------------


	//  ---------------Services-Print-END---------

	//  --------------Services-Card---------------



	//  --------------Services-Card-END-----------

	//  --------------Feedback--------------------


	//  ------------Feedback-END----------------

	//  --------------FAQ------------------------


	//  ------------FAQ-END----------------------

	//  --------------Footer----------------------


	//  --------------Footer-END------------------
}