@media (max-width: 750px) {
  //  --------------Header-------------------

  .header__row-1 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 124px;
    height: 16px;
  }

  nav.header__nav-menu,
  a.header-phone {
    display: none;
  }

  .header__row-2 {
    margin-top: 55px;
    padding-bottom: 21px;
  }

  .header__slogan-hero-text {
    font-size: 45px;
  }

  .header__slogan-text {
    font-size: 19px;
    margin-bottom: 40px;
  }

  .header__calltoaction {
    flex-direction: column;
    align-items: start;
  }

  .header .buy {
    padding: 16px 40px;
  }

  .header__calltoaction-text {
    margin-left: 0px;
    margin-top: 30px;
  }

  .header__row-3 {
    padding-bottom: 40px;
  }

  .header__row-2 .header__col-2 {
    margin-right: 0px;
  }

  //  --------------Header-END---------------

  //  --------------AboutUs------------------

  .about .section__row-1 {
    flex-direction: column-reverse;
  }

  .about .section__col-1 {
    padding-top: 0px;
  }

  .stage_scheme {
    display: none;
  }

  .stage_scheme_750px {
    max-width: none;
    display: inline-block;
  }

  .about .section__col-2 {
    width: 100%;
    padding-left: 30px;
  }

  .paragraph-text {
    padding-top: 80px;
    padding-bottom: 65px;
  }

  .about .paragraph-text {
    padding-top: 54px;
    padding-bottom: 58px;
  }

  .about-text-item:last-child {
    margin-bottom: 55px;
  }

  .double-line {
    height: 85px;
  }

  .double-line::after {
    height: 85px;
    left: 362px;
  }

  //  --------------AboutUs-END----------------

  //  --------------Services-list--------------

  .services-list .section__row-1 {
    display: block;
    padding-bottom: 10px;
  }

  .section__calltoaction {
    display: none;
  }

  .little-text {
    display: none;
  }

  .section__calltoaction-text-little {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
  }

  .section__calltoaction-text {
    display: inline-block;
  }

  .services-list .section__col-1,
  .section__col-2 {
    margin-left: 15px;
  }

  .services-list .section__col-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .section__calltoaction--tablet {
    display: inline-block;
    box-shadow: -1px 2px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 20px;
    border-radius: 14px;
    background-color: #883eca;
    color: white;
  }

  .services-list .slider {
    margin-top: 0px;
  }

  .services-list .slider-img {
    right: 83px;
  }

  button.buy {
    padding: 12px 70px;
  }

  .slider-button {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 243px;
    display: flex;
    justify-content: start;
  }

  .slider-botton-text {
    margin-left: 300px;
  }

  //  --------------Services-list-END----------

  //  --------------Services-Print-------------

  .sercice-print-img.flower {
    background-image: url("../img/section/item/flower_sofa_750px.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 35%;
  }

  .service-print .section__row-1 {
    margin-bottom: 300px;
    margin-left: 30px;
  }

  .service-print .section__col-1 {
    display: none;
  }

  .service-print .section__col-2 {
    flex-basis: 100%;
  }

  .service-print .about-text-item {
    max-width: 550px;
  }

  .service-print .buy {
    padding: 17px 30px;
  }

  //  ---------------Services-Print-END---------

  //  --------------Services-Card---------------
  .services-card .section__row-1 {
    flex-wrap: wrap;
    margin-left: 30px;
    padding-bottom: 100px;
  }

  .services-card .section__col-1 {
    flex-basis: 100%;
  }

  .services-card .section__col-2 {
    flex-basis: 45%;
    order: 3;
    transform: translate(10%);
  }

  .services-card .section__col-3 {
    flex-basis: 50%;
    padding-bottom: 0;
    order: 2;
  }

  .services-card .section__calltoaction-text {
    max-width: 150px;
  }

  // .services-card .card-img {
  // 	max-width: 130%;
  // } //

  .services-card .calltoaction__form-input {
    margin-bottom: 35px;
    margin-top: 30px;
  }

  .services-card .calltoaction__form-line {
    display: none;
  }

  .services-card .calltoaction__form-airplane {
    background-image: url("../img/section/item/paper-plane-750px.png");
    bottom: 0%;
    left: 16%;
  }

  .services-card .little-text {
    display: block;
  }

  //  --------------Services-Card-END-----------

  //  --------------Feedback--------------------
  .slider__list {
    transform: translateX(-1%);
  }

  .slider__list-item--active {
    max-width: 95%;
  }

  .feedback .slider-button {
    margin-left: 2%;
  }

  //  ------------Feedback-END----------------

  //  --------------FAQ---------------------

  .faq .paragraph-text {
    margin-bottom: 0px;
  }

  .faq .section__row-2 {
    display: inline-block;
  }

  .faq__list-item-tittle {
    margin-top: 30px;
  }

  .faq .section__row-3 {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .faq .section__col-2 {
    margin-left: 0px;
  }

  .faq .calltoaction__form {
    background-size: 280%;
    position: relative;
    overflow: hidden;
    padding-bottom: 35px;
  }

  .faq .calltoaction__form-logo {
    position: absolute;
    top: -56px;
    right: -56px;
    margin: 0px 0px;
  }

  .faq .section__calltoaction-text {
    display: inline-block;
    margin-left: 20px;
    margin-right: 0;
  }

  .faq .calltoaction__form-input {
    padding: 0px 0px 10px 25px;
  }

  .faq .buy {
    margin-top: 30px;
    padding: 12px 70px;
  }

  .faq .section__row-4 {
    display: none;
  }

  //  ------------FAQ-END----------------------

  //  --------------Footer----------------------

  footer .contacts {
    left: 3%;
  }

  //  --------------Footer-END------------------
}