// -------------------------------------------------

.modal-callback {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 99999;
}

.modal-callback.active {
	display: flex;
}

// -------------------------------------------------
.modal-callback .calltoaction__form {
	position: relative;
	color: white;
	max-width: 356px;
	background: url("../img/header/figure-1.jpg") #9040dd;
	background-repeat: no-repeat;
	background-position: left;
	border-radius: 10px;
	padding: 40px 60px 60px 60px;
}

.modal-callback .section__calltoaction-text {
	margin: 0;
}

.modal-callback .calltoaction__form-input {
	padding: 0px 70px 5px 10px;
	border-bottom: 1px solid white;
	color: white;
}

.modal-callback .calltoaction__form-input:nth-last-child(2) {
	margin-bottom: 30px;
}

.modal-callback input[type="text"]::-webkit-input-placeholder {
	color: white;
}

.modal-callback input[type="tel"]::-webkit-input-placeholder {
	color: white;
}

.modal-callback .buy {
	padding: 11px 67px;
	display: flex;
	justify-content: center;
	align-items: center;
}

// -------------------------------------------------

.modal-callback__close {
	position: absolute;
	cursor: pointer;
	top: 15px;
	right: 20px;
	width: 20px;
	height: 15px;
}
// -------------------------------------------------