.section .about {
  background-image: url("../img/section/item/line.png");
  background-position: center;
  scroll-behavior: smooth;
}

.about .section__row-1 {
  display: flex;
}

@media (max-width: 750px) {
  .about .section__row-1 {
    flex-direction: column-reverse;
  }
}

.about .section__col-1 {
  width: 50%;
  padding-top: 115px;
  margin-left: 20px;
}

@media (max-width: 750px) {
  .about .section__col-1 {
    padding-top: 0px;
  }
}

.stage_scheme {
  background-position: center;
}

@media (max-width: 750px) {
  .stage_scheme {
    display: none;
  }
}

.stage_scheme_750px {
  display: none;
}

@media (max-width: 750px) {
  .stage_scheme_750px {
    max-width: none;
    display: inline-block;
  }
}

.stage_scheme_320px {
  display: none;
}

.about .section__col-2 {
  width: 50%;
  padding-left: 55px;
}

@media (max-width: 750px) {
  .about .section__col-2 {
    width: 100%;
    padding-left: 30px;
  }
}

.paragraph-text {
  padding-top: 115px;
  color: #7f38bd;
  font-size: 30px;
  font-family: "Muller";
  font-weight: 600;
  padding-bottom: 80px;
}

@media (max-width: 750px) {
  .paragraph-text {
    padding-top: 80px;
    padding-bottom: 65px;
  }
}

@media (max-width: 750px) {
  .about .paragraph-text {
    padding-top: 54px;
    padding-bottom: 58px;
  }
}

.paragraph-title {
  color: black;
  font-size: 32px;
  font-family: "Muller";
  font-weight: 500;
  margin-bottom: 50px;
}

.about-text-item {
  color: #5e606a;
  max-width: 95%;
  line-height: 1.5;
  margin-top: 37px;
}

.about-text-item:last-child {
  margin-bottom: 65px;
}

@media (max-width: 750px) {
  .about-text-item:last-child {
    margin-bottom: 55px;
  }
}

.double-line {
  max-width: 50%;
  border-right: 2px solid #883eca;
  height: 90px;
  position: relative;
}

@media (max-width: 750px) {
  .double-line {
    height: 85px;
  }
}

.double-line::after {
  content: "";
  position: absolute;
  border-right: 2px solid #883eca;
  height: 90px;
  left: 591px;
  top: 50px;
}

@media (max-width: 750px) {
  .double-line::after {
    height: 85px;
    left: 362px;
  }
}

// ---------------------------------------------------------------------
// -----------------------services-list-------------------------------------
.section .services-list {
  background-color: #faf8fb;
}

.services-list .section__col-1,
.section__col-2 {
  flex-basis: 50%;
}

.services-list .section__row-1 {
  display: flex;
  padding-bottom: 120px;
}

@media (max-width: 750px) {
  .services-list .section__row-1 {
    display: block;
    margin-left: 15px;
    padding-bottom: 10px;
  }
}

.service-list {
  list-style: disc;
  padding-left: 18px;
}

.service-list-item {
  color: #5e606a;
  max-width: 95%;
  line-height: 1.5;
  font-size: 14px;
  max-height: 150px;
}

.section__calltoaction {
  box-shadow: -1px 10px 18px 3px rgba(199, 176, 202, 0.52);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
  border-radius: 14px;
  background-color: #883eca;
  color: white;
  margin-top: 72px;
  max-width: 475px;
}

@media (max-width: 750px) {
  .section__calltoaction {
    display: none;
  }
}

.section__calltoaction-text {
  font-size: 16px;
  font-weight: 600;
  margin-right: 30px;
  line-height: 1.5;
}

.little-text {
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 750px) {
  .little-text {
    display: none;
  }
}

@media (max-width: 750px) {
  .section__calltoaction-text-little {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
  }
}

@media (max-width: 750px) {
  .section__calltoaction-text {
    display: inline-block;
  }
}

@media (max-width: 750px) {
  .services-list .section__col-3 {
    margin-top: 50px;
  }
}

.section__calltoaction--tablet {
  display: none;
}

@media (max-width: 750px) {
  .section__calltoaction--tablet {
    display: inline-block;
    box-shadow: -1px 2px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 20px;
    border-radius: 14px;
    background-color: #883eca;
    color: white;
  }
}

.services-list .slider {
  margin-top: 193px;
}

@media (max-width: 750px) {
  .services-list .slider {
    margin-top: 50px;
  }
}

@media (max-width: 750px) {
  button.buy {
    padding: 12px 70px;
  }
}

.slider-button {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 15px;
  display: flex;
}

@media (max-width: 750px) {
  .slider-button {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    display: flex;
    justify-content: start;
  }
}

.next-slide {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
}

.next-slide::before {
  width: 80px;
  content: "";
  display: inline-block;
  border-bottom: 2px solid #883eca;
}

.next-slide::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f105";
  color: #883eca;
}

.prev-slide {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.prev-slide::after {
  width: 80px;
  content: "";
  display: inline-block;
  border-bottom: 2px solid #883eca;
}

.prev-slide::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f104";
  color: #883eca;
}

.slider-botton-text {
  margin-left: 60px;
  font-size: 13px;
  color: #5e606a;
}

@media (max-width: 750px) {
  .slider-botton-text {
    margin-left: 300px;
  }
}