.section .about {
  background-image: url("../img/section/item/line.png");
  background-position: center;
  scroll-behavior: smooth;
}

.about .section__row-1 {
  display: flex;
}

.about .section__col-1 {
  width: 50%;
  padding-top: 115px;
  margin-left: 20px;
}

.stage_scheme {
  background-position: center;
}

.stage_scheme_750px {
  display: none;
}

.stage_scheme_320px {
  display: none;
}

.about .section__col-2 {
  width: 50%;
  padding-left: 55px;
}

.paragraph-text {
  padding-top: 115px;
  color: #7f38bd;
  font-size: 30px;
  font-family: "Muller";
  font-weight: bold;
  padding-bottom: 80px;
}

.paragraph-title {
  color: black;
  font-size: 32px;
  font-family: "Muller";
  font-weight: 500;
  margin-bottom: 50px;
}

.about-text-item {
  color: #5e606a;
  max-width: 95%;
  line-height: 1.5;
  margin-top: 37px;
}

.about-text-item:last-child {
  margin-bottom: 65px;
}

.double-line {
  max-width: 50%;
  border-right: 2px solid #883eca;
  height: 90px;
  position: relative;
}

.double-line::after {
  content: "";
  position: absolute;
  border-right: 2px solid #883eca;
  height: 90px;
  left: 591px;
  top: 50px;
}

// ---------------------------------------------------------------------
// -----------------------services-list-------------------------------------
.section .services-list {
  background-color: #faf8fb;
}

.services-list .section__col-1,
.section__col-2 {
  flex-basis: 50%;
}

.services-list .section__row-1 {
  display: flex;
  padding-bottom: 120px;
}

.service-list {
  list-style: disc;
  padding-left: 18px;
}

.service-list-item {
  color: #5e606a;
  max-width: 95%;
  line-height: 1.5;
  font-size: 14px;
  max-height: 150px;
}

.section__calltoaction {
  box-shadow: -1px 10px 18px 3px rgba(199, 176, 202, 0.52);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
  border-radius: 14px;
  background-color: #883eca;
  color: white;
  margin-top: 72px;
  max-width: 475px;
}

.section__calltoaction-text {
  font-size: 16px;
  font-weight: 600;
  margin-right: 30px;
  line-height: 1.5;
}

.little-text {
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
}

.section__calltoaction--tablet {
  display: none;
}


.service__slider-list {
  position: relative;
  height: 500px;
  margin-top: 193px;
}

.slider-img {
  position: absolute;
  top: 26px;
  right: 12px;
  opacity: 1;
}

.slider-img:nth-child(2) {
  top: 26px;
  right: 12px;
  opacity: 1;
}

.slider-img:nth-child(3) {
  top: 26px;
  right: 12px;
  opacity: 1;
}

.slider-img.active {
  opacity: 1;
  z-index: 10;
}

.slider-button {
  margin-left: 20px;
  margin-right: 15px;
  display: flex;
}

.next-slide {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
}

.next-slide::before {
  width: 80px;
  content: "";
  display: inline-block;
  border-bottom: 2px solid #883eca;
}

.next-slide::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f105";
  color: #883eca;
}

.prev-slide {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.prev-slide::after {
  width: 80px;
  content: "";
  display: inline-block;
  border-bottom: 2px solid #883eca;
}

.prev-slide::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f104";
  color: #883eca;
}

.slider-botton-text {
  margin-left: 60px;
  font-size: 13px;
  color: #5e606a;
}