.section__about {
  background-image: url("/img/section/item/line.png");
  background-position: center;
}

.section__row-1 {
  display: flex;
}

.section__col-1 {
  flex-basis: 50%;
}

.stages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 170px;
  position: absolute;
}

.one {
  left: 544px;
  top: 1080px;
}

.two {
  left: 768px;
  top: 1233px;
}

.three {
  left: 380px;
  top: 1272px;
}

.four {
  left: 581px;
  top: 1434px;
}

.five {
  left: 574px;
  top: 1093px;
}

.stages__item-crl {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #f0e2ff;
  margin-bottom: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.boock {
  background-image: url("/img/section/icon/ebook.png");
}

.tablepc {
  background-image: url("/img/section/icon/tablet.png");
}

.writer {
  background-image: url("/img/section/icon/writer.png");
}

.moving {
  background-image: url("/img/section/icon/moving.png");
}

.line {
  background-image: url("/img/section/icon/4343.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}

.stages__item-text {
  color: #5e606a;
  font-size: 13px;
  text-align: center;
}

// ---------------------------------------------------------------------
.section__col-2 {
  flex-basis: 50%;
  padding-left: 55px;
}

.about-text {
  margin-top: 110px;
  color: #7f38bd;
  font-size: 30px;
  font-family: "Muller";
  font-weight: 600;
  margin-bottom: 80px;
}

.about-title {
  color: black;
  font-size: 32px;
  font-family: "Muller";
  font-weight: 500;
  margin-bottom: 50px;
}

.about-text-item {
  color: #5e606a;
  max-width: 95%;
  line-height: 1.5;
  margin-top: 37px;
}

.about-text-item:last-child {
  margin-bottom: 65px;
}

.section__row-2 {
  max-width: 50%;
  border-right: 2px solid #883eca;
  height: 90px;
  position: relative;
}

.section__row-2::after {
  content: "";
  position: absolute;
  border-right: 2px solid #883eca;
  height: 90px;
  left: 575px;
  top: 50px;
}

// --------------------------------------------------------------
.section__services {
  background-color: #faf8fb;
}

.section__services .section__col-2 {
  padding-left: 0;
}

.section__services .section__row-1 {
  display: flex;
  padding-bottom: 120px;
}

.service-list {
  list-style: disc;
  padding-left: 18px;
}

.service-list-item {
  color: #5e606a;
  max-width: 95%;
  line-height: 1.5;
  font-size: 14px;
  max-height: 150px;
}

.section__calltoaction {
  box-shadow: 9px 11px 28px -4px rgba(0, 0, 0, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
  border-radius: 14px;
  background-color: #883eca;
  color: white;
  margin-top: 72px;
  max-width: 475px;
}

.section__calltoaction-text {
  font-size: 16px;
  font-weight: 600;
  margin-right: 30px;
  line-height: 1.5;
}

.little-text {
  font-size: 13px;
  font-style: italic;
}

.slider {
  margin-top: 184px;
}
.slider-button {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 15px;
}
.next-slide {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
}

.next-slide::before {
  width: 80px;
  content: "";
  display: inline-block;
  border-bottom: 2px solid #883eca;
}

.next-slide::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  font-size: 20px;
  content: "\f054";
  color: #883eca;
}

.prev-slide {
  background-color: transparent;
  border-bottom: 2px solid#883eca;
  padding-right: 82px;
  margin-right: 42px;
}
.prev-slide::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f053";
  color: #883eca;
}
.slider-botton-text {
  // display: inline-block;
  margin-left: 60px;
  font-size: 13px;
  color: #5e606a;
}
