.section .about {
  background-image: url("/img/section/item/line.png");
  background-position: center;
  scroll-behavior: smooth;
}

.about .section__row-1 {
  display: flex;
}

@media (max-width: 750px) {
  .about .section__row-1 {
    flex-direction: column-reverse;
  }
}

.about .section__col-1 {
  width: 50%;
  padding-top: 115px;
  margin-left: 20px;
}

@media (max-width: 750px) {
  .about .section__col-1 {
    padding-top: 0px;
  }
}

.stage_scheme {
  background-position: center;
}

@media (max-width: 750px) {
  .stage_scheme {
    display: none;
  }
}

.stage_scheme_750px {
  display: none;
}

@media (max-width: 750px) {
  .stage_scheme_750px {
    max-width: none;
    display: inline-block;
  }
}

.about .section__col-2 {
  width: 50%;
  padding-left: 55px;
}

@media (max-width: 750px) {
  .about .section__col-2 {
    width: 100%;
    padding-left: 30px;
  }
}

.paragraph-text {
  padding-top: 115px;
  color: #7f38bd;
  font-size: 30px;
  font-family: "Muller";
  font-weight: 600;
  padding-bottom: 80px;
}

@media (max-width: 750px) {
  .paragraph-text {
    padding-top: 80px;
    padding-bottom: 65px;
  }
}

@media (max-width: 750px) {
  .about .paragraph-text {
    padding-top: 54px;
    padding-bottom: 58px;
  }
}

.paragraph-title {
  color: black;
  font-size: 32px;
  font-family: "Muller";
  font-weight: 500;
  margin-bottom: 50px;
}

@media (max-width: 750px) {
  .about .paragraph-text {
    margin-bottom: 43px;
  }
}

.about-text-item {
  color: #5e606a;
  max-width: 95%;
  line-height: 1.5;
  margin-top: 37px;
}

.about-text-item:last-child {
  margin-bottom: 65px;
}

@media (max-width: 750px) {
  .about-text-item:last-child {
    margin-bottom: 55px;
  }
}

.double-line {
  max-width: 50%;
  border-right: 2px solid #883eca;
  height: 90px;
  position: relative;
}

@media (max-width: 750px) {
  .double-line {
    height: 85px;
  }
}

.double-line::after {
  content: "";
  position: absolute;
  border-right: 2px solid #883eca;
  height: 90px;
  left: 591px;
  top: 50px;
}

@media (max-width: 750px) {
  .double-line::after {
    height: 85px;
    left: 362px;
  }
}

// ---------------------------------------------------------------------
// -----------------------services-list-------------------------------------
.section .services-list {
  background-color: #faf8fb;
}

.services-list .section__col-1,
.section__col-2 {
  flex-basis: 50%;
}

.services-list .section__row-1 {
  display: flex;
  padding-bottom: 120px;
}

@media (max-width: 750px) {
  .services-list .section__row-1 {
    display: block;
    margin-left: 30px;
    padding-bottom: 10px;
  }
}

.service-list {
  list-style: disc;
  padding-left: 18px;
}

.service-list-item {
  color: #5e606a;
  max-width: 95%;
  line-height: 1.5;
  font-size: 14px;
  max-height: 150px;
}

.section__calltoaction {
  box-shadow: -1px 10px 18px 3px rgba(199, 176, 202, 0.52);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
  border-radius: 14px;
  background-color: #883eca;
  color: white;
  margin-top: 72px;
  max-width: 475px;
}

@media (max-width: 750px) {
  .section__calltoaction {
    display: none;
  }
}

.section__calltoaction-text {
  font-size: 16px;
  font-weight: 600;
  margin-right: 30px;
  line-height: 1.5;
}

.little-text {
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 750px) {
  .little-text {
    display: none;
  }
}

@media (max-width: 750px) {
  .section__calltoaction-text-little {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
  }
}

@media (max-width: 750px) {
  .section__calltoaction-text {
    display: inline-block;
  }
}

@media (max-width: 750px) {
  .services-list .section__col-3 {
    margin-top: 50px;
  }
}

.section__calltoaction--tablet {
  display: none;
}

@media (max-width: 750px) {
  .section__calltoaction--tablet {
    display: inline-block;
    box-shadow: -1px 2px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 20px;
    border-radius: 14px;
    background-color: #883eca;
    color: white;
  }
}

.services-list .slider {
  margin-top: 193px;
}

@media (max-width: 750px) {
  .services-list .slider {
    margin-top: 50px;
  }
}

@media (max-width: 750px) {
  button.buy {
    padding: 12px 70px;
  }
}

.slider-button {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 15px;
  display: flex;
}

@media (max-width: 750px) {
  .slider-button {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    display: flex;
    justify-content: start;
  }
}

.next-slide {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
}

.next-slide::before {
  width: 80px;
  content: "";
  display: inline-block;
  border-bottom: 2px solid #883eca;
}

.next-slide::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f105";
  color: #883eca;
}

.prev-slide {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.prev-slide::after {
  width: 80px;
  content: "";
  display: inline-block;
  border-bottom: 2px solid #883eca;
}

.prev-slide::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f104";
  color: #883eca;
}

.slider-botton-text {
  margin-left: 60px;
  font-size: 13px;
  color: #5e606a;
}

@media (max-width: 750px) {
  .slider-botton-text {
    margin-left: 300px;
  }
}

// ------------------------------------------------------------------
// ---------------------------service-print--------------------------

.service-print {
  background-image: url("/img/section/item/line.png");
  background-color: white;
  position: relative;
  background-position: center;
}

.sercice-print-img.flower {
  background-image: url("/img/section/item/sofa_flowers.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 20%;
  background-position-y: 35%;
}

@media (max-width: 750px) {
  .sercice-print-img.flower {
    background-image: url("/img/section/item/flower_sofa_750px.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 35%;
  }
}

.service-print .section__row-1 {
  padding-top: 120px;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 450px;
}

@media (max-width: 750px) {
  .service-print .section__row-1 {
    margin-bottom: 300px;
    margin-left: 30px;
  }
}

.service-print .section__col-1 {
  flex-basis: 50%;
}

@media (max-width: 750px) {
  .service-print .section__col-1 {
    display: none;
  }
}

@media (max-width: 750px) {
  .service-print .section__col-2 {
    flex-basis: 100%;
  }
}

.service-print .about-text-item {
  margin-bottom: 60px;
}

.service-print .about-text-item {
  color: #5e606a;
  max-width: 100%;
  line-height: 1.5;
  margin-top: 37px;
}

@media (max-width: 750px) {
  .service-print .about-text-item {
    max-width: 550px;
  }
}

@media (max-width: 750px) {
  .service-print .buy {
    padding: 17px 30px;
  }
}

// ---------------------------------------------------------------
// ------------------------services-card--------------------------

.services-card {
  background-color: #faf8fb;
}

.services-card .section__row-1 {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 750px) {
  .services-card .section__row-1 {
    flex-wrap: wrap;
    margin-left: 30px;
    padding-bottom: 100px;
  }
}

.services-card .section__col-1 {
  padding-top: 100px;
  flex-basis: 50%;
}
@media (max-width: 750px) {
  .services-card .section__col-1 {
    flex-basis: 100%;
  }
}
.services-card .section__col-2 {
  flex-basis: 50%;
}
@media (max-width: 750px) {
  .services-card .section__col-2 {
    flex-basis: 50%;
    order: 3;
    transform: translate(10%);
  }
}
.services-card .about-text-item {
  max-width: 85%;
}

.services-card .section__col-3 {
  padding-bottom: 100px;
  position: relative;
}

@media (max-width: 750px) {
  .services-card .section__col-3 {
    flex-basis: 50%;
    padding-bottom: 0;
    order: 2;
  }
}

@media (max-width: 750px) {
  .services-card .section__calltoaction-text {
    max-width: 150px;
  }
}

@media (max-width: 750px) {
  .services-card .card-img {
    max-width: 130%;
  }
}

.calltoaction__form-input {
  border: transparent;
  border-bottom: 1px solid grey;
  background-color: transparent;
  padding: 0px 50px 10px 25px;
  margin-right: 40px;
  margin-top: 50px;
  font-size: 13px;
  font-style: italic;
  outline: none;
  color: #868995;
}

@media (max-width: 750px) {
  .services-card .calltoaction__form-input {
    margin-bottom: 35px;
    margin-top: 30px;
  }
}
.calltoaction__form-line {
  background-image: url("/img/section/item/line-2.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 500px;
  position: absolute;
  bottom: 5%;
  left: 97%;
}

@media (max-width: 750px) {
  .services-card .calltoaction__form-line {
    display: none;
  }
}

.calltoaction__form-airplane {
  background-image: url("/img/section/item/paper-plane.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 500px;
  position: absolute;
  bottom: 78%;
  left: 127%;
}

@media (max-width: 750px) {
  .services-card .calltoaction__form-airplane {
    background-image: url("/img/section/item/paper-plane-750px.png");
    bottom: 0%;
    left: 16%;
  }
}

@media (max-width: 750px) {
  .services-card .little-text {
    display: block;
  }
}
// ------------------------------------------------------------------
// -----------------------.feedback ---------------------------------

.section .feedback {
  background-image: url("/img/section/item/line.png");
  background-position: center;
}

.feedback .paragraph-text {
  margin-left: 15px;
}

.feedback .slider {
  position: relative;
  overflow: hidden;
}

.slider__list {
  display: flex;
  justify-content: center;
  transform: translateX(0);
}

@media (max-width: 750px) {
  .slider__list {
    transform: translateX(-1%);
  }
}

.slider__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 270px;
  background-color: #fff;
  border-style: solid;
  border-color: gray;
  flex-shrink: 0;
  opacity: 0.4;
}

.slider__list-item--active {
  opacity: 1;
  width: 850px;
}

.list__col-1 {
  margin-right: 40px;
}

.slider__list-item {
  display: flex;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid white;
  max-height: 270px;
  max-width: 70%;
  padding: 60px 80px 60px 75px;
  margin-left: 23px;
  background-color: #fff;
  box-shadow: -1px 2px 5px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 750px) {
  .slider__list-item--active {
    max-width: 95%;
  }
}

.slider__list-item-photo {
  background-color: #fff;
  border-radius: 50%;
  width: 400px;
  border: 0px solid grey;
}

.slider__list-item-text {
  color: #5e606a;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.slider__list-item-full-name {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  display: block;
}

.slider__list-item-social-link {
  color: #3594dd;
  margin-top: 10px;
  display: block;
  max-width: 20%;
}

.feedback .slider-button {
  margin-left: 15.5%;
}
@media (max-width: 750px) {
  .feedback .slider-button {
    margin-left: 2%;
  }
}
// -------------------------------------------------------------------
// -------------------------------------------------------------------
.faq {
  background-image: url("/img/section/item/line.png");
  background-position: center;
}

.faq .paragraph-text {
  margin-bottom: 15px;
  margin-left: 15px;
}

@media (max-width: 750px) {
  .faq .paragraph-text {
    margin-bottom: 0px;
  }
}

.faq .section__row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}

@media (max-width: 750px) {
  .faq .section__row-2 {
    display: inline-block;
  }
}

.faq .section__col-1 {
  flex-basis: 50%;
  margin-right: 40px;
}

.faq .section__col-2 {
  flex-basis: 50%;
}

.faq__list-item-tittle {
  font-size: 20px;
  font-weight: 600;
  color: #383d52;
  margin-top: 55px;
}

@media (max-width: 750px) {
  .faq__list-item-tittle {
    margin-top: 30px;
  }
}

.faq__list-item-text {
  color: #5e606a;
  margin-top: 35px;
  line-height: 1.5;
  max-width: 95%;
}

.faq .section__row-3 {
  display: flex;
  justify-content: center;
  margin-bottom: 105px;
  margin-top: 80px;
}

@media (max-width: 750px) {
  .faq .section__row-3 {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

.faq .calltoaction__form {
  border-radius: 10px 10px 10px 10px;
  background: url("/img/section/faq/faq_btn.png");
  background-size: 150%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.53);
}

@media (max-width: 750px) {
  .faq .calltoaction__form {
    background-size: 280%;
    position: relative;
    overflow: hidden;
  }
}

.calltoaction__form-logo {
  margin: 0px 35px 0px 30px;
  background-position: center;
}

@media (max-width: 750px) {
  .faq .calltoaction__form-logo {
    position: absolute;
    top: -56px;
    right: -56px;
    margin: 0px 0px 0px 0px;
  }
}

.faq .calltoaction__form-input {
  border-bottom: 1px solid white;
  color: white;
}

@media (max-width: 750px) {
  .faq .calltoaction__form-input {
    padding: 0px 0px 10px 25px;
  }
}

.faq input[type="text"]::-webkit-input-placeholder {
  color: white;
}

.faq input[type="tel"]::-webkit-input-placeholder {
  color: white;
}

.faq .buy {
  margin-right: 40px;
}

// ---------------------------------------------------------------------------
// ---------------------------------------------------------------------------
footer .section__row-1 {
  position: relative;
}

footer .contacts {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 455px;
  bottom: 100px;
  left: 16%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

@media (max-width: 750px) {
  footer .contacts {
    left: 2%;
  }
}

footer .paragraph-text {
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left: 90px;
  padding: 0px;
}

footer .contacts__adress,
.contacts__email,
.contacts__phone {
  color: #5e606a;
  margin-left: 90px;
  margin-top: 30px;
}

footer .contacts__phone {
  margin-bottom: 116px;
}

footer .contacts__adress::before {
  padding-right: 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px;
  content: "\f3c5";
  color: #883eca;
}

footer .contacts__email::before {
  padding-right: 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px;
  content: "\f0e0";
  color: #883eca;
}

footer .contacts__phone::before {
  padding-right: 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px;
  content: "\f879";
  color: #883eca;
}

footer .section__row-2 {
  background-color: #7f38bd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .company-name,
.nda,
.designer {
  font-size: 13px;
  padding: 18px 0px;
  color: #d1bee2;
}

.nda {
  text-decoration: underline;
}
