.service-print {
	background-image: url("../img/section/item/line.png");
	background-color: white;
	position: relative;
	background-position: center;
}

.sercice-print-img.flower {
	background-image: url("../img/section/item/sofa_flowers.png");
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 20%;
	background-position-y: 35%;
}

@media (max-width: 750px) {
	.sercice-print-img.flower {
		background-image: url("../img/section/item/flower_sofa_750px.png");
		background-repeat: no-repeat;
		background-position: right;
		background-position-y: 35%;
	}
}

@media (max-width:320px) {
	.sercice-print-img.flower {
		background-image: url("../img/section/item/flower_sofa_320px.png");
		background-repeat: no-repeat;
		background-position: right;
		background-position-y: 82%;
	}
}

.service-print .section__row-1 {
	padding-top: 120px;
	padding-bottom: 0;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 450px;
}

@media (max-width: 750px) {
	.service-print .section__row-1 {
		margin-bottom: 300px;
		margin-left: 30px;
	}
}

@media (max-width:320px) {
	.service-print .section__row-1 {
		padding-bottom: 270px;
		margin-bottom: 0px;
		margin-left: 15px;
		padding-top: 70px;
	}
}

.service-print .section__col-1 {
	flex-basis: 50%;
}

@media (max-width: 750px) {
	.service-print .section__col-1 {
		display: none;
	}
}

@media (max-width:320px) {
	.service-print .section__col-1 {
		display: none;
	}
}

@media (max-width: 750px) {
	.service-print .section__col-2 {
		flex-basis: 100%;
	}
}

@media (max-width: 320px) {
	.service-print .section__row-3 {
		display: none;
	}
}

.service-print .about-text-item {
	margin-bottom: 60px;
}

.service-print .about-text-item {
	color: #5e606a;
	max-width: 100%;
	line-height: 1.5;
	margin-top: 37px;
}

@media (max-width: 750px) {
	.service-print .about-text-item {
		max-width: 550px;
	}
}

@media (max-width: 750px) {
	.service-print .buy {
		padding: 17px 30px;
	}
}

@media (max-width: 320px) {
	.service-print .buy {
		padding: 16px 56px;
	}
}