.services-card {
	background-color: #faf8fb;
}

.services-card .section__row-1 {
	display: flex;
	flex-wrap: wrap;
}

.services-card .section__col-1 {
	padding-top: 100px;
	flex-basis: 50%;
}

.services-card .section__col-2 {
	flex-basis: 50%;
}

.services-card .about-text-item {
	max-width: 85%;
}

.services-card .section__col-3 {
	padding-bottom: 100px;
	position: relative;
}

.calltoaction__form-input {
	border: transparent;
	border-bottom: 1px solid grey;
	background-color: transparent;
	padding: 0px 50px 10px 25px;
	margin-right: 40px;
	margin-top: 50px;
	font-size: 13px;
	font-style: italic;
	outline: none;
	color: #868995;
}

.calltoaction__form-line {
	background-image: url("../img/section/item/line-2.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	width: 500px;
	position: absolute;
	bottom: 5%;
	left: 97%;
}

.calltoaction__form-airplane {
	background-image: url("../img/section/item/paper-plane.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	width: 500px;
	position: absolute;
	bottom: 78%;
	left: 127%;
}

.send {
	background: #fb0275;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 50px;
	padding: 12px 40px;
	transition: .3s;
	transition-timing-function: ease-in;
}