section.about-us
	.container
		.section__row-1
			h2 Почему мы?
			.advantage 
				.advantage__list
					.advantage__list-item
						.advantage-logo
							img(src="img/section/about-us/icon/temp.png", alt="")
						.advantage-tittle Комфортная температура
						.advantage-text Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру. 
					.advantage__list-item
						.advantage-logo
							img(src="img/section/about-us/icon/camera.png", alt="")
						.advantage-tittle Видеонаблюдение
						.advantage-text Мы предоставляем доступ в нашу систему. Вы сможете следить за своим питомцем со своего смартфона или компьютера.
					.advantage__list-item
						.advantage-logo
							img(src="img/section/about-us/icon/car.png", alt="")
						.advantage-tittle Услуги Зоотакси
						.advantage-text Мы приедем за вашим питомцем в любой район Санкт-Петербурга.
					.advantage__list-item
						.advantage-logo
							img(src="img/section/about-us/icon/food.png", alt="")
						.advantage-tittle Сбалансированное питание
						.advantage-text Вы можете привезти свой корм или доверить рацион своего питомца нашим профессионалам.
					.advantage__list-item
						.advantage-logo
							img(src="img/section/about-us/icon/cat.png", alt="")
						.advantage-tittle Ежедневные прогулки
						.advantage-text По вашему желанию мы выгуливаем вашего питомца два раза в день на специализированной закрытой территории.
					.advantage__list-item
						.advantage-logo
							img(src="img/section/about-us/icon/doctor.png", alt="")
						.advantage-tittle Лучшие ветеринары
						.advantage-text В гостинице 24 часа дежурит ветеринарный врач, который окажет любую помощь в случае необходимости.
