section.feedback
	.container
		.section__row-1
			h2 Отзывы
		.section__row-2
			.slider-feedback
				.slider-feedback--item
					.slider-feedback-text Первый раз пришлось оставить нашего котика в гостинице, очень переживали. Администратор Мария каждый день высылала нам фото нашего питомца, рассказывала, как он себя чувствует.И мы и котик остались очень довольны!
					.slider-feedback-info
						.slider-feedback-name Валерия Гришаева
						.slider-feedback-date 15 ноября, 2019
				.slider-feedback--item
					.slider-feedback-text Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота, когда уезжают. В “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться еще.
					.slider-feedback-info
						.slider-feedback-name Екатерина Минаева
						.slider-feedback-date 10 октября, 2019
				.slider-feedback--item
					.slider-feedback-text Мой кот — настоящая привереда, угодить ему сложно. У меня были особые требования к уходу за ним, и “Котейка” отлично справились. Я часто наблюдал по видео за питомцем со своего телефона, это очень удобно. 
					.slider-feedback-info
						.slider-feedback-name Павел Нечаев
						.slider-feedback-date 15 ноября, 2019
				.slider-feedback--item
					.slider-feedback-text Первый раз пришлось оставить нашего котика в гостинице, очень переживали. Администратор Мария каждый день высылала нам фото нашего питомца, рассказывала, как он себя чувствует.И мы и котик остались очень довольны!
					.slider-feedback-info
						.slider-feedback-name Валерия Гришаева
						.slider-feedback-date 15 ноября, 2019
				.slider-feedback--item
					.slider-feedback-text Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота, когда уезжают. В “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться еще.
					.slider-feedback-info
						.slider-feedback-name Екатерина Минаева
						.slider-feedback-date 10 октября, 2019
				.slider-feedback--item
					.slider-feedback-text Мой кот — настоящая привереда, угодить ему сложно. У меня были особые требования к уходу за ним, и “Котейка” отлично справились. Я часто наблюдал по видео за питомцем со своего телефона, это очень удобно. 
					.slider-feedback-info
						.slider-feedback-name Павел Нечаев
						.slider-feedback-date 15 ноября, 2019