header.header
	.container
		.header__row-1
			include ../blocks/menu.pug
	.header__row-2
		.header-promo
			.container
				.promo-box
					.promo-box__list
						.promo-box__list--country Санкт-Петербург
						.promo-box__list--tittle Котейка
						.promo-box__list--text Уютная гостиница для котов и кошек
						button.button(type="submit") Забронировать
						