.menu-inner
	ul.menu-inner__list
		li.menu-inner__list--item
			.logo
				img(src="img/header/logo.svg", alt="")
		li.menu-inner__list--item
			nav.menu
				ul.menu__list
					li.menu__list-item <a href=""> Почему мы?</a>
					li.menu__list-item <a href="">Номера</a>
					li.menu__list-item <a href="">Отзывы</a>
					li.menu__list-item <a href="">Как нас найти</a>