.modal.burger-menu
	.background-modal.animated
		nav.menu
			ul.menu__list
				li.menu__list-item <a href=""> Почему мы?</a>
				li.menu__list-item <a href="catalog.html">Номера</a>
				li.menu__list-item <a href="">Отзывы</a>
				li.menu__list-item <a href="">Как нас найти</a>
		.social
			.social__list
				a(href="http://", target="_blank").social__list--item.fb
				a(href="http://", target="_blank").social__list--item.inst
				a(href="http://", target="_blank").social__list--item.vk