.modal
	.background-modal
		.modal-form
		form(action="").modal-form__list
			.modal-form__list-item
				.form-title Забронировать номер
			.modal-form__list-item
				input(type="text" name="" id="name").form-text
				label(for="name") Ваше имя
			.modal-form__list-item
				input(type="text" name="" id="pet-name").form-text
				label(for="pet-name") Имя питомца
			.modal-form__list-item
				input(type="tel" name="" id="phone-number").form-text
				label(for="phone-number") Телефон
			.modal-form__list-item
				input(type="email" name="" id="email-addres").form-text
				label(for="email-addres") E-mail
			.modal-form__list-item
				span.date-text Дата заеда<span class="in">c</span> <input type="date" name="" value="2020-01-26"> <span class="on">по</span> <input type="date" name="" value="2020-02-26">
			button.button.button-orange Отправить заявку
