section.room
	.container
		.section__row-1
			h2 Номера
		.section__row-2
			.slider
				.slider__list-item
					.room-photo
						img(src="img/section/room/slider-img/1.png", alt="")
					.room-card
						.room-card__list 
							.room-card__list--tittle Эконом плюс
							.room-card__list--item Площадь - 0,90 м2
							.room-card__list--item Размеры (ШхГхВ) — 90х100х180 см
							.room-card__list--item Цена за сутки: 200₽
							button.button.button-orange Забронировать
				.slider__list-item
					.room-photo
						img(src="img/section/room/slider-img/2.png", alt="")
					.room-card
						.room-card__list 
							.room-card__list--tittle Комфорт
							.room-card__list--item Площадь - 1,13 м2
							.room-card__list--item Размеры (ШхГхВ) - 100х125х180 см
							.room-card__list--item Цена за сутки: 250₽
							button.button.button-orange Забронировать
				.slider__list-item
					.room-photo
						img(src="img/section/room/slider-img/3.png", alt="")
					.room-card
						.room-card__list 
							.room-card__list--tittle Сьют
							.room-card__list--item Площадь - 1,56 м2
							.room-card__list--item Размеры (ШхГхВ) - 125х125х180 см
							.room-card__list--item Цена за сутки: 350₽
							button.button.button-orange Забронировать