.social
	.social__list
		a(href="http://", target="_blank").social__list--item.fb
		a(href="http://", target="_blank").social__list--item.inst
		a(href="http://", target="_blank").social__list--item.vk