#train {
  position: relative;
  cursor: pointer;
}

.letter {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 500px;
  height: 200px;
}

.square {
  height: 300px;
  width: 700px;
  background-color: green;
  position: relative;
}
.square::before {
  position: absolute;
  content: "";
  bottom: -42px;
  left: 0px;
  border-radius: 0px 101px 0px 0px;
  width: 50%;
  height: 40px;
  border-top: 1px solid red;
}

.square::after {
  position: absolute;
  content: "";
  bottom: -42px;
  right: 0px;
  border-radius: 101px 0px 0px 0px;
  width: 50%;
  height: 40px;
  border-top: 1px solid red;
}
