doctype html
html(lang="en")
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		meta(name="description" content="Комплексное избавление от грибка — изнутри и снаружи")
		link(rel='stylesheet', href='css/style.css')
		title Микоцын
	body
		.wrapper
			include ../blocks/header.pug
			.section
				include ../blocks/about-viruse.pug
				include ../blocks/alike.pug
				include ../blocks/effective.pug
			include ../blocks/footer.pug