section.shop#shop-block
	.section__row-1
		.shop__promo
			.shop__promo-item Обирайте продукцію
				img(src="img/section/shop/icon/checkbox.png", alt="").shop__promo-img
			.shop__promo-item Вага фасування
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Данні для замовлення
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Замовити
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
				img(src="img/section/shop/icon/bayke.png", alt="").shop__promo-img
			.shop__promo-item Горіхи їдуть до вас!
	.section__row-2
		form(action="contact").ajax-contact-form
			.product#product
				.product__list
					.product__list-item
						.product-description Країна Грузія
						.product-title ФУНДУК Сирий
						.product-photo
							img(src="img/section/shop/product/funduc.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ФУНДУК 295" ).prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 310 грн
						label
							input(type="checkbox" name="price[]" value="ФУНДУК 148").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 155 грн
					.product__list-item
						.product-description Країна США
						.product-title Мигдаль Сирий
						.product-photo
							img(src="img/section/shop/product/mindal.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="МИНДАЛЬ 335").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 335 грн
						label
							input(type="checkbox" name="price[]" value="МИНДАЛЬ 168").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 168 грн
					.product__list-item
						.product-description Країна Індія / В'єтнам
						.product-title Кеш'ю Сирий
						.product-photo
							img(src="img/section/shop/product/keshq.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="КЕШЬЮ 295").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 370 грн
						label
							input(type="checkbox" name="price[]" value="КЕШЬЮ 148").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 185 грн
					.product__list-item
						.product-description Країна Бразилія
						.product-title Бразильський Сирий
						.product-photo
							img(src="img/section/shop/product/brazil.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="БРАЗИЛЬСЬКИЙ Сирий 420").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 420 грн
						label
							input(type="checkbox" name="price[]" value="БРАЗИЛЬСЬКИЙ Сирий 210").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 210 грн
					.product__list-item
						.product-description Країна США
						.product-title Фісташка Сира
						.product-photo
							img(src="img/section/shop/product/fistash.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ФИСТАШКА Сира 450").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 450 грн
						label
							input(type="checkbox" name="price[]" value="ФИСТАШКА Сира 225").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 225 грн
					.product__list-item
						.product-description Країна Україна
						.product-title Волоський Сирий
						.product-photo
							img(src="img/section/shop/product/gree.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ГРЕЦКИЙ Сирий 190").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 190	 грн
						label
							input(type="checkbox" name="price[]" value="ГРЕЦКИЙ Сирий 95").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 95 грн
					.product__list-item
						.product-description Країна Австралія
						.product-title Макадамія Сира
						.product-photo
							img(src="img/section/shop/product/makadamiya.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="МАКАДАМИЯ Сира 850").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 880 грн
						label
							input(type="checkbox" name="price[]" value="МАКАДАМИЯ Сира 425").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 440 грн
					.product__list-item
						.product-description Країна Мексика
						.product-title ПЕКАН Сирий
						.product-photo
							img(src="img/section/shop/product/pekan.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ПЕКАН Сирий 570").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 570 грн
						label
							input(type="checkbox" name="price[]" value="ПЕКАН Сирий 285").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 285 грн
					.product__list-item
						.product-description Країна Росія
						.product-title КЕДР Сирий
						.product-photo
							img(src="img/section/shop/product/kedr.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="КЕДР Сирий 680").prodcut-price
							i.far.fa-square
							span.product-tara 1кг /680 грн
						label
							input(type="checkbox" name="price[]" value="КЕДР Сирий 340").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 340 грн
					.product__list-item
						.product-description Країна Узбекистан
						.product-title Родзинки натуральні
						.product-photo
							img(src="img/section/shop/product/izum.jpg",  width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ИЗЮМ НАТУРАЛЬНЫЙ 185").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 185 грн
						label
							input(type="checkbox" name="price[]" value="ИЗЮМ НАТУРАЛЬНЫЙ 93").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 93 грн
					.product__list-item
						.product-description Країна Туреччина
						.product-title Курага Натуральна
						.product-photo
							img(src="img/section/shop/product/kuraga.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="КУРАГА НАТУРАЛЬНАЯ 175").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 175 грн
						label
							input(type="checkbox" name="price[]" value="КУРАГА НАТУРАЛЬНАЯ 88").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 88 грн
					.product__list-item
						.product-description Країна Молдова
						.product-title Чорнослив
						.product-photo
							img(src="img/section/shop/product/finik2.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ЧЕРНОСЛИВ  120").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 120 грн
						label
							input(type="checkbox" name="price[]" value="ЧЕРНОСЛИВ 60").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 60 грн
			.section__row-2
				.container
					.order
						.order__list
							.order__list-item
							.order__list-item--note
								include ../blocks-ua/form.pug
							.order__list-item
								.order__list-text Поставте галочки навпроти обраної продукції.
								.order__list-text Заповніть форму і натисніть кнопку "Замовити".
								.order__list-text Ми зв'яжемося з вами для уточнення деталей доставки.