.ticket {
  border: 1px solid red;
  width: 500px;
  padding: 20px 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.price {
  color: #2196f3;
  flex-grow: 9;
}
.logo {
  flex-grow: 2;
}

.list-item {
  display: flex;
  margin-top: 20px;
}
.item {
  flex-grow: 8;
  margin-bottom: 10px;
}
.text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a0b0b9;
  margin: 0;
}
.time {
  color: #4a4a4a;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
