doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css')
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		link(rel='stylesheet', href='css/style.css')
		title Document
	body
		.wrapper
			// --------------------------------------------------------------------------------------------------------------------
			.header
				.header__row-1
					nav.header__menu-first#nav-heder
						a.header__menu-item(href='#') Доставка
						a.header__menu-item(href='#') Оплата
						a.header__menu-item(href='#') Отзывы
						a.header__menu-item(href='#') Вопрос-ответ
						a.header__menu-item(href='#') Контакты
				.header__row-2
					.container
						.logo
							img.logo__img.animated.flip(src='img/header/logo.png', alt='')
							.logo__text beauty
						form.search
							input.search__input
						.phone
							a.phone__number(href='tel:8(812)1234567') 8 (812) 123-45-66
						button.callback-button(data-id="modal-callback") Обратный звонок
				.header__row-3
					nav.header__menu-2
						a.header__menu-item-2(href='#' data-id="nav-heder") Парикмахерская
						a.header__menu-item-2(href='#') Барбершоп
						a.header__menu-item-2(href='#') Маникюр
						a.header__menu-item-2(href='#') Педикюр
						a.header__menu-item-2(href='#') Массаж
						a.header__menu-item-2(href='#' data-id="nav-heder") Мебель
			.header__row-4
				.container.mod
					.slider
						.hero
							.heror__text.heror__text_big Супер кресло
							.heror__text.heror__text_small
								| Текст акции всегда отражает суть, а не просто болтовню, поэтому
								| внимательнее
							.button-botton
								a.button(href='#') Подробней
			// ------------------------------------------------------------------------------------------------------------------------
			.section
				.container
					.section__row-1
						h1.hiden_h1 Список предложений
						h2 Специальные предложения
					.section__row-2
						.catalog__list.animated
							.catalog__list-item
								img.catalog__list-item-img(src='img/section/item/Rectangle.png', alt='Товар')
								span.catalog__list-item-text
									| Парикмахерское кресло 
									br
									|  «Норм» гидравлическое
								span.catalog__list-item-price 9 900 ₽
								form.section.button(action='get')
									button.button-buy Купить
							.catalog__list-item
								img.catalog__list-item-img(src='img/section/item/Rectangle.png', alt='Товар')
								span.catalog__list-item-text
									| Парикмахерское кресло 
									br
									|  «Норм» гидравлическое
								span.catalog__list-item-price 9 900 ₽
								form.section.button(action='get')
									button.button-buy Купить
							.catalog__list-item
								img.catalog__list-item-img(src='img/section/item/Rectangle.png', alt='Товар')
								span.catalog__list-item-text
									| Парикмахерское кресло 
									br
									|  «Норм» гидравлическое
								span.catalog__list-item-price 9 900 ₽
								form.section.button(action='get')
									button.button-buy Купить
							.catalog__list-item
								img.catalog__list-item-img(src='img/section/item/Rectangle.png', alt='Товар')
								span.catalog__list-item-text
									| Парикмахерское кресло 
									br
									|  «Норм» гидравлическое
								span.catalog__list-item-price 9 900 ₽
								form.section.button(action='get')
									button.button-buy Купить
					// ---------------------------------------------------------------------------------------------------------------
					.section__row-3
						.content-box
							.content-box__col-1
								span.content-box__text-tittle Получайте бонусы и подарки
								span.content-box__text
									| Каждый месяц разыгрываем 
									br
									|  10 000 рублей для наших клиентов
								form.mail
									input.mail__input(type='email', placeholder=' Введите e-mail')
							.content-box__col-2
								img.mail-icon(src='img/section/icon/mail.png', alt='')
						// ---------------------------------------------------------------------------
						.content-box
							.content-box__col-1
								span.content-box__text-tittle Заходите к нам
								span.content-box__text
									| Более 300 магазинов 
									br
									|  по Украине
								.content-box__button
									a.button(href='#') Карта магазинов
							.content-box__col-2.mod
								img.delivery-icon(src='img/section/icon/Vector.png', alt='')
					// -------------------------------------------------------------------------------------------------------
					.section__row-4
						include ../blocks/brand-list.pug
						
					.section__row-5
						h2 Вы недавно смотрели
					.section__row-6
						.catalog__list
							.catalog__list-item
								img.catalog__list-item-img(src='img/section/item/Rectangle.png', alt='Товар')
								span.catalog__list-item-text
									| Парикмахерское кресло 
									br
									|  «Норм» гидравлическое
								span.catalog__list-item-price 9 900 ₽
								form.section.button(action='get')
									button.button-buy Купить
							.catalog__list-item
								img.catalog__list-item-img(src='img/section/item/Rectangle.png', alt='Товар')
								span.catalog__list-item-text
									| Парикмахерское кресло 
									br
									|  «Норм» гидравлическое
								span.catalog__list-item-price 9 900 ₽
								form.section.button(action='get')
									button.button-buy Купить
							.catalog__list-item
								img.catalog__list-item-img(src='img/section/item/Rectangle.png', alt='Товар')
								span.catalog__list-item-text
									| Парикмахерское кресло 
									br
									|  «Норм» гидравлическое
								span.catalog__list-item-price 9 900 ₽
								form.section.button(action='get')
									button.button-buy Купить
							.catalog__list-item
								img.catalog__list-item-img(src='img/section/item/Rectangle.png', alt='Товар')
								span.catalog__list-item-text
									| Парикмахерское кресло 
									br
									|  «Норм» гидравлическое
								span.catalog__list-item-price 9 900 ₽
								form.section.button(action='get')
									button.button-buy Купить
			footer
				.footer__row-1
					.container
						.category__nav
							ul.category__nav-list
								li.category-list-item-big Популярныe <br>  категории
								li.category-list-item Насадки
								li.category-list-item Инструменты
								li.category-list-item Гель-лаки
								li.category-list-item Дизайн
								li.category-list-item Наращивание
								li.category-list-item Оборудование
							ul.category__nav-list
								li.category-list-item-big Популярные <br>  категории
								li.category-list-item Насадки
								li.category-list-item Инструменты
								li.category-list-item Гель-лаки
								li.category-list-item Дизайн
								li.category-list-item Наращивание
								li.category-list-item Оборудование
							ul.category__nav-list
								li.category-list-item-big Популярные <br> категории
								li.category-list-item Насадки
								li.category-list-item Инструменты
								li.category-list-item Гель-лаки
								li.category-list-item Дизайн
								li.category-list-item Наращивание
								li.category-list-item Оборудование
							ul.category__nav-list
								li.category-list-item-big Популярные <br>  категории
								li.category-list-item Насадки
								li.category-list-item Инструменты
								li.category-list-item Гель-лаки
								li.category-list-item Дизайн
								li.category-list-item Наращивание
								li.category-list-item Оборудование
				.footer__row-2
					.container
						.social-icon
							.social-icon__item.youtube.animated
							.social-icon__item.vk
							.social-icon__item.fb
							.social-icon__item.inst
						.location
							span.location-str 198555, Невский пр. 140, офис 140
						.phone
							a.phone__number(href='tel:8(812)1234567') 8 (812) 123-45-67
						button.callback-button(data-id="modal-callback") Обратный звонок
				.footer__row-3
					.container
						div.footer-small-text Лучший магазин (с) 2019 Все права защищены. Интернет-магазин оборудования для салонов красоты
						a(href="#").footer-small-text.nda Политика конфиденциальности
		include ../blocks/modal.pug
		
		script(src="js/app.js")