.accordion
	ul
		li
			div
				a(href='#')
					.h2 Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit
		li
			div
				a(href='#')
					.h2 Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit
		li
			div
				a(href='#')
					.h2 Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit
		li
			div
				a(href='#')
					.h2 Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit
		li
			div
				a(href='#')
					.h2 Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit
		li
			div
				a(href='#')
					.h2 Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit
