.modal
	.modal-background.animated
		.employee-card
			h1 Добавление соискателя
			include ../blocks/basic-information.pug
			include ../blocks/contact-information.pug
			include ../blocks/results-information.pug
			include ../blocks/button.pug
		button.modal__close