.rating-box__stars 
  #review_stars
    input#star-4(type='radio', name='stars')
    label(title='Отлично', for='star-4')
      i.fas.fa-star
    input#star-3(type='radio', name='stars')
    label(title='Хорошо', for='star-3')
      i.fas.fa-star
    input#star-2(type='radio', name='stars', checked='checked')
    label(title='Нормально', for='star-2')
      i.fas.fa-star
    input#star-1(type='radio', name='stars')
    label(title='Плохо', for='star-1')
      i.fas.fa-star
    input#star-0(type='radio', name='stars')
    label(title='Ужасно', for='star-0')
      i.fas.fa-star

      //-  Данный блок нашел в google. 
      //- Обязательно научусь делать сам!!