.contact-information 
	h2 Контактные данные
	.contact-information__phone Номер телефона
	input(type="tel" placeholder="Введите номер телефона" name="phone")
	a.add-phone(href="") Добавить еще один номер телефона
	.contact-information__email E-mail
	input(type="email" value="ioan@binman.ru" name="email")
	a.add-email(href="") Добавить еще один e-mail