.rating-information 
	h2 Оценка соискателя
		.rating-wrapper
			.rating-resume Оценка резюме
				include ../blocks/block-stars.pug
			.rating-test Оценка резюме
				include ../blocks/block-stars.pug
			.rating-interview Оценка резюме
				include ../blocks/block-stars.pug
