.results-information 
	h2 Резюме и результаты тестового задания
		.results-information__resume Резюме
		span Размер файла вложения не должен превышать 50 Мб, для загрузки допустимы следующие форматы файлов: pdf, doc
		input.upload-photo(type="file", name="photo[]")
		.upload-photo__box
			.select-files Выбрать файл
		.results-information__archive Архив с результатами тестового задания
		span Размер файла вложения не должен превышать 50 Мб, для загрузки допустимы следующие форматы файлов: zip, rar
		input.upload-photo(type="file", name="photo[]")
		.upload-photo__box
			.select-files Выбрать файл