.user__list
	.user__list-item
		.aspirant-text Соискатель
		.phone-text Телефон
		.email-text E-mail
		.user-rating Оценка соискателя
	.user__list-item
		.user-box
			img(src="img/main-screen/users-photo/Bitmap.png", alt="").user-box__img
			.user-box__fullname Бинман Иван Натанович
				.user-box__vacancy Вакансия: Full-stack разрабочик
		.phone-box
			.phone-box__img
			.phone-box__number +7 (900) 800-70-60 
				.phone-box__show Показать еще 1 номер
		.email-box
			.email-box__img
			.email-box__mail ioan@binman.ru
				.email-box__show Показать еще 1 e-mail
		.rating-box
			include ../blocks/block-stars.pug
			.rating-box__show Средний балл: 4.0
		.widget-box
			button.widget-box__item.resume
			button.widget-box__item.archive
			button.widget-box__item.favorites
	.user__list-item
		.user-box
			img(src="img/main-screen/users-photo/Bitmap2.png", alt="").user-box__img
			.user-box__fullname Дурков Павел Валерьевич
				.user-box__vacancy Вакансия: Full-stack разрабочик
		.phone-box.disable
			.phone-box__img
			.phone-box__number Телефон не указан
				.phone-box__show 
		.email-box
			.email-box__img
			.email-box__mail ioan@binman.ru
				.email-box__show 
		.rating-box
			include ../blocks/block-stars.pug
			.rating-box__show Средний балл: 1.0
		.widget-box
			button.widget-box__item.resume
			button.widget-box__item.archive
			button.widget-box__item.favorites
	.user__list-item
		.user-box
			img(src="img/main-screen/users-photo/Bitmap3.png", alt="").user-box__img
			.user-box__fullname Лебедин Артеймий Андреевич
				.user-box__vacancy Вакансия: Full-stack разрабочик
		.phone-box
			.phone-box__img
			.phone-box__number +7 (800) 555-35-35 
				.phone-box__show 
		.email-box
			.email-box__img
			.email-box__mail design@lebedin.ru
				.email-box__show 
		.rating-box
			include ../blocks/block-stars.pug
			.rating-box__show Средний балл: 3.0
		.widget-box
			button.widget-box__item.resume
			button.widget-box__item.archive
			button.widget-box__item.favorites
	.user__list-item
		.user-box
			img(src="img/main-screen/users-photo/Bitmap4.png", alt="").user-box__img
			.user-box__fullname Чулков Олег
				.user-box__vacancy Вакансия: Web-дизайнер
		.phone-box.disable
			.phone-box__img
			.phone-box__number Телефон не указан
				.phone-box__show 
		.email-box.disable
			.email-box__img
			.email-box__mail E-mail не указан
				.email-box__show 
		.rating-box
			include ../blocks/block-stars.pug
			.rating-box__show Средний балл: 2.0
		.widget-box
			button.widget-box__item.resume
			button.widget-box__item.archive
			button.widget-box__item.favorites
	.user__list-item
		.user-box
			img(src="img/main-screen/users-photo/Bitmap5.png", alt="").user-box__img
			.user-box__fullname Федора Линукс Линусович
				.user-box__vacancy Вакансия: Front-end разрабочик
		.phone-box
			.phone-box__img
			.phone-box__number +7 (800) 200-06-60
				.phone-box__show Показать еще 1 номер
		.email-box
			.email-box__img
			.email-box__mail ioan@binman.ru
				.email-box__show Показать еще 1 e-mail
		.rating-box
			include ../blocks/block-stars.pug
			.rating-box__show Средний балл: 5.0
		.widget-box
			button.widget-box__item.resume
			button.widget-box__item.archive
			button.widget-box__item.favorites