.card-room
	.container
		.section__row-1
			.room
				.room__list
					.room__list-item 
					.room__list-item
						.room-title Супер-Люкс
						.room-text Размеры (ШхГхВ) - 180х160х180 см
						.room-text Площадь - 2,88 м2
						.room-text Оснащение номера
						.room-advantage.lotok Лежак
						.room-advantage.house Домик
						.room-advantage.ball Игровой комплекс - 3 яруса
						.room-advantage.claw Когтеточка
						.room-text Цена за сутки: <span class="catalog-price">600₽</span>