.dashdoard
	.dashboard__user-information
		.hello-message Привествую тебя, Джеймс
		.current-day Понедельник 13 декабря 2019 год.
	.dasboard__user-metric
		.dasboard__user-metric--element.electrical-energy
			.last-month
			.current-month
		.dasboard__user-metric--element.utility-bills
			.last-month
			.current-month
		.dasboard__user-metric--element.electrical-energy
			.last-month
			.current-month
	.dasboard__information-company
		.dasboard__information-news
		.dasboard__information-interrogation
		.dasboard__information-payonline