aside.show-menu.animated
	img.logo(src="/img/header/logo.png", alt="")
	ul.menu__list
		li.menu__list--item <a href="#"> Главная </a>
		li.menu__list--item <a href="#"> Календарь </a>
		li.menu__list--item <a href="#"> Личный счет</a>
		li.menu__list--item <a href="#"> История оплат </a>
		li.menu__list--item <a href="#"> Управляющая компания </a>
		li.menu__list--item <a href="#"> Задать вопрос </a>
		li.menu__list--item <a href="#"> Новости </a>
		li.menu__list--item <a href="#"> Отчеты </a>
		li.menu__list--item <a href="#"> Настройки </a>