.catalog {
  max-width: 900px;
}

.catalog.active {
  width: 100%;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
}

.catalog__list-item {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 6px;
  max-width: 275px;
  margin-left: 24px;
  margin-bottom: 30px;
  display: none;
}

.catalog__list-item.hide {
  display: block;
}

.active {
  display: block;
}

.description-info {
  padding: 25px 20px;
}

.catalog-title {
  font-family: $Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

.catalog-text {
  font-family: $lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  margin-bottom: 15px;
  position: relative;
}

.catalog-text:last-child {
  margin-bottom: 25px;
}

.catalog-text__list>img {
  vertical-align: middle;
  margin-left: 9px;
}

.catalog-price {
  font-family: $lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $black;
}

.catalog-text:nth-child(3) {
  position: relative;
}

.info-text {
  opacity: 0;
  padding: 9px 10px;
  background-color: white;
  border: 1px solid #FAC663;
  box-shadow: 0px 4px 12px rgba(173, 152, 143, 0.18);
  position: absolute;
  top: -44px;
  right: 40px;
  font-family: $lato;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: $black;
  transition: 0.5s ease-in-out;
}

.none-room,
.claw-point-room,
.lotok-room,
.ball-room,
.house-room {
  margin-left: 7px;
}

.none-room,
.lotok-room {
  margin-left: 9px;
}

.none-room:hover+.info-text,
.lotok-room:hover+.info-text,
.claw-point-room:hover+.info-text,
.ball-room:hover+.info-text,
.house-room:hover+.info-text {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.text {
  display: block;
}