.tittle-wrapper {
  display: flex;
  justify-content: space-between;
}

.shop .section__row-1 {
  margin-top: 61px;
}

.shop-filter {
  position: relative;
}

.shop-filter__list {
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 25px;
  padding: 12px 62px 12px 30px;
}

// .shop-filter__up,
// .shop-filter__down {
//   margin-bottom: 25px;
// }

.shop-filter__down:last-child {
  margin-bottom: 0;
}

.shop-filter__up::before,
.shop-filter__down::before {
  content: "";
  background-image: url("../../img/catalog/icon/up.png");
  background-repeat: no-repeat;
  width: 7px;
  height: 12px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.shop-filter__down::before {
  background-image: url("../../img/catalog/icon/down.png");
}

.shop-filter__list>li:nth-child(1n+2) {
  display: none;
}

.shop .section__row-2 {
  margin-top: 60px;
}

.catalog-box {
  display: flex;
  justify-content: space-between;
}

.section__row-3 {
  margin-top: 140px;
  margin-bottom: 140px;
}

.banner-wrap {
  background-image: url("../../img/catalog/shop/banner/banner.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 380px;
  border-radius: 10px;
}

.banner-wrap__list {
  padding-top: 78px;
  padding-left: 270px;
  padding-bottom: 77px;
}

.banner-wrap--tittle {
  margin-top: 15px;
  margin-bottom: 25px;
  font-family: $Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  color: $black;
}

.banner-wrap-text {
  font-family: $lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: $black;
  max-width: 254px;
  margin-bottom: 35px;
  line-height: 1.4;
}