.section.contact
	.container
		.section__row-1
			.box-arrow.box-arrow--contact
		.section__row-2
			h2 Let’s talk about the project
		.section__row-3
			form(action="", method="post")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="button", value="get in touch")
		.section__row-4