.section.feedback
	.container
		.section__row-1
			.box-arrow.box-arrow--feedback
		.section__row-2
			h2 We have worked with some amazing companies around the world
		.section__row-3
			.brands
				.brands__list
					.brands__list-item
						img(src="img/icon/brands/autodex.png", alt="")
					.brands__list-item
						img(src="img/icon/brands/mastercard.png", alt="")
					.brands__list-item
						img(src="img/icon/brands/intut.png", alt="")
					.brands__list-item
						img(src="img/icon/brands/mtv.png", alt="")
					.brands__list-item
						img(src="img/icon/brands/printeres.png", alt="")
					.brands__list-item
						img(src="img/icon/brands/salesforce.png", alt="")
					.brands__list-item
						img(src="img/icon/brands/visa.png", alt="")
		.section__row-4
			.slick-slider.feedback-slider
				.feedback-slider__item
					.clients-photo
						img(src="", alt="")
					.clients-text “These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”
					.clients-name Anthony Watkins
					.clients-position VP of Product, VISA
				.feedback-slider__item
					.clients-photo
						img(src="", alt="")
					.clients-text “These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”
					.clients-name Anthony Watkins
					.clients-position VP of Product, VISA
				.feedback-slider__item
					.clients-photo
						img(src="", alt="")
					.clients-text “These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”
					.clients-name Anthony Watkins
					.clients-position VP of Product, VISA
				.feedback-slider__item
					.clients-photo
						img(src="", alt="")
					.clients-text “These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”
					.clients-name Anthony Watkins
					.clients-position VP of Product, VISA
				.feedback-slider__item
					.clients-photo
						img(src="", alt="")
					.clients-text “These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”
					.clients-name Anthony Watkins
					.clients-position VP of Product, VISA