header.header
	.container
		.header__row-1
			h1 We’re <span>Fusion</span>, We Build Things for Human
		.header__row-2
			nav
				.menu
					.menu__list
						a(href="").menu__list-item Design
						a(href="").menu__list-item Strategy
						a(href="").menu__list-item brandinG
		.header__row-3
			.scroll-arrow
				img(src="img/icon/arrow.png", alt="")
		.header__row-4
			.header-end
				a(href="").social-fb
					img(src="img/icon/fusion.png", alt="")
				a(href="").seemore Get in touch