.section.our_services
	.container
		.section__row-1
			.box-arrow
		.section__row-2
			h2 Our team will take your business presence to new level
		.section__row-3
			.seriveces-steps__wrapper
				.seriveces-steps
					.seriveces-steps__list
						.seriveces-steps__list--item
							.seriveces-step--img
								img(src="img/icon/services/list.png", alt="")
							.seriveces-step--title Strategy.
							.seriveces-step--text Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
							a(href="").seemore.seriveces-step--seemore See Details
						.seriveces-steps__list--item
							.seriveces-step--img
								img(src="img/icon/services/pen.png", alt="")
							.seriveces-step--title Branding.
							.seriveces-step--text Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
							a(href="").seemore.seriveces-step--seemore See Details
						.seriveces-steps__list--item
							.seriveces-step--img
								img(src="img/icon/services/dbl-pen.png", alt="")
							.seriveces-step--title Design.
							.seriveces-step--text Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
							a(href="").seemore.seriveces-step--seemore See Details