.section.slider_prj
	.container
		.section__row-1
			.slider-box
				.prj__text-info
					.prj__line
					.prj__text Branding & design
					.prj__tittle Project One
				.slider
					.slider__item
						img(src="img/section/slider_prj/slider/1.jpg", alt="")
					.slider__item
						img(src="img/section/slider_prj/slider/2.jpg", alt="")
					.slider__item
						img(src="img/section/slider_prj/slider/3.jpg", alt="")
					.slider__item
						img(src="img/section/slider_prj/slider/4.jpg", alt="")
				.prj__slide-info
					a(href="").seemore.prj__slide-seemore Project Details
					a(href="").seemore.prj__slide-seemore View Slides
					.prj__line.prj__line-revers