.section.team
	.container
		.section__row-1
			.box-arrow.box-arrow--team
		.section__row-2
			h2 Our Amazing Team
		.section__row-3
			.team-box
				.team-box__list
					.team-box__list-item.team-box__list-item--reverce
						.team-photo.team-photo--reverce
							img(src="", alt="")
						.team-name.team-name--reverce Donna Watson
						.team-position.team-position--reverce VP of Product
						.team-text Vincent is the Founder & CEO of Fusion. He is leading  the company to success with his experience & skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax food truck fund 360 campaign venture capital pitch deck actionable insight innovate.
					.team-box__list-item
						.team-photo
							img(src="", alt="")
						.team-name Donna Watson
						.team-position VP of Product
					.team-box__list-item
						.team-photo
							img(src="", alt="")
						.team-name Donna Watson
						.team-position VP of Product
					.team-box__list-item
						.team-photo
							img(src="", alt="")
						.team-name Donna Watson
						.team-position VP of Product
					.team-box__list-item
						.team-photo
							img(src="", alt="")
						.team-name Donna Watson
						.team-position VP of Product
					.team-box__list-item
						.team-photo
							img(src="", alt="")
						.team-name Donna Watson
						.team-position VP of Product
					.team-box__list-item
						.team-photo
							img(src="", alt="")
						.team-name Donna Watson
						.team-position VP of Product
					.team-box__list-item
						.team-photo
							img(src="", alt="")
						.team-name Donna Watson
						.team-position VP of Product