.brand-list
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')
	.brand-list__item
		img(src='img/section/brends/image.png', alt='')