.modal(id="modal-callback")
	.modal__background
		span.modal__background-tittle Заказать обратный звонок
		span.modal__background-text Оставьте контактные данные и вы получите лучшую цену!
		form.form 
			input(type="text" placeholder="+38").form__fielld
			input(type="submit" value="Заказать звонок").form__btn
		.modal__close