.about__viruse
	.container
		.section-title
			.logo
				img(src="img/header/logo.png", alt="")
			h2 Грибок – это опасная инфекция
			.section-subtitle которая угрожает вам и вашим близким, ведь с каждым днем грибо приводит к:
			.viruse__box
				.viruse__box-item
					.viruse__box-info
						.viruse__box-img
							img(src="img/section/about_viruse/viruse/alergia.png", alt="")
						.viruse__box-text Сложным  формам аллергии
					.viruse__info-text 
						p Может появится сильная реакция на на привычную пищу, одежду, средства гигиены
				.viruse__box-item
					.viruse__box-info
						.viruse__box-img
							img(src="img/section/about_viruse/viruse/finger.png", alt="")
						.viruse__box-text Потере ногтя и ампутации пальца
					.viruse__info-text 
						p После полного разрушения ногтя грибок распространяется на палец, что приводит к его ампутации 
				.viruse__box-item
					.viruse__box-info
						.viruse__box-img
							img(src="img/section/about_viruse/viruse/ailment.png", alt="")
						.viruse__box-text Тяжелому поражению внутренних органов
					.viruse__info-text 
						p Может привести к повреждениям мозга, слепоте, отказу печени, почек и сердца
		.section__row-2
			.attention__box
				.attention__box-info
					img(src="img/section/about_viruse/icon/stsat.png", alt="")
				p.attention__box-text <span>Статистика:</span> каждые 60 секунд врачи диагностируют опасные поражения нутренних органов, вызванные грибком, у 1-го пациент