.alike
	.container
		.section__row-1 
		.section-title
			.logo
				img(src="img/header/logo.png", alt="")
			h2 Почему большинство средств против грибка малоэффективны
		.section__row-2
			.section__list
				.section__list-item
					.section__list-img
						img(src="img/section/alike/icon/stars.png", alt="")
					.section__list-title Чудо-средства
					.section__list-subtitle Обещают, что избавят от грибка меньше, чем за месяц, хотя это невозможно. 
					span Но
					p.section__list-text Ноготь – это роговой слой кожи.Он не имеет живых клеток. Часть ногтя, которая уже поражена грибком, не может выздороветь до полного его отрастания. Единственный способ вылечить грибок – <strong>подавлять его распространение все время, пока ноготь не отрастет заново.</strong> Для этого требуется 4-6 месяцев.
				.section__list-item
					.section__list-img
						img(src="img/section/alike/icon/tube.png", alt="")
					.section__list-title Наружные средства
					.section__list-subtitle Способны устранить внешние проявления грибка. <span>(кремы, лаки, пластыри)</span>
					span Но
					p.section__list-text Очаг заражения находится под ногтевой пластиной, а наружные средства не способны его достичь - они действуют только на на верхнем слое ногтя, поэтому <strong>не способны избавить от грибка.</strong> Для повышения их эффективности рекомендуется <strong>спиливать ноготь полностью,</strong> но это больно, некрасиво и совершенно <strong>не дает гарантий выздоровления.</strong>
				.section__list-item
					.section__list-img
						img(src="img/section/alike/icon/tablets.png", alt="")
					.section__list-title Внутренние средства
					.section__list-subtitle Убивают грибковую инфекцию в организме.<span>(таблетки, саше, капли)</span>
					span Но
					p.section__list-text <strong>Могут подействовать только при длительном использовании</strong>(6 - 8 месяцев). За это время внутренние средства в 93% случаев наносят <strong>серьезный ущерб печени,</strong> вызывают сыпь, отеки, диарею, рвоту. К тому же, каждое средство эффективно только против одной группы грибка из 4000 видов.
		.section__row-3
			.attention__box.attention__box--alike
				.attention__box-info.attention__box-info--alike
					img(src="img/section/alike/info.png", alt="")
				.attention__box-text Даже если вы используете наружные и внутренние средства одновременно, <strong>это не гарантирует избавления от грибка:</strong> они могут конфликтовать между собой по составу и блокировать действие друг друга или быть неэффективными против вашего типа грибка.

