.effective
	.container
		.effective__row-1 
			.section-title
				.logo
					img(src="img/section/effective/logo2.png", alt="")
					h2 Почему таблетки <span>Микоцин</span> от грибка так эффективны?
					.section-subtitle.effective__section-subtitle Другие средства не дают полную защиту от грибковых инфекций и могут быть опасны
		.effective__row-2
			.section__list
				.section__list-item.section__list-item--orange
					.section__list-img.section__list-img--orange
						img(src="img/section/effective/icon/crema.png", alt="Кремы и мази")
					.section__list-title.section__list-title--orange Кремы и мази
					p.section__list-text <strong>Не лечат грибок, потому что не проникают в ногтевую пластину.</strong> Только временно избавляют от симптомов инфекций. Могут вызвать сильную аллергию и раздражения на коже.
				.section__list-item.section__list-item--orange
					.section__list-img.section__list-img--orange
						img(src="img/section/effective/icon/grass.png", alt="Народные методы")
					.section__list-title.section__list-title--orange Народные методы
					p.section__list-text Помогают только в редких случаях.<strong> Могут причинить вред коже и ногтям.</strong> Не редотвращают повторные заражения грибком.
				.section__list-item.section__list-item--green
					.section__list-img.section__list-img--green
						img(src="img/section/effective/icon/tablet.png", alt="Таблетки")
					.section__list-title.section__list-title--green Таблетки
					p.section__list-text <strong>Действуют против всех видов грибков.</strong> Быстро снимают неприятные симптомы и уничтожают инфекцию изнутри вне зависимости от области заражения грибком. Надолго защищают от повторных заражений.
		.effective__row-3
			.attention
				.attention__inner
					span.attention__text Зачем лечить сложнее, дольше и дороже, если есть <span>Микоцин?</span>