footer.footer
	.container
		.section__row-1
			.section-title
				.logo
					img(src="img/header/logo.png", alt="")
				h2 Как применять <span>Микоцин<span>
		.section__row-2
			.product-box
				.product__img
					img(src="img/footer/product.png", alt="")
				.product__list
					.product__list-item
						.product__list-item--img
							img(src="img/footer/icon/tablet.png", alt="" width="135px" height="135px")
						.product__list-item--text <strong>Принимать по 1 таблетке утром и вечером</strong>
					.product__list-item
						.product__list-item--img
							img(src="img/footer/icon/cup.png", alt="" width="135px" height="135px")
						.product__list-item--text <strong>Запивать стаканом воды</strong>
					.product__list-item
						.product__list-item--img
							img(src="img/footer/icon/calendar.png", alt="" width="135px" height="135px")
						.product__list-item--text <strong>Курс – от 30 дней</strong>