.form-order
	.free_delivery Бесплатно
	h3.form-order__title Успейте заказать со скидкой 
	span.form-order__date до 10.09.2018
	.order__cost-block
		.form__order-cost
			.form__text-old старая цена
			.form__price-old 918 ₽
		.form__order-cost
			.form__text-new новая цена
			.form__price-new 459 ₽
	form.form__buy(action='index.html', method='post')
		label.buy__label.buy__label--name(for='first-name')
			input#first-name.buy__input(type='text', name='first-name', placeholder='Имя')
		label.buy__label.buy__label--phone(for='phone')
			input#phone.buy__input(type='tel', name='phone', placeholder='Телефон')
		button.buy__submit.button(type='submit', name='button') Заказать <br> <span class="buy__submit-text"> со скидкой </span>
	.amount__item-info Осталось <span class="amount__item-info--green">10</span> упаковок со скидкой
	.guard__box Ваши данные защищины!