header.header
	.container
		.header__row-1
			.promo-info
				.header__logo
					img(src="img/header/logo.png", alt="").logo-img
					.logo-text Микоцин
				.promo__list
					.promo__list-item №1 Для избавления<br> от любого типа грибка
					.promo__list-item Рекомендован <br>дерматологами
					.promo__list-item 13000+ довольных <br>клиентов за 2018 год
		.header__row-2
			.header__col-1
				span.header__price-orange 299 <span>₽</span>
				span.header__price-green 299 <span>₽</span>
				img(src="img/header/tablets.png" alt="Таблетки Микоцил").promo-img
				include ../blocks/info-box.pug
				include ../blocks/form-order.pug
