doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name="description" content="Описание страницы сайта")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css')
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		link(rel='stylesheet', href='https://unpkg.com/swiper/css/swiper.css' defer)
		link(rel='stylesheet', href='https://unpkg.com/swiper/css/swiper.min.css' defer)
		script(src='https://unpkg.com/swiper/js/swiper.js' defer)
		script(src='https://unpkg.com/swiper/js/swiper.min.js' defer)
		script(src="js/header-slider.js" defer)
		link(rel='stylesheet', href='css/style.css')
		title Interior Design
	body
		.wrapper
			include ../blocks/header.pug
			.section
				include ../blocks/advantages.pug
				include ../blocks/portfolio.pug
				include ../blocks/service.pug
				include ../blocks/video-works.pug
				include ../blocks/work-stages.pug
				include ../blocks/feedback-form.pug
				include ../blocks/feedback-clients.pug
			include ../blocks/footer.pug
		script(src="js/portfolio-slider.js?v2" defer)
		script(src="js/app.js" defer)
