.fotter {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 1.5;
    background-color: #e7526b;
  }
  .contact__list {
    padding: 80px 0 180px 0;
  }

  .contat__list-text {
    padding-bottom: 30px;
  }
  .text-strong {
    font-weight: bold;
    display: block;
  }
  .contact__list-mail {
    color: white;
  }
  /* ------------------------------------------- */

  .fotter-bottom {
    background-color: #2e3b4e;
    padding: 40px 0 300px 0;
    color: white;
  }
  .footer-text {
    font-size: 13px;
  }
  /* ------------------------------------------------------- */
  