.header {
  background-image: url("../image/Header/Layer25.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}
.header__row-1 {
  display: flex;
  justify-content: space-between;
  padding: 40px 35px 30px 0;
  border-bottom: 1px solid #3c2c3b;
  align-items: center;
  margin-bottom: 220px;
  position: relative;
}
.header__logo {
  background-image: url("../image/Header/logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50px;
  height: 24px;
}
.logo-text {
  flex-grow: 2;
  padding-left: 10px;
}

.button-burger {
  display: none;
  font-size: 40px;
  margin: 0 10px;
  cursor: pointer;
}

.button-burger.active {
  color: red;
  z-index: 11;
}

@media (max-width: 1200px) {
  .button-burger {
    display: inline-block;
  }
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
  .menu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 25px;
  font-size: 13px;
  padding-bottom: 10px;
}
.menu a:hover {
  padding-bottom: 35px;
  text-align: center;
  border-bottom: 3px solid #fff;
}
.menu a.active {
  padding-bottom: 35px;
  border-bottom: 3px solid #fff;
}
.serch {
  position: absolute;
  left: calc(100% - 50px);
}
@media (max-width: 1600px) {
  .serch {
    position: relative;
    left: auto;
  }
}

.serch::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px;
  content: "\f002";
  color: #bbbbbb;
  position: absolute;
  left: calc(100% - 30px);
  top: 14px;
}
.serch__input {
  border-radius: 50px;
  padding-left: 20px;
  border: 0px solid white;
  height: 44px;
  padding-right: 35px;
}
/* ------------------------------------------- */
/* ROW-2 */
.header__row-2 {
  display: flex;
  justify-content: flex-start;
}
.hero-box {
  text-align: end;
}
.hero-box__title {
  line-height: 1.5;
  font-size: 50px;
  margin-bottom: 50px;
}
.hero-box__button {
  display: inline-block;
  text-align: center;
}
.header__row-3 {
  /* margin-left: 440px; */
  margin-top: 50px;
  /* display: flex;
  justify-content: end; */
}
.button {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: 0px solid;
  background-color: #9933cc;
  border-radius: 50px;
  padding: 20px 60px;
  cursor: pointer;
  transition: 0.6s;
  color: white;
  display: inline-block;
}
.button:hover {
  background-color: #967c78;
  transition: 0.6s;
}
.button-small-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: white;
  margin-top: 20px;
}
/* --------------END-------------------------------------- */
