.header {
    background-image: url("../image/Header/Layer25.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	color: white;
    height: 100vh;
}
.header__row-1 {
    display: flex;
    justify-content: space-between;
    padding: 40px 35px 30px 212px;
    border-bottom:1px solid #3c2c3b;
    align-items: center;
}
.header__logo {
    background-image: url("../image/Header/logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 24px;
}
.logo-text { 
    flex-grow: 2;
    padding-left: 10px;
}
.menu__item a {
    color: white;
    text-decoration: none;
    padding-left: 50px;
    font-size: 13px;
    transform: 0.3;
    padding-bottom: 40px;
}
.menu__item a:hover {
    padding-bottom: 40px;
    padding-left: 0px;
    text-align: center;
    border-bottom: 3px solid #fff;
    transform: 0.3;
  }
  .menu__item a.active {
    padding-bottom: 40px;
    padding-left: 0px;
    transform: 0.3;
    border-bottom: 3px solid #fff;
}
.serch {
position: relative;
}
.serch::after {
    font-family:"Font Awesome 5 Free";
    font-weight: 900;
    font-size: 15px;
    content: "\f002";
    color: #bbbbbb;
    position: absolute;
    left: 190px;
    top: 14px;
}
.serch__input {
    border-radius: 50px;
    padding-left: 20px;
    margin-left: 30px;
    border: 0px solid white;
    height: 44px;
    padding-right: 10px;
}
/* ------------------------------------------- */
/* ROW-2 */
.header__row-2 {
    display: flex;
    justify-content: flex-start;
}
h1 {
    line-height: 1.5;
    text-align: end;
    font-size: 50px;
    margin: 274px auto 0px 220px;
}
.header__row-3 {
    margin-left: 440px;
    margin-top: 50px;
    display: flex;
    justify-content: end;
}
.button {
    font-family:'Open Sans', sans-serif;
    font-weight: bold; 
    font-size: 18px;
    border: 0px solid;
    background-color: #9933cc;
    border-radius: 50px;
    padding: 20px 60px;
	cursor: pointer;
    transition: .6s ;
    color: white;
}
.button:hover {
	background-color: #967c78;
	transition: .6s;
}
.button-small-text{
    font-family:'Open Sans', sans-serif;
    font-weight: 400; 
    font-size: 12px;
    color: white;
    margin: 20px auto 220px 470px;
}
/* --------------END-------------------------------------- */


