/* ----------------Section Features---------------------- */
.features {
  background-color: #2e3b4e;
  color: white;
  padding-bottom: 140px;
}

.features-text {
  display: flex;
  /* align-content: flex-start; */
  flex-wrap: wrap;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.features__text-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-top: 70px;
  padding-left: 20px;
  line-height: 1.5;
}
/* ------------------------------------------------------------------------- */
.pink {
  background-image: url("../image/Section/wood.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.pink__row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pink__hero-text {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 35px;
  line-height: 1.5;
  padding-top: 150px;
}
.pink__small-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  padding-top: 20px;
}
.pink__row-2 {
  padding-top: 35px;
  padding-bottom: 190px;
  display: flex;
  justify-content: center;
}
.buttom-white {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: 0px solid;
  background-color: #fff;
  border-radius: 50px;
  padding: 15px 70px;
  cursor: pointer;
  transition: 0.6s;
  color: #c7556b;
  text-align: center;
}
.buttom-white:hover {
  background-color: turquoise;
  transition: 0.6s;
}
/* ------------------------END------------------------- */

.about {
  background: white;
  color: black;
}
.about-list {
  display: flex;
}
.about__list-image {
  background-image: url("../image/Section/About1/photo-abt.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 630px;
  flex-grow: 1;
}
.about___list-text {
  padding: 90px 225px 132px 100px;
  flex-grow: 2;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
}
.list-text-big {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
}
.small {
  font-size: 15px;
  padding-top: 40px;
  font-weight: lighter;
}
