/* ----------------Section Features---------------------- */
.features {
  background-color: #2e3b4e;
  color: white;
}
.container {
  display: flex;
  /* align-content: flex-start; */
  flex-wrap: wrap;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.features-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 20px;
  line-height: 1.5;
}
