.footer {
	background-image: url("../img/footer/background.png");
	background-repeat: no-repeat;
	background-position: top center;
}

h2>span {
	color: $color-no;
}

.product-box {
	display: flex;
	flex: 0 0 50%;
	justify-content: center;
	align-items: center;
}

@media (max-width: 425px) {
	.product-box {
		flex-direction: column;
	}
}

@media (max-width: 425px) {
	.product__img {
		width: 50%;
	}
}

@media (max-width: 425px) {
	.product__list {
		margin-top: 15px;
	}
}

.product__list-item {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.product__list-item--img {
	margin-right: 30px;
}

@media (max-width: 425px) {
	.product__list-item--img {
		width: 100px;
	}
}

.product__list-item--text {
	max-width: 220px;
	position: relative;
	font-size: 18px;
}

@media (max-width: 320px) {
	.product__list-item--text {
		flex-basis: 70%;
	}
}

.product__list-item--text::before {
	content: "";
	position: absolute;
	top: -20px;
	left: 0;
	width: 20px;
	border-bottom: 3px solid #7bbf1c;
}