.burger-menu.active {
	align-items: flex-start;
}

.burger-menu .background-modal {
	padding-top: 180px;
	width: 100%;
	height: 70%;
	background-position-x: -8px;
	background-position-y: 90px;
}

.burger-menu .menu__list {
	flex-direction: column;
}

.burger-menu .menu__list-item {
	margin-bottom: 15px;
	font-size: 25px;
	margin-left: 0;
}

.burger-menu .menu__list-item:last-child {
	margin-bottom: 30px;
}

.header__row-1.active {
	position: fixed;
	z-index: 9999;
	width: 100%;
	background-color: white;
}