.button {
	background: #FFFEFD;
	box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
	border-radius: 25px;
	padding: 16px 63px 18px 30px;
	font-weight: 600;
	font-size: 16px;
	color: $black;
	position: relative;
}

.button::after {
	content: "";
	position: absolute;
	top: 7px;
	right: 7px;
	// transform: translate(-50%, -50%);
	background-color: $orange;
	background-image: url("../img/button/icon.png");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	transition: 0.3s all;
}

.button:hover::after {
	transition: 0.3s all;
	transform: translateX(-20%);
}

.button {
	animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}