.header-promo {
	background-image: url("../img/header/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;
}

.promo-box {
	padding-top: 153px;
	padding-bottom: 153px;
	margin-left: 80px;
}

@media (max-width: 470px) {
	.promo-box {
		margin-left: 20px;
	}
}

.promo-box__list--country {
	font-family: $lato;
	font-size: 14px;
	margin-bottom: 15px;
}

.promo-box__list--tittle {
	font-family: $Rubik;
	font-weight: bold;
	font-size: 62px;
	// line-height: 73px;
	margin-bottom: 25px;
}

.promo-box__list--text {
	font-family: "LatoWeb";
	font-weight: 500;
	font-size: 20px;
	// line-height: 24px;
	margin-bottom: 40px;
}

@media (max-width: 700px) {
	.promo-box__list--text {
		max-width: 300px;
	}
}

@media (max-width: 570px) {
	.promo-box__list--text {
		max-width: 200px;
	}
}