.header-inner {
	background: #FFFEFD;
	padding: 12px 0;
}

.header-inner__list {

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__list {
	display: flex;
	justify-content: space-between;
}

.menu__list-item {
	font-family: $lato;
	margin-left: 30px;
	font-weight: 600;
	font-size: 16px;
}

.menu__list-item>a {
	color: $black;
	transition: 0.3s linear;
}

.menu__list-item>a:hover {
	color: $orange;
	transition: 0.3s linear;
}

.header-promo {
	background-image: url("../img/header/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;
}

.promo-box {
	padding-top: 153px;
	padding-bottom: 153px;
	margin-left: 80px;
}

.promo-box__list--country {
	font-family: $lato;
	font-size: 14px;
	margin-bottom: 15px;
}

.promo-box__list--tittle {
	font-family: $Rubik;
	font-weight: bold;
	font-size: 62px;
	// line-height: 73px;
	margin-bottom: 25px;
}

.promo-box__list--text {
	font-family: "LatoWeb";
	font-weight: 500;
	font-size: 20px;
	// line-height: 24px;
	margin-bottom: 40px;
}