/* Слайдер */
.slider-feedback.slick-slider {
  max-width: 1470px;
  transform: translate(30%);
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slider-feedback .slick-slide {
  outline: none;
  border: 1px solid red;
  max-width: 470px;
  padding: 35px 38px 70px 70px;
  margin-left: 30px;
}

// /* Стрелка */
// .slick-arrow {}

// /* Стрелка влево */
// .slick-arrow.slick-prev {}

// /* Стрелка вправо */
// .slick-arrow.slick-next {}

// /* Стрелка не активная */
// .slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-left: 10px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: $yellow;
}
