.advantages#advantages
	.container
		.advantages__row-1
			.advantages__list
				.advantages__list-item
					.advantages__number 01
					.advantages__tittle Берем весь ремонт на себя
					.advantages__text Заботы по дизайну и отделке помещения возьмем на себя, останется дождаться завершения работ и наслаждаться результатом
				.advantages__list-item 
					.advantages__number 02
					.advantages__tittle Мы - профессионалы своего дела
					.advantages__text Наши дизайнеры постоянно повышают квалификацию, посещеют курсы и тренинги а студия уже реализовала свыше 1000 дизайн-проектов
				.advantages__list-item
					.advantages__number 03
					.advantages__tittle Наши проекты индивидуальны
					.advantages__text Каждый, созданный студией, интерьер - индивидуальное и максимально продуманное решение для каждого вида помещения
				.advantages__list-item
					.advantages__number 04
					.advantages__tittle Рабатаем на выгодных условиях
					.advantages__text Ценовая политика студии очень лояльна, мы осуществляем контроль всего процесса работы  и получаем результат который делает клиентов счастивыми. екекекукпавпавыпапапвп  4434343