.desktop__menu.animated(data-id="desktop__menu")
	.container
		.desktop__menu-box
			nav.menu__list
				a(href="").menu__list-item Главная
				a(href="#advantages").menu__list-item Приемущества
				a(href="").menu__list-item Портфолио
				a(href="").menu__list-item Наши Услуги
				a(href="").menu__list-item Отзывы
				a(href="").menu__list-item Контакты
