.feedback-form
		.feedback-form__row-1
			.feedback-form__col-1
				.container
					.feedback-form__box
						.feedback-form__box-tittle Мечтаете об интерьере  <br>от BRUME?
						.feedback-form__box-text Оставьте контактные данные, менеджер свяжется с вами <br> в течении 15 минут,для уточнения всех деталей.
							form.feedback-form__list
								input.feedback-form__list-item.name(type="text" placeholder="Имя*")
								input.feedback-form__list-item.phone(type="tel" placeholder="Телефон*")
								input.feedback-form__list-item.email(type="email" placeholder="E-mail*")
								button.feedback-form__list-item.button Отправить
								span.feedback-form__list-item.text Нажимая на кнопку, вы соглашаетесь с условиями обработки персональных данных
			.feedback-form__col-2
				.feedback-form__img