.feedback-clients
	.container
		.feedback-clients__row-1
			h2 Отзывы наших клиентов
	.feedback-clients__row-2
		.feedback-clients__list
			.feedback-clients__list--item
				.feedback-clinets-name Александра Холодная
				.feedback-service-name Услуга: инерьер детской
				.feedback-clients-text Спасибо студии за замечательный интерьер для моей 4-х летней дочки! Работа прошла быстро и легко, команда выполнила все точно в срок, сделали все как  мы и хотели. В следующий раз обратимся к BRUME!
				img(src="../img/section/feedback-clients/2802.jpg", alt="клиент Александра Холодная").feedback-clients-photo
			.feedback-clients__list--item
				.feedback-clinets-name Александра Холодная
				.feedback-service-name Услуга: инерьер детской
				.feedback-clients-text Спасибо студии за замечательный интерьер для моей 4-х летней дочки! Работа прошла быстро и легко, команда выполнила все точно в срок, сделали все как  мы и хотели. В следующий раз обратимся к BRUME!
				img(src="../img/section/feedback-clients/2803.jpg", alt="клиент Александра Холодная").feedback-clients-photo
			.feedback-clients__list--item
				.feedback-clinets-name Александра Холодная
				.feedback-service-name Услуга: инерьер детской
				.feedback-clients-text Спасибо студии за замечательный интерьер для моей 4-х летней дочки! Работа прошла быстро и легко, команда выполнила все точно в срок, сделали все как  мы и хотели. В следующий раз обратимся к BRUME!
				img(src="../img/section/feedback-clients/2804.jpg", alt="клиент Александра Холодная").feedback-clients-photo