footer
	.container
		.footer__row-1
			.footer__col-1
				.company-name BRUME interior, 2017 ©
			.footer__col-2
				.footer-logo
					img(src="/img/footer/logo.png", alt="")
				.social-icon
					.social__icon-list
						a(href="https://vk.com").social__icon-item.vk
						a(href="https://instagram.com").social__icon-item.instagram
						a(href="https://facebook.com").social__icon-item.facebook
			.footer__col-3
				.desing-name HolodnayaDesign