//Swiper
.swiper-container-1
	.swiper-wrapper
		img(src="img/header/slider/1.jpg", alt="").swiper-slide
		img(src="img/header/slider/2.jpg", alt="").swiper-slide
		img(src="img/header/slider/3.jpg", alt="").swiper-slide
		img(src="img/header/slider/4.jpg", alt="").swiper-slide
	.swiper-pagination
	//- .swiper-button-next
	//- .swiper-button-prev