// Swiper
.swiper-container.gallery-top
  .swiper-wrapper
    img(src="/img/section/portfolio/slider/nature-1.jpg", alt="").swiper-slide
    img(src="/img/section/portfolio/slider/nature-2.jpg", alt="").swiper-slide
    img(src="/img/section/portfolio/slider/nature-3.jpg", alt="").swiper-slide
    img(src="/img/section/portfolio/slider/nature-4.jpg", alt="").swiper-slide
  // Add Arrows
  //- .swiper-button-next.swiper-button-white
  //- .swiper-button-prev.swiper-button-white
.swiper-container.gallery-thumbs
  .swiper-wrapper
    img(src="/img/section/portfolio/slider/nature-1.jpg", alt="").swiper-slide
    img(src="/img/section/portfolio/slider/nature-2.jpg", alt="").swiper-slide
    img(src="/img/section/portfolio/slider/nature-3.jpg", alt="").swiper-slide
    img(src="/img/section/portfolio/slider/nature-4.jpg", alt="").swiper-slide