.portfolio
	.container
		.portfolio__row-1
			h2.portfolio__hero-text Портфолио
		.portfolio__row-2
			.project
				.project__list
					a(href="").project__list-item Все проекты 
					a(href="").project__list-item Дизайн интерьеров
					a(href="").project__list-item Отделочные работы
		.portfolio__row-3