.service
	.container
		.service__row-1
			h2.service__hero-text Наши услуги
		.service__row-2
			.service__col-1
				nav.service__menu
					ul.service__menu-list
						li.service__menu-list-item <a href="http://"> Дизайн жилого помещения </a>
						li.service__menu-list-item <a href="http://"> Дизайн отельных комнат </a>
						li.service__menu-list-item <a href="http://"> Дизайн коммерческих объектов </a>
						li.service__menu-list-item <a href="http://"> Ремонт под ключ </a>
						li.service__menu-list-item <a href="http://"> Отделочные работы </a>
						li.service__menu-list-item <a href="http://"> Выезд дизайнера на дом </a>
			.service__col-2
				.service__list
					.service__list-img
					.service__list-tittle
					.service__list-text
		.service__row-3