.work-stages
	.container
		.work__stages__row-1
			h2.work__stages-text Этапы работы
		.work__stages__row-2
			.work__stages-list
				.work__stages-item
					.work__stages-item.tittle Консультация
					.work__stages-item.text Обсуждаем задачи и пожелания, предлагаем варианты дизайна интерьера, оговариваем сроки 
				.work__stages-item
					.work__stages-item.tittle Техническое задание
					.work__stages-item.text Составляем техническое задание. Заключаем договор, в котором прописываем все этапы проекта.
				.work__stages-item
					.work__stages-item.tittle Замеры и планировка
					.work__stages-item.text Фиксируем размеры стен, окон, плинтусов, дверных проемов  для эффективной работы
				.work__stages-item
					.work__stages-item.tittle Дизайн-концепция
					.work__stages-item.text Создаем концепцию на основе пожеланий клиента, его образов        и ощущений.  подбираем мебель.
				.work__stages-item
					.work__stages-item.tittle 3D Визуализация
					.work__stages-item.text Создаем 3d визуализацию, собираем пакет чертежей соответствующий строительным нормам..
				.work__stages-item
					.work__stages-item.tittle Комплектация интерьера
					.work__stages-item.text Подбираем мебель, отделочные материалы, светильники и текстиль. Декорируем интерьер.