.container
	.apartament
		.apartament__row-1
			.apartament__wrapper
				.apartament-item
					include ../Apartament/room-slider.pug
				.apartament-item
					.apartament-title Супер-Люкс
					.apartament-text Размеры (ШхГхВ) - 180х160х180 см
					.apartament-text Площадь - 2,88 м2
					.apartament-text Оснащение номера
					.apartament-advantage.lotok Лежак
					.apartament-advantage.house Домик
					.apartament-advantage.ball Игровой комплекс - 3 яруса
					.apartament-advantage.claw Когтеточка
					.apartament-text Цена за сутки: <span class="catalog-price">600₽</span>
					button.button.button-orange.wow.pulse Забронировать
		.apartament__row-2
			h2.h2--center Другие номера