.contact-information {
	margin-bottom: 40px;
}

.contact-information__phone,
.contact-information__email {
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 12px;
	text-transform: uppercase;
	color: #475364;
	margin-bottom: 8px;
	margin-top: 16px;
}


.add-phone,
.add-email {
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #8EA4B5;
	text-transform: none;
	margin-bottom: 8px;
	text-decoration: underline;
	margin-top: 4px;
}

.add-phone {
	text-decoration: underline dashed;
}