/* ---------Шрифыт----------- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=cyrillic');

/* -------------------------------- */

* {
  box-sizing: border-box;
}

/* Стили поумолчанию для всех элементов */
body {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
  background-color: #fff;
}

/* Поведение вхех картинок поумолчанию */
img {
  max-width: 100%;
  height: auto;
}

/* Стили ссылок поумолчанию */
a {
  text-decoration: none;
}

a:hover {
  transition-duration: 0.3s;
}

/* Убрать обводку поумолчанию у кнопок, font: inherit - позволит наследовать стили родителя (у кнопки сили шрифтов заданы поумолчанию) */
button {
  border: none;
  outline: none;
  font: inherit;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Обёртка всего - идёт после body */
.wrapper {
  position: relative;
}

/* Класс который устанавливет рабочую область для контента */
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

/* Медиа запрос - на этом разрешении экрана изменятся отступы по краям */
@media (max-width: 1110px) {
  .container {
    padding: 0 10px;
  }
}