.results-information {
	margin-bottom: 41px;
}

.results-information__resume,
.results-information__archive {
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 12px;
	text-transform: uppercase;
	color: #475364;
	margin-bottom: 8px;
	margin-top: 16px;
}