doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css')
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		link(rel='stylesheet', href='css/style.css')
		title Portal
	body
		.wrapper
			.register
				.container
					.register__row-1
						.register-list
							.register__title Регистрация
							forma.registern__forma-list
								input.register__input.register__input--name(type="text" name="user name" placeholder="Ваше имя")
								input.register__input.register__input--surname(type="text" name="user surname" placeholder="Ваша фамилия")
								input.register__input.register__input--mail(type="mail" name="user mail" placeholder="Ваша почта")
								input.register__input.register__input--userphone(type="phone" name="user phone" placeholder="Ваш номер телефона")
								hr
								input.register__input.register__input--password(type="password" name="user password" placeholder="Ваш пароль")
								input.register__input.register__input--password(type="password" name="repeat password" placeholder="Подтвердите пароль")
								label.checkbox-box
									input.register__input--checkbox(type="checkbox")
									<i class="far fa-square"></i>
									span Принимаю <a href="">пользовательское соглашение</a> и предоставляю согласие на <a href="#">сбор данных</a>
								.button-box
									button.register__button--sumbit(type="submit" name="Войти") Зарегистрироваться
							.login--register 
								a(href="login.html") Уже есть аккаунт?
							.login-social
								a(href="https://www.facebook.com/").login__social-item.icon--fb
								a(href="https://www.google.com/").login__social-item.icon--google
				include ../blocks/footer.pug