doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name="description" content="Описание для фотографов, кратко и лаконично. А главное красиво.")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
		link(rel='stylesheet', href='css/style.css')
		title Photography
	body
		.wrapper
			include ../blocks/header.pug
			.section
				include ../blocks/our_services.pug
				include ../blocks/slider_prj.pug
				include ../blocks/feedback.pug
				include ../blocks/team.pug
				include ../blocks/contact.pug
		script(src="https://code.jquery.com/jquery-3.4.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/app.js?v1")