doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name="description" content="Описание для фотографов, кратко и лаконично. А главное красиво.")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css')
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		link(rel='stylesheet', href='css/style.css')
		title Photography
	body#body
		style.
			.preloader{
				min-height: 100vh;
				height: 100%;
				width: 100%;
				background-color: rgb(255,255,255);
				color: rgb(36,111,176);
				font-size: 45px;
				font-family:  Arial, sans-serif;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				position: fixed;
				top: 0;
				left: 0;
				transition-duration: 1s;
				display: none;
				z-index: 10000;
			}
			.preloader.noload{
				display: flex;
			}
		script.
			window.addEventListener("load", function(){
				document.querySelector('.preloader').classList.remove('noload');
			});

		.preloader
			img(src="img/preloader/preloader.gif" alt="preloader")
		.wrapper
			script.
				document.querySelector('.preloader').classList.add('noload');
			//-----------------------------------------------------------------//
			include ../blocks/header.pug
			.section
				include ../blocks/our_services.pug
