.advantages__row-1 {
	padding-bottom: 130px;
}

.advantages__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.advantages__list-item {
	max-width: 244px;
}

.advantages__list-item:nth-child(2) {
	margin-top: 340px;
}

.advantages__list-item:nth-child(4) {
	margin-top: 340px;
}

.advantages__number {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 85px;
	color: #fde3c9;
	margin-bottom: 20px;
	line-height: 1;
}

.advantages__tittle {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}

.advantages__text {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: grey;
	line-height: 1.5;
}