.desktop__menu {
	display: none;
}

.active {
	position: absolute;
	top: 90px;
	left: 0;
	width: 100%;
	display: block;
}

@media (max-width: 768px) {
	.active {
		top: 0px;
	}
}

.desktop__menu-box {
	height: 600px;
	background-color: #112537;
}

@media (max-width: 768px) {
	.desktop__menu-box {
		height: 1060px;
		background-color: #112537;
	}
}

.menu__list>a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__list-item {
	color: white;
	font-size: 20px;
	padding-bottom: 45px;
	transition: 0.3s;
}

.menu__list-item:hover {
	color: #f8a25a;
	transition: 0.3s;
}

.menu__list-item:first-child {
	padding-top: 70px;
}

@media (max-width: 768px) {
	.menu__list-item:first-child {
		padding-top: 140px;
	}
}

.menu__list-item:last-child {
	padding-bottom: 70px;
}

.desktop__menu .social-icon {
	display: none;
}

@media (max-width: 768px) {
	.desktop__menu .social-icon {
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
	}



	.desktop__menu .social__icon-item {
		color: white;
	}

	.desktop__menu .social__icon-item:hover {
		color: #f8a25a;
	}
}

@media (max-width: 768px) {
	.desktop__menu .container {
		padding: 0;
		max-width: 768px;
	}
}