.feedback-clients {
	padding-top: 155px;
	margin-bottom: 90px;
}

.feedback-clients__row-2 {
	padding-bottom: 245px;
	overflow: hidden;

}

.feedback-clients__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translateX(-25%);
}

.feedback-clients__list--item {
	width: 660px;
	max-height: 275px;
	background-color: white;
	padding: 50px 130px 50px 70px;
	position: relative;
	flex-shrink: 0;

}

.feedback-clients__list--item:first-child {
	margin-right: 230px;
}

.feedback-clients__list--item:nth-child(2) {
	margin-right: 230px;
}

.feedback-clinets-name {
	font-family: "Raleway";
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 20px;
}

.feedback-service-name {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 16px;
	color: #efb172;
	margin-bottom: 25px;
}

.feedback-clients-text {
	font-family: "Raleway";
	font-weight: 300;
	font-size: 16px;
	color: #5e5e5e;
}

.feedback-clients-photo {
	position: absolute;
	top: 29px;
	right: -20%;
}