.feedback-form {
  //   color: white;
  //   background-color: #182c3d;
  //   max-height: 750px;
  background-image: url("../img/section/record-form/kitchen2.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  position: relative;
}

.feedback-form::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #182c3d;
  width: 50%;
  height: 100%;
}

.feedback-form__row-1 {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-basis: 50%;
  z-index: 2;
  position: relative;
}

.feedback-form__col-1 {
  margin-right: 100px;
  padding-left: 360px;
}

@media (max-width: 768px) {
  .feedback-form__col-1 {
    margin: 0 auto;
  }
}

.feedback-form__box-tittle {
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 80px;
  color: white;
}

@media (max-width: 768px) {
  .feedback-form__box-tittle {
    text-align: center;
  }
}

.feedback-form__box-text {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 14px;
  color: #a4acb3;
}

@media (max-width: 768px) {
  .feedback-form__box-text {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .feedback-form__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

input {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 14px;
  border: 0px solid #a4acb3;
  border-bottom: 1px solid #a4acb3;
  background-color: transparent;
  display: block;
  margin-bottom: 30px;
  padding: 10px 390px 10px 0px;
  outline: none;
}

@media (max-width: 768px) {
  input {
    padding: 10px 240px 10px 0px;
  }
}

input:focus {
  color: white;
}

input::placeholder {
  color: #a4acb3;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 14px;
}

.name::after {
  font-family: "Font Awesome 5 free";
  font-weight: 400;
  content: "\f007";
  color: white;
  font-size: 20px;
}

input:first-child {
  margin-top: 40px;
}

input:nth-child(3) {
  margin-bottom: 45px;
}

.feedback-form__list-item.button {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 15px;
  border: 2px solid white;
  background-color: transparent;
  padding: 20px 230px;
  color: white;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .feedback-form__list-item.button {
    padding: 20px 160px;
  }
}

.feedback-form__list-item.button:hover {
  background-color: #f8a25a;
  transition: 0.3s;
}

.feedback-form__list-item.text {
  display: block;
  margin-top: 20px;
  padding-bottom: 90px;
}

.feedback-form__col-2 {
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .feedback-form__list-item.text {
    max-width: 411px;
  }
}

@media (max-width: 768px) {
  .feedback-form__col-2 {
    display: none;
  }
}