.header-box {
  background: linear-gradient(90deg, rgba(17, 31, 43, 0.9) 50%, rgba(255, 255, 255, 0.0) 50%);
  color: white;
}

@media (max-width: 768px) {
  .header-box {
    background-image: linear-gradient(to top, rgba(46, 63, 78, 0.7), rgba(46, 63, 78, 0.7)), url("../img/header/768px/life.png.jpg");
    background-repeat: no-repeat;
  }
}

.header__row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  position: relative;
  z-index: 100;
}

@media (max-width: 768px) {
  .header__row-1 {
    padding: 55px 36px 100px 36px;
  }
}

.burger-menu {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  clip: rect(0 0 0 0);
}

@media (max-width: 768px) {
  header label {
    order: 3;
  }
}

.material-icons:before {
  content: "menu";
  color: white;
  font-size: 40px
}

.burger-menu:checked+i::before {
  content: "close";
  color: white;
  font-size: 40px;
}

@media (max-width: 768px) {
  .burger-menu:checked+i::before {
    content: "close";
    color: white;
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .material-icons:before {
    content: "menu";
    color: white;
    font-size: 60px
  }
}

.logo {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .logo {
    margin: 0;
    position: static;
    left: 0;
    transform: none;
    order: 2;
  }
}

.header-phone>a {
  color: black;
  font-family: "Muller";
  font-weight: 300;
  font-size: 14px;
}

@media (max-width: 768px) {
  .header-phone {
    display: none;
  }
}

.header-phone::before {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f879";
  color: grey;
  vertical-align: middle;
  margin-right: 10px;
}

// --------------------------------------------

.header__row-2 {
  margin-top: 205px;
  margin-bottom: 190px;
  max-width: 40%;
  margin-left: 100px;
}

@media (max-width: 768px) {
  .header__row-2 {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 30px;
  color: white;
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 100px;
  }
}

.header-tittle-text {
  font-family: "Muller";
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .header-tittle-text {
    text-align: center;
    font-size: 26px;
  }
}

.header-order {
  max-width: 280px;
}

@media (max-width: 768px) {
  .header-order {
    max-width: 400px;
  }
}

.header-order-pay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8a25a;
  color: white;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 30px 20px 30px;
  transition: .3s;
}

@media (max-width: 768px) {
  .header-order-pay {
    font-size: 30px;
    padding: 30px 45px 30px 45px;
    margin-bottom: 175px;
  }
}

.header-order-pay:hover {
  background-color: rgb(202, 58, 58);
  transition: .3s;
}

.header-order-line {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-order-line::before {
  width: 40px;
  content: "";
  display: inline-block;
  border-bottom: 2px solid white;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .header-order-line::before {
    display: none;
  }
}

.header-order-line::after {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f105";
  color: white;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .header-order-line::after {
    display: none;
  }
}

// --------------------------------------------

.header__row-3 {
  padding-bottom: 35px;
}

.arrow-down::after {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f107";
  color: white;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  display: none;
}

@media (max-width: 768px) {
  .arrow-down::after {
    display: flex;
    padding-bottom: 100px;
  }
}

.social__icon-list {
  display: flex;
}

.social__icon-item {
  font-size: 20px;
  color: #b3b9bf;
}

@media (max-width: 768px) {
  header .social-icon {
    display: none;
  }
}

.social__icon-item:hover {
  color: #f8a25a;
}

.vk::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f189";
}

.instagram::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f16d";
  margin-left: 35px;
}

.facebook::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f39e";
  margin-left: 35px;
}



// --------------------------------------------