/* ---------Шрифыт----------- */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600i,700&display=swap&subset=cyrillic');

@font-face {
	font-family: "Raleway";
	font-weight: 500;
	font-style: normal;
	src: url('/fonts/Raleway/Raleway-Medium.ttf');
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	font-weight: 300;
	font-style: normal;
	src: url('/fonts/Raleway/Raleway-Light.ttf');
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	font-weight: 600;
	font-style: normal;
	src: url('/fonts/Raleway/Raleway-SemiBold.ttf');
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	font-weight: 700;
	font-style: normal;
	src: url('/fonts/Raleway/Raleway-Bold.ttf');
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	font-weight: 800;
	font-style: normal;
	src: url('/fonts/Raleway/Raleway-ExtraBold.ttf');
	font-display: swap;
}

@font-face {
	font-family: "Muller";
	font-weight: 300;
	font-style: normal;
	src: url('/fonts/Muller/MullerLight.woff2');
	font-display: swap;
}

/* -------------------------------- */

* {
	box-sizing: border-box;
}

/* Стили поумолчанию для всех элементов */
body {
	color: #00203a;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	overflow-x: hidden;
	background-image: url("../img/main/background.png");
	background-position: center;

}

/* Поведение вхех картинок поумолчанию */
img {
	max-width: 100%;
	height: auto;
}

/* Стили ссылок поумолчанию */
a {
	text-decoration: none;
}

a:hover {
	transition-duration: 0.3s;
}

/* Убрать обводку поумолчанию у кнопок, font: inherit - позволит наследовать стили родителя (у кнопки сили шрифтов заданы поумолчанию) */
button {
	border: none;
	outline: none;
	font: inherit;
}

button,
input[type="submit"] {
	cursor: pointer;
}

/* Обёртка всего - идёт после body */
.wrapper {
	position: relative;
	background-image: url("../img/main/background.png") #E5E5E5;
}

/* Класс который устанавливет рабочую область для контента */
.container {
	max-width: 1183px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

/* Медиа запрос - на этом разрешении экрана изменятся отступы по краям */
@media (max-width: 1110px) {
	.container {
		padding: 0 10px;
	}
}