h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 45px;
	margin-bottom: 60px;
}

.project__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 50%;
}

@media (max-width: 768px) {
	.project__list {
		max-width: 70%;
	}
}

.project__list-item {
	font-weight: 400;
	font-size: 18px;
	line-height: 1;
	display: inline-block;
	color: grey;
	transition: .3s;
	position: relative;
}

.project__list-item:active {
	color: #2e3f4e;
}

.project__list-item:after {
	top: 30px;
	position: absolute;
	display: block;
	content: "";
	height: 1px;
	width: 0%;
	background-color: black;
	transition: width .3s ease-in-out;
}

.project__list-item:hover:after,
.project__list-item:focus:after {
	width: 100%;
}

.portfolio__row-3 {
	margin-top: 50px;
	margin-bottom: 135px;
}