.service__row-2 {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	// padding-bottom: 145px;
}

@media (max-width: 768px) {
	.service__row-2 {
		flex-direction: column;
	}
}

ul.service__menu-list {
	display: flex;
	flex-wrap: wrap;
	text-align: start;
}

.service__menu-list-item {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-bottom: 86px;
}

@media (max-width: 768px) {
	.service__menu-list-item {
		flex-basis: 50%;
		width: 320px;
		margin-bottom: 50px;
	}
}

.service__menu-list-item:last-child {
	margin-bottom: 140px;
}

@media (max-width: 768px) {
	.service__menu-list-item:last-child {
		margin-bottom: 70px;
	}
}

li:hover {
	padding-left: 25px;
	transition: 0.3s;
	// color: #01182b;
	font-weight: bold;
}

.service a {
	color: $color-global;
}

// .service a:hover {
// 	color: black;
// }

.service_art-imgbox {
	width: 883px;
	height: 340px;
}

@media (max-width: 768px) {
	.service_art-imgbox {
		width: 696px;
		height: 340px;
	}
}

.service-img {
	background-image: url("../img/section/service-list/image.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

.service_art-textinfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}

.service__list-block1 {
	max-width: 450px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.service__list-tittle {
	font-family: 'Playfair Display', serif;
	font-weight: 500;
	font-size: 30px;
	color: #223d53;
	margin-bottom: 25px;
}

.service__list-text {
	font-family: "Raleway";
	font-weight: 300;
	font-size: 18px;
	color: grey;
}

.service__list-number {
	width: 100%;
	margin-bottom: 74px;
	text-align: end;
	font-family: 'Raleway', sans-serif;
}

.service__list-button {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 15px;
	text-transform: uppercase;
	border: 2px solid black;
	background-color: transparent;
	padding: 20px 40px;
	transition: .3s;
}

.service__list-button:hover {
	background-color: #f8a25a;
	transition: .3s;
	color: white;
}