.service__menu-list-item {
	color: #00203a;
	font-size: 18px;
	margin-bottom: 60px;
}

.service__col-1 {
	flex-grow: 1;
}

.service__menu-list-item:last-child {
	margin-bottom: 140px;
}



.service__col-2 {
	flex-grow: 10;
}