/* Слайдер */
.slick-slider {
	max-width: 1082px;
	margin: 0 auto;
}

@media (max-width: 1000px) {
	.slick-slider {
		max-width: 800px;
	}
}

@media (max-width: 700px) {
	.slick-slider {
		max-width: 600px;
	}

	@media (max-width: 650px) {
		.slick-slider {
			max-width: 500px;
		}
	}
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
}

/* Слайд */
.slick-slide {
	position: relative;
	outline: none;
}

// /* Стрелка */
// .slick-arrow {}

// /* Стрелка влево */
// .slick-arrow.slick-prev {}

// /* Стрелка вправо */
// .slick-arrow.slick-next {}

// /* Стрелка не активная */
// .slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {
	display: flex;
	justify-content: center;
	margin-top: 55px;
}

/* Элемент точки */
.slick-dots li button {
	font-size: 0;
	width: 12px;
	height: 12px;
	background-color: #E1E1E1;
	border-radius: 50%;
	margin-left: 10px;
}

/* Активная точка */
.slick-dots li.slick-active button {
	background-color: $yellow;
}